<template>
  <el-dialog
    title="斗地主比赛奖励配置查看"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">


    <el-form :model="dataForm" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置奖励类型</span>
          </div>
          <el-col :span="8">
            <el-form-item label="渠道信息:" prop="channelName" label-width="140px">
              <el-tag type="success" style="width: 200px"> {{ dataForm.channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="8">
          </el-col>
          <el-col :span="8">
            <el-form-item label="奖励类型:" prop="timeType">
              <el-select v-model="dataForm.optionType" size="small" style="width: 150px" disabled>
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置充值奖励列表</span>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="rank1"
                header-align="center"
                align="center"
                label="起始排名">
              </el-table-column>
              <el-table-column
                prop="rank2"
                header-align="center"
                align="center"
                label="结束排名">
              </el-table-column>
              <el-table-column
                prop="award"
                header-align="center"
                align="center"
                label="奖励金额(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataList: [],
        options: [
          {
            value: 1,
            label: '日榜'
          }, {
            value: 2,
            label: '周榜'
          }
        ],
        dataForm: {
          channelId: '',
          channelName: '',
          openType: 1,
          optionType: 1,
          rank1: 1,
          rank2: 1,
          award: 1
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataList = []
        this.dataForm.openType = 1
        this.dataForm.optionType = 1
        this.dataForm.rank1 = 1
        this.dataForm.rank2 = 1
        this.dataForm.award = 1
      },
      init (channelId, channelName, optionType) {
        this.crearFrom()
        this.dataForm.channelId = channelId
        this.dataForm.channelName = channelName
        this.dataForm.optionType = optionType
        this.$nextTick(() => {
          this.visible = true
          this.$http({
            url: this.$http.adornUrl(`/match/ddzmatchrankaward/info`),
            method: 'get',
            params: this.$http.adornParams({
              'channelId': this.dataForm.channelId,
              'optionType': this.dataForm.optionType
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.dataList = data.rewardList
            }
          })
        })
      }
    }
  }
</script>
