<template>
  <el-dialog
    title="配置斗地主比赛奖励配置"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">


    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置奖励类型</span>
          </div>
          <el-col :span="8">
            <el-form-item label="渠道信息:" prop="channelName" label-width="140px">
              <el-tag type="success" style="width: 200px"> {{ dataForm.channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="8">
          </el-col>
          <el-col :span="8">
            <el-form-item label="奖励类型:" prop="timeType">
              <el-select v-model="dataForm.optionType" size="small" style="width: 150px">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>奖励配置</span>
            <el-button size="mini" type="warning"  style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-col :span="8">
            <el-form-item label="起始排名:" prop="rank1" label-width="150px">
              <el-input-number v-model="dataForm.rank1" size="small" :min="0" :max="9999999999" label="起始排名" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="结束排名:" prop="rank2" label-width="150px">
              <el-input-number v-model="dataForm.rank2" size="small" :min="0" :max="9999999999" label="结束排名" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="奖励金额(分):" prop="award" label-width="150px">
              <el-input-number v-model="dataForm.award" size="small" :min="0" :max="9999999999" label="奖励金额(分)" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置充值奖励列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="rank1"
                header-align="center"
                align="center"
                label="起始排名">
              </el-table-column>
              <el-table-column
                prop="rank2"
                header-align="center"
                align="center"
                label="结束排名">
              </el-table-column>
              <el-table-column
                prop="award"
                header-align="center"
                align="center"
                label="奖励金额(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        options: [
          {
            value: 1,
            label: '日榜'
          }, {
            value: 2,
            label: '周榜'
          }
        ],
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        dataList: [],
        btnLoading: false,
        dataForm: {
          channelId: '',
          channelName: '',
          openType: 1,
          optionType: 1,
          rank1: 1,
          rank2: 1,
          award: 1
        },
        dataRule: {
          optionType: [
            {required: true, message: '奖励类型不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearConfig () {
        this.$confirm(`确定对进行清空操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dataList = []
          this.dataForm.openType = 1
          this.dataForm.optionType = 1
          this.dataForm.rank1 = 1
          this.dataForm.rank2 = 1
          this.dataForm.award = 1
        }).catch(() => {
        })
      },
      doChange () {
        if (this.dataForm.timeType != null && this.dataForm.timeType === 2) {
          this.dataForm.beginTime = ''
          this.dataForm.endTime = ''
        }
        this.dataForm.maintTime = []
      },
      crearFrom () {
        this.dataList = []
        this.dataForm.openType = 1
        this.dataForm.optionType = 1
        this.dataForm.rank1 = 1
        this.dataForm.rank2 = 1
        this.dataForm.award = 1
        this.btnLoading = false
      },
      addConfig () {
        if ((this.dataForm.rank1 !== null && this.dataForm.rank1 !== '' && this.dataForm.rank1 !== undefined) &&
          (this.dataForm.rank2 !== null && this.dataForm.rank2 !== '' && this.dataForm.rank2 !== undefined) &&
          (this.dataForm.award !== null && this.dataForm.award !== '' && this.dataForm.award !== undefined)) {
          if (this.dataForm.rank2 >= this.dataForm.rank1) {
            let obj = {
              rank1: this.dataForm.rank1,
              rank2: this.dataForm.rank2,
              award: this.dataForm.award
            }
            this.dataList.push(obj)
            this.dataForm.rank1 = this.dataForm.rank2 + 1
          } else {
            this.$message.error('结束排名必须大于等于开始排名!')
          }
        } else {
          this.$message.error('添加参数不能为空!')
        }
      },
      isConfigFinish () {
        if (this.dataList !== null && this.dataList.length > 0) {
          return true
        } else {
          return false
        }
      },
      init (channelName) {
        this.visible = true
        this.crearFrom()
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          this.dataForm.channelName = channelName
        })
      },
      // 表单提交
      dataFormSubmit () {
        if (this.isConfigFinish()) {
          this.$refs['dataForm'].validate((valid) => {
            if (valid) {
              this.btnLoading = true
              this.$http({
                url: this.$http.adornUrl(`/match/ddzmatchrankaward/doConfig`),
                method: 'post',
                data: this.$http.adornData({
                  'awards': this.dataList,
                  'openType': this.dataForm.openType,
                  'optionType': this.dataForm.optionType
                })
              }).then(({data}) => {
                this.btnLoading = false
                if (data && data.code === 0) {
                  this.$message({
                    message: '配置斗地主比赛奖励成功',
                    type: 'success',
                    duration: 1500,
                    onClose: () => {
                      this.visible = false
                      this.btnLoading = false
                      this.$emit('refreshDataList')
                    }
                  })
                } else {
                  this.$message.error(data.msg)
                  this.btnLoading = false
                }
              })
            }
          })
        } else {
          this.$message.error('配置信息不能为空!')
        }
      }
    }
  }
</script>
