<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-card  style="margin-bottom: 0px">
        <el-row>
          <el-col :span="4.8">
            <el-form-item label="奖励类型:">
              <el-select v-model="dataForm.optionType" size="mini" clearable placeholder="奖励类型" >
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="开始时间:">
              <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                              value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间" >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="结束时间:">
              <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                              value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间" >
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item>
              <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
              <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
              <el-button type="danger" size="small" @click="ddzRewardConfig()">配置斗地主比赛奖励</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <div  style="margin-top: 5px">
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
        <el-table-column
          prop="channelId"
          header-align="center"
          align="center"
          label="渠道ID">
        </el-table-column>
        <el-table-column
          prop="channelName"
          header-align="center"
          align="center"
          label="渠道名称">
        </el-table-column>
        <el-table-column
          prop="iconUrl"
          header-align="center"
          align="center"
          label="图标">
          <template slot-scope="scope">
            <img :src="scope.row.iconUrl" min-width="50" height="50"/>
          </template>
        </el-table-column>
        <el-table-column
          fixed="right"
          header-align="center"
          align="center"
          label="状态">
          <template size="mini" slot-scope="scope">
            <el-switch
              style="display: block"
              size="mini"
              v-model="scope.row.openType"
              active-color="#13ce66"
              inactive-color="#ff4949"
              @change="channelOpenType(scope.row.channelId, scope.row.openType, scope.row.optionType)"
              active-text="开"
              inactive-text="关">
            </el-switch>
          </template>
        </el-table-column>
        <el-table-column
          prop="optionType"
          header-align="center"
          align="center"
          label="奖励类型">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.optionType === 1" size="small" type="success">日榜</el-tag>
            <el-tag v-else-if="scope.row.optionType === 2" size="small" type="danger">周榜</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          prop="cfgTimeStr"
          header-align="center"
          align="center"
          width="180"
          label="配置时间">
        </el-table-column>
        <el-table-column
          fixed="right"
          header-align="center"
          align="center"
          width="100"
          label="操作">
          <template slot-scope="scope">
            <!--
            <el-button type="text" size="small" @click="inviteDepositConfig(scope.row.channelId)">
              修改
            </el-button>-->
            <el-button type="text" size="small" @click="ddzRewardView(scope.row.channelId, scope.row.optionType)">
              查看
            </el-button>
          </template>
        </el-table-column>
        </el-table>
        <el-pagination
          @size-change="sizeChangeHandle"
          @current-change="currentChangeHandle"
          :current-page="pageIndex"
          :page-sizes="[10, 20, 50, 100]"
          :page-size="pageSize"
          :total="totalPage"
          layout="total, sizes, prev, pager, next, jumper">
        </el-pagination>
        <!-- 弹窗配置-->
        <DdzRewardConfig  ref="ddzRewardConfig" @refreshDataList="searchChange"></DdzRewardConfig>
        <!-- 弹窗查看-->
        <DdzRewardView  ref="ddzRewardView" @refreshDataList="searchChange"></DdzRewardView>
        <!-- 弹窗修改-->
        <DdzRewardUpdate  ref="ddzRewardUpdate" @refreshDataList="searchChange"></DdzRewardUpdate>
    </div>
  </div>
</template>

<script>
  import DdzRewardConfig from './ddzReward-config'
  import DdzRewardView from './ddzReward-view'
  import DdzRewardUpdate from './ddzReward-update'
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        channelName: '',
        dataForm: {
          optionType: '',
          startTime: '',
          endTime: ''
        },
        options: [{
          value: 1,
          label: '日榜'
        }, {
          value: 2,
          label: '周榜'
        }],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false,
        showConfigDialog: false,
        showViewDialog: false
      }
    },
    components: {
      DdzRewardConfig,
      DdzRewardView,
      DdzRewardUpdate
    },
    created () {
      this.getDataList()
    },
    methods: {
      clearForm () {
        this.dataForm.optionType = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 配置信息
      ddzRewardConfig () {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.ddzRewardConfig.init(this.channelName)
        })
      },
      ddzRewardView (channelId, optionType) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.ddzRewardView.init(channelId, this.channelName, optionType)
        })
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/match/ddzmatchrankaward/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'optionType': this.dataForm.optionType,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          if (data.channel != null && data.channel.channelName !== null && data.channel.channelName !== '') {
            this.channelName = data.channel.channelName
          }
          this.dataListLoading = false
        })
      },
      channelOpenType (channelId, openType, optionType) {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/match/ddzmatchrankaward/channelOpenType'),
          method: 'post',
          data: this.$http.adornData({
            'channelId': channelId,
            'openType': openType,
            'optionType': optionType
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.$message({
              message: '修改状态操作成功',
              type: 'success',
              duration: 1500
            })
          } else {
            this.$message.error(data.msg)
          }
          this.getDataList()
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
