<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-card  style="margin-bottom: 0px">
        <el-row>
          <el-col :span="6">
            <el-form-item label="用户编码:">
              <el-input
                v-model="dataForm.userId" align="right" size="small" clearable placeholder="用户ID" style="width: 250px">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
              <el-form-item label="报名场次:">
              <el-input v-model="dataForm.matches" align="right" size="small" clearable placeholder="报名场次" style="width: 250px">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="比赛排名:">
              <el-input v-model="dataForm.matchRank" align="right" type="number" size="small" clearable placeholder="比赛排名" style="width: 250px">
              </el-input>
            </el-form-item>
          </el-col>
         </el-row>
        <el-row>
          <el-col :span="6">
            <el-form-item label="开始时间:">
              <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                              value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间" style="width: 250px">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="结束时间:">
              <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                              value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间" style="width: 250px">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item>
              <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
              <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <div  style="margin-top: 5px">
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
        <el-table-column
          prop="UserID"
          header-align="center"
          align="center"
          label="用户ID">
        </el-table-column>
        <el-table-column
          prop="Matches"
          header-align="center"
          align="center"
          width="150"
          label="报名场次">
        </el-table-column>
        <el-table-column
          prop="MatchRank"
          header-align="center"
          align="center"
          label="比赛排名">
        </el-table-column>
       <!--
        <el-table-column
          prop="MatchPoint"
          header-align="center"
          align="center"
          width="220"
          label="比赛积分">
        </el-table-column> -->
        <el-table-column
          prop="BoardAmount"
          header-align="center"
          align="center"
          label="累计局数">
        </el-table-column>
        <el-table-column
          prop="StartTime"
          header-align="center"
          align="center"
          width="150"
          label="开始时间">
        </el-table-column>
        <el-table-column
          prop="EndTime"
          header-align="center"
          align="center"
          width="150"
          label="结束时间">
        </el-table-column>
        <el-table-column
          prop="GameTypeID"
          header-align="center"
          width="120"
          align="center"
          label="游戏类型ID">
        </el-table-column>
        <el-table-column
          prop="gameKindName"
          header-align="center"
          width="120"
          align="center"
          label="游戏名称">
        </el-table-column>
        <el-table-column
          prop="phoneGameName"
          header-align="center"
          align="center"
          width="240"
          label="游戏房间">
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="sizeChangeHandle"
        @current-change="currentChangeHandle"
        :current-page="pageIndex"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        :total="totalPage"
        layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          matches: '',
          matchRank: '',
          regTime: [],
          startTime: '',
          endTime: '',
          status: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false
      }
    },
    components: {

    },
    created () {
    },
    methods: {
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.matches = ''
        this.dataForm.matchRank = ''
        this.dataForm.recordId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 3) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 积分'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      searchChange () {
        if (this.dataForm.startTime === null || this.dataForm.startTime === '' || this.dataForm.endTime === null || this.dataForm.endTime === '') {
          this.$message.error('请输入起止时间!')
          return
        } else {
          if (this.dataForm.matchRank === null || this.dataForm.matchRank === '') {
          } else {
            if (this.dataForm.matchRank <= 0) {
              this.$message.error('比賽排名必須大于0!')
              return
            }
          }
        }
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/match/playerrank/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'status': this.dataForm.status,
            'matches': this.dataForm.matches,
            'matchRank': this.dataForm.matchRank,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
