<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-card  style="margin-bottom: 0px">
        <el-row>
          <el-col :span="4.8">
            <el-form-item label="会员编码:">
              <el-input v-model="dataForm.userId" align="right" size="small" clearable placeholder="会员编码">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="开始时间:">
              <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
               value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="结束时间:">
              <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
               value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="订单号:">
              <el-input size="small" v-model="dataForm.orderId"  placeholder="订单号" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4.8">
            <el-form-item label="投注期数:">
              <el-input size="small" v-model="dataForm.issueId"  placeholder="投注期数" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="游戏名称:">
              <el-input size="small" v-model="dataForm.gameId"  placeholder="游戏名称" prefix-icon="el-icon-edit" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
          </el-col>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <el-col :span="4.8">
            <el-form-item>
              <el-button size="mini" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
              <el-button size="mini" @click="clearForm()" icon="el-icon-delete">清空</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="orderId"
        header-align="center"
        align="center"
        label="订单ID">
      </el-table-column>
      <el-table-column
        prop="sn"
        header-align="center"
        align="center"
        label="厅代码">
      </el-table-column>
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="gameName"
        header-align="center"
        align="center"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="orderStatus"
        header-align="center"
        align="center"
        width="100"
        label="注单状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.orderStatus === 0" size="small" type="success">不存在</el-tag>
          <el-tag v-else-if="scope.row.orderStatus === 1" size="small" type="danger">未结算</el-tag>
          <el-tag v-else-if="scope.row.orderStatus === 2" size="small" type="warning">结算赢</el-tag>
          <el-tag v-else-if="scope.row.orderStatus === 3" size="small" type="info">结算和</el-tag>
          <el-tag v-else-if="scope.row.orderStatus === 4" size="small" type="warning">结算输</el-tag>
          <el-tag v-else-if="scope.row.orderStatus === 5" size="small" type="success">取消</el-tag>
          <el-tag v-else-if="scope.row.orderStatus === 6" size="small" type="danger">过期</el-tag>
          <el-tag v-else-if="scope.row.orderStatus === 7" size="small" type="info">系统取消</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="bamount"
        header-align="center"
        align="center"
        label="下注额">
      </el-table-column>
      <el-table-column
        prop="aamount"
        header-align="center"
        align="center"
        label="结算额">
      </el-table-column>
      <el-table-column
        prop="validBet"
        header-align="center"
        align="center"
        label="打码量">
      </el-table-column>
      <el-table-column
        prop="payment"
        header-align="center"
        align="center"
        label="派彩">
      </el-table-column>
      <el-table-column
        prop="playName"
        header-align="center"
        align="center"
        label="玩法名称">
      </el-table-column>
      <el-table-column
        prop="orderFrom"
        header-align="center"
        align="center"
        label="来源">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.orderFrom === 0" size="small" type="success">未知终端</el-tag>
          <el-tag v-else-if="scope.row.orderFrom === 1" size="small" type="danger">PC版</el-tag>
          <el-tag v-else-if="scope.row.orderFrom === 2" size="small" type="warning">安卓App</el-tag>
          <el-tag v-else-if="scope.row.orderFrom === 3" size="small" type="info">苹果App</el-tag>
          <el-tag v-else-if="scope.row.orderFrom === 4" size="small" type="warning">平板电脑</el-tag>
          <el-tag v-else-if="scope.row.orderFrom === 5" size="small" type="success">HTML-5</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="orderTime"
        header-align="center"
        align="center"
        label="下注时间">
      </el-table-column>
      <el-table-column
        prop="fromIp"
        header-align="center"
        align="center"
        label="来源IP">
      </el-table-column>
      <el-table-column
        prop="issueId"
        header-align="center"
        align="center"
        label="下注期数">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          startTime: '',
          endTime: '',
          orderId: '',
          issueId: '',
          gameId: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false
      }
    },
    components: {
    },
    created () {
      this.initTimeData()
      this.getDataList()
    },
    methods: {
      initTimeData () {
        this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'
        this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 23:59:59'
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.orderId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
        this.dataForm.issueId = ''
        this.dataForm.gameId = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 6 || index === 5 || index === 6 || index === 7 || index === 8) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 元'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/bgbetrecord/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'orderId': this.dataForm.orderId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime,
            'issueId': this.dataForm.issueId,
            'gameId': this.dataForm.gameId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
