<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-card  style="margin-bottom: 0px">
        <el-row>
          <el-col :span="4.8">
            <el-form-item label="会员编码:">
              <el-input v-model="dataForm.userId" align="right" size="small" clearable placeholder="会员编码">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="开始时间:">
              <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                              value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item label="结束时间:">
              <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                              value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4.8">
            <el-form-item>
              <el-button size="mini" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
              <el-button size="mini" @click="clearForm()" icon="el-icon-delete">清空</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="pid"
        header-align="center"
        align="center"
        label="记录ID">
      </el-table-column>
      <el-table-column
        prop="sn"
        header-align="center"
        align="center"
        label="厅代码">
      </el-table-column>
      <el-table-column
        prop="uid"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="balance"
        header-align="center"
        align="center"
        label="余额">
      </el-table-column>
      <el-table-column
        prop="amount"
        header-align="center"
        align="center"
        label="兑换金额">
      </el-table-column>
      <el-table-column
        prop="time"
        header-align="center"
        align="center"
        label="兑换时间">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false
      }
    },
    components: {
    },
    created () {
      this.initTimeData()
      this.getDataList()
    },
    methods: {
      initTimeData () {
        this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'
        this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 23:59:59'
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.orderId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
        this.dataForm.issueId = ''
        this.dataForm.gameId = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 6 || index === 5 || index === 6 || index === 7 || index === 8) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 元'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/bgredpacketexchange/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
