<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input
          v-model="dataForm.userId" align="right" size="small" clearable placeholder="用户ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime" value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime" value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="bizId"
        header-align="center"
        align="center"
        label="业务单据">
      </el-table-column>
      <el-table-column
        prop="sn"
        header-align="center"
        align="center"
        label="厅号码">
      </el-table-column>
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="status"
        header-align="center"
        align="center"
        label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small" type="danger">成功</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="warning">失败</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="amount"
        header-align="center"
        align="center"
        label="转账金额(元)">
      </el-table-column>
      <el-table-column
        prop="sysBalance"
        header-align="center"
        align="center"
        label="系统余额(元)">
      </el-table-column>
      <el-table-column
        prop="bgBalance"
        header-align="center"
        align="center"
        label="bg余额(元)">
      </el-table-column>
      <el-table-column
        prop="accountItem"
        header-align="center"
        align="center"
        label="会计项目">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.accountItem === 1" size="small" type="danger">转入(系统->BG)</el-tag>
          <el-tag v-else-if="scope.row.accountItem === 2" size="small" type="warning">转出(BG->系统)</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="operateTime"
        header-align="center"
        align="center"
        label="操作时间">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false
      }
    },
    components: {
    },
    created () {
      this.getDataList()
    },
    methods: {
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.status = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 4 || index === 5 || index === 6) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 元'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/bgtransfer/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
