<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ABC休闲渠道管理系统</title>
  <% if (process.env.NODE_ENV === 'production') { %>
  <!-- 生产环境 -->
  <script>document.write('<script src="./config/index.js?t=' + new Date().getTime() + '"><\/script>')</script>
  <% }else { %>
  <!-- 开发环境 -->
  <link rel="shortcut icon" type="image/x-icon" href="./static/img/favicon.ico">
  <script src="./static/config/index.js"></script>
  <script src="./static/plugins/mock-1.0.0-beta3/mock-min.js"></script>
  <script src="./static/plugins/echarts-3.8.5/echarts.common.min.js"></script>
  <script src="./static/plugins/ueditor-1.4.3.3/ueditor.config.js"></script>
  <script src="./static/plugins/ueditor-1.4.3.3/ueditor.all.min.js"></script>
  <script src="./static/plugins/ueditor-1.4.3.3/lang/zh-cn/zh-cn.js"></script>
  <% } %>
</head>
<body>
<div id="app"></div>
</body>
</html>
