<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()"  style="margin-top: -20px">
      <el-card  style="margin-bottom: 0px">
        <el-row>
          <el-col :span="5">
            <el-form-item label="会员编码:">
              <el-input v-model="dataForm.userId" size="mini" placeholder="会员ID" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="上级编码:">
              <el-input v-model="dataForm.promoterId" size="mini" placeholder="代理上级ID" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="条件类型:">
              <el-select v-model="dataForm.queryType" size="mini" placeholder="条件类型" clearable>
                <el-option v-for="item in queryOptions" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="条件数值:">
              <el-input v-model="dataForm.queryValue" size="mini" placeholder="条件数值" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="5">
            <el-form-item label="是否充值:">
              <el-select v-model="dataForm.isRecharge" size="mini" placeholder="是否充值" clearable>
                <el-option v-for="item in isRechargeOptions" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="用户等级:">
              <el-select v-model="dataForm.vipLevel" size="mini" placeholder="用户等级" clearable>
                <el-option v-for="item in vipLevelOptions" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="注册起止:">
              <el-date-picker v-model="dataForm.regTime" clearable size="mini"  type="datetimerange"
                              value-format="timestamp" format="yyyy-MM-dd HH:mm:ss" range-separator="至"
                              start-placeholder="开始日期" end-placeholder="结束日期">
              </el-date-picker>
            </el-form-item>
          </el-col>

        </el-row>
        <el-row>
          <el-col :span="5">
            <el-form-item label="注册来源:">
              <el-input v-model="dataForm.source" size="mini" placeholder="注册来源" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item label="注册地址:">
              <el-input v-model="dataForm.ip" size="mini" placeholder="注册IP" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="5">
            <el-form-item>
              <el-button size="mini" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
              <el-button size="mini" @click="clearForm()" icon="el-icon-delete">清空</el-button>
            </el-form-item>
          </el-col>
        </el-row>
      </el-card>
    </el-form>
    <div  style="margin-top: 5px">
      <el-table
        @sort-change='tableSortChange'
        :data="dataList"
        border
        size="small"
        v-loading="dataListLoading"
        @selection-change="selectionChangeHandle"
        style="width: 100%;">
        <el-table-column
          prop="tAccountid"
          header-align="center"
          align="center"
          width="80"
          label="会员ID">
        </el-table-column>
        <el-table-column
          prop="tRealName"
          header-align="center"
          align="center"
          width="120"
          label="真实姓名">
        </el-table-column>
        <el-table-column
          prop="tAccountname"
          header-align="center"
          align="center"
          width="120"
          label="用户名称">
        </el-table-column>
        <el-table-column
          prop="tNickname"
          header-align="center"
          align="center"
          width="120"
          label="用户昵称">
        </el-table-column>
        <el-table-column
          prop="tGoldcoin"
          header-align="center"
          align="center"
          width="120"
          sortable='custom'
          label="账户金额(分)">
        </el-table-column>
        <el-table-column
          prop="tBankgoldcoin"
          header-align="center"
          align="center"
          width="120"
          sortable='custom'
          label="银行金额(分)">
        </el-table-column>
        <el-table-column
          prop="tPhonenumber"
          header-align="center"
          align="center"
          width="150"
          label="手机号">
        </el-table-column>
        <el-table-column
          prop="tVipLevel"
          header-align="center"
          align="center"
          width="100"
          label="会员等级">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.tVipLevel === 0" size="small" type="warning">VIP0</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 1" size="small" type="warning">VIP1</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 2" size="small" type="warning">VIP2</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 3" size="small" type="warning">VIP3</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 4" size="small" type="warning">VIP4</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 5" size="small" type="warning">VIP5</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 6" size="small" type="warning">VIP6</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 7" size="small" type="warning">VIP7</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 8" size="small" type="warning">VIP8</el-tag>
            <el-tag v-else-if="scope.row.tVipLevel === 8" size="small" type="warning">VIP9</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          prop="lastRechargeTime"
          header-align="center"
          align="center"
          width="100"
          label="最后充值">
        </el-table-column>
        <el-table-column
          prop="promoterId"
          header-align="center"
          align="center"
          width="100"
          :formatter="defaultValue"
          label="上级代理ID">
        </el-table-column>
        <el-table-column
          prop="tAccountstate"
          header-align="center"
          align="center"
          width="80"
          sortable='custom'
          label="状态">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.tAccountstate === 0" size="small" type="success">正常</el-tag>
            <el-tag v-else-if="scope.row.tAccountstate === 1" size="small" type="danger">临时冻结</el-tag>
            <el-tag v-else-if="scope.row.tAccountstate === 2" size="small" type="warning">永久冻结</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          prop="tRegtime"
          header-align="center"
          align="center"
          width="150"
          label="注册时间">
        </el-table-column>
        <el-table-column
          prop="tLastlogintime"
          header-align="center"
          align="center"
          width="150"
          label="最后登入">
        </el-table-column>
        <el-table-column
          prop="tRegip"
          header-align="center"
          align="center"
          width="120"
          label="注册IP">
        </el-table-column>
        <el-table-column
          prop="tSex"
          header-align="center"
          align="center"
          width="100"
          label="用户性别">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.tSex === 0" size="small" type="success">保密</el-tag>
            <el-tag v-else-if="scope.row.tSex === 1" size="small" type="danger">男</el-tag>
            <el-tag v-else-if="scope.row.tSex === 2" size="small" type="warning">女</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          prop="tRechargemoney"
          header-align="center"
          align="center"
          width="100"
          sortable='custom'
          label="累计充值">
        </el-table-column>
        <el-table-column
          prop="tTotalgametime"
          header-align="center"
          align="center"
          width="100"
          sortable='custom'
          label="总计时长">
        </el-table-column>
        <el-table-column
          prop="tOrigin"
          header-align="center"
          align="center"
          width="200"
          label="注册来源">
        </el-table-column>
        <el-table-column
          prop="note"
          header-align="center"
          align="center"
          width="200"
          label="用户备注">
        </el-table-column>
        <el-table-column
          fixed="right"
          header-align="center"
          align="center"
          width="120"
          label="操作">
          <template slot-scope="scope">
            <el-dropdown size="small" split-button type="danger">
              操作
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item command="userDetails" @click.native="viewAccountHandle(scope.row.tAccountid)">用户详情
                </el-dropdown-item>
                <el-dropdown-item command="kickUser" @click.native="kickUser(scope.row.tAccountid)">踢人
                </el-dropdown-item>
                <el-dropdown-item command="modifyPw" @click.native="loginPwDialogShow(scope.row.tAccountid)">修改密码
                </el-dropdown-item>
                <el-dropdown-item command="modifyState" @click.native="accountStatusHandle(scope.row.tAccountid, scope.row.tAccountstate)">
                  修改状态
                </el-dropdown-item>
                <el-dropdown-item command="viewInGame" @click.native="viewInGame(scope.row.tAccountid)">所在游戏
                </el-dropdown-item>
                <el-dropdown-item command="unbindPhoneNum" @click.native="unbindPhoneNum(scope.row.tAccountid, scope.row.tAccountstate)">解绑手机
                </el-dropdown-item>
                <el-dropdown-item command="clearCommonDev" @click.native="clearCommonDev(scope.row.tAccountid, scope.row.tAccountstate)">解绑设备
                </el-dropdown-item>
                <el-dropdown-item command="cashInfo" @click.native="cashInfo(scope.row.tAccountid, scope.row.tAccountstate)">提现信息
                </el-dropdown-item>
                <el-dropdown-item command="addPromoter" @click.native="addPromoter(scope.row.tAccountid, scope.row.promoterId)">添加上级
                </el-dropdown-item>
                <el-dropdown-item command="bindNumber" @click.native="bindNumber(scope.row.tAccountid, scope.row.tPhonenumber)">绑定号码
                </el-dropdown-item>
                <el-dropdown-item command="addUserNote" @click.native="addUserNote(scope.row.tAccountid)">用户备注
                </el-dropdown-item>
                <el-dropdown-item command="modifyUserRealName" @click.native="modifyUserRealName(scope.row.tAccountid)">姓名修改
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="sizeChangeHandle"
        @current-change="currentChangeHandle"
        :current-page="pageIndex"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        :total="totalPage"
        layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
      <!--弹窗，绑定信息-->
      <UserAccountCash v-if="showAccountCashVisible" ref="userAccountCash" @refreshDataList="searchChange"></UserAccountCash>
      <!-- 弹窗, 新增 / 修改 -->
      <UserAccount v-if="showAccountVisible" ref="userAccount" @refreshDataList="searchChange"></UserAccount>
      <!--弹窗修改状态-->
      <AccountStatus v-if="showStateDialog" ref="accountStatus" @refreshDataList="searchChange"></AccountStatus>
      <!--修改登录密码-->
      <LoginPw v-if="showLoginPwDialog" ref="loginpw" @refreshDataList="searchChange"></LoginPw>
      <!--添加用户上级-->
      <UserAccountPromoter v-if="showAddPromoterDialog" ref="userAccountPromoter" @refreshDataList="searchChange"></UserAccountPromoter>
      <!--绑定号码-->
      <UserAccountBindNumber v-if="showBindNumberDialog" ref="userAccountBindNumber" @refreshDataList="searchChange"></UserAccountBindNumber>
      <!--修改备注-->
      <UserAccountEditNote v-if="showEditNoteDialog" ref="userAccountEditNote" @refreshDataList="searchChange"></UserAccountEditNote>
      <!--修改用户真实姓名-->
      <UserAccountModifyRealName v-if="showModifyRealNameDialog" ref="userAccountModifyRealName" @refreshDataList="searchChange"></UserAccountModifyRealName>
      <!--游戏信息列表-->
      <UserAccountInGame v-if="showInGameDialog" ref="userAccountInGame" @refreshDataList="searchChange"></UserAccountInGame>
    </div>
  </div>
</template>

<script>
  import {downloadFile} from '@/utils/export'
  import UserAccountCash from './userAccount-cash'
  import UserAccount from './userAccount-detail'
  import AccountStatus from './userAccount-status'
  import LoginPw from './userAccount-loginPw'
  import UserAccountPromoter from './userAccount-promoter'
  import UserAccountBindNumber from './userAccount-bindNumber'
  import UserAccountEditNote from './userAccount-editNote'
  import UserAccountInGame from './userAccount-inGame'
  import UserAccountModifyRealName from './userAccount-modifyRealName'

  export default {
    data () {
      return {
        dataForm: {
          nickName: '',
          promoterId: '',
          vipLevel: '',
          userName: '',
          source: '',
          queryType: '',
          queryValue: '',
          userId: '',
          isOnLine: '',
          order: '',
          ip: '',
          isRecharge: '',
          regTime: [],
          regStartTime: '',
          regEndTime: '',
          sortby: ''
        },
        isRechargeOptions: [{
          value: 0,
          label: '充值'
        }, {
          value: 1,
          label: '未充值'
        }],
        queryOptions: [{
          value: 1,
          label: '名称'
        }, {
          value: 2,
          label: '昵称'
        }, {
          value: 3,
          label: '姓名'
        }, {
          value: 4,
          label: '账号'
        }, {
          value: 5,
          label: '手机号'
        }],
        isOnLineOptions: [{
          value: 0,
          label: '离线'
        }, {
          value: 1,
          label: '在线'
        }],
        vipLevelOptions: [{
          value: 0,
          label: 'VIP0'
        }, {
          value: 1,
          label: 'VIP1'
        }, {
          value: 2,
          label: 'VIP2'
        }, {
          value: 3,
          label: 'VIP3'
        }, {
          value: 4,
          label: 'VIP4'
        }, {
          value: 5,
          label: 'VIP5'
        }, {
          value: 6,
          label: 'VIP6'
        }, {
          value: 7,
          label: 'VIP7'
        }, {
          value: 8,
          label: 'VIP8'
        }, {
          value: 9,
          label: 'VIP9'
        }],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        downloadLoading: false,
        showAccountVisible: false,
        showAccountCashVisible: false,
        showStateDialog: false,
        showLoginPwDialog: false,
        showAddPromoterDialog: false,
        showEditNoteDialog: false,
        showBindNumberDialog: false,
        showModifyRealNameDialog: false,
        showInGameDialog: false
      }
    },
    components: {
      UserAccount,
      AccountStatus,
      LoginPw,
      UserAccountCash,
      UserAccountPromoter,
      UserAccountBindNumber,
      UserAccountEditNote,
      UserAccountModifyRealName,
      UserAccountInGame
    },
    created () {
      this.getDataList()
    },
    methods: {
      clearForm () {
        this.dataForm.nickName = ''
        this.dataForm.promoterId = ''
        this.dataForm.userName = ''
        this.dataForm.userId = ''
        this.dataForm.source = ''

        this.dataForm.queryType = ''
        this.dataForm.queryValue = ''
        this.dataForm.isOnLine = ''
        this.dataForm.order = ''
        this.dataForm.ip = ''

        this.dataForm.isRecharge = ''
        this.dataForm.regTime = []
        this.dataForm.regStartTime = ''
        this.dataForm.vipLevel = ''
        this.dataForm.regEndTime = ''
        this.dataForm.sortby = ''
      },
      modifyUserRealName (accountId) {
        this.showModifyRealNameDialog = true
        this.$nextTick(() => {
          this.$refs.userAccountModifyRealName.init(accountId)
        })
      },
      tableSortChange (column) {
        if (column.order === 'descending') {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'desc'
        } else {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'asc'
        }
        this.getDataList()
      },
      defaultValue (row, column) {
        var value = row[column.property]
        if (value === undefined || value === '0' || value === 0) {
          return ''
        }
        return value
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      download () {
        this.downloadLoading = true
        if (this.dataForm.regTime != null && this.dataForm.regTime.length === 2) {
          this.dataForm.regStartTime = this.dataForm.regTime[0]
          this.dataForm.regEndTime = this.dataForm.regTime[1]
        } else {
          this.dataForm.regStartTime = ''
          this.dataForm.regEndTime = ''
        }
        this.$http({
          url: this.$http.adornUrl('/cac/accountinfo/download'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'nickName': this.dataForm.nickName,
            'userName': this.dataForm.userName,
            'ip': this.dataForm.ip,
            'userId': this.dataForm.userId,
            'queryType': this.dataForm.queryType,
            'queryValue': this.dataForm.queryValue,
            'promoterId': this.dataForm.promoterId,
            'isOnLine': this.dataForm.isOnLine,
            'vipLevel': this.dataForm.vipLevel,
            'regStartTime': this.dataForm.regStartTime,
            'regEndTime': this.dataForm.regEndTime,
            'isRecharge': this.dataForm.isRecharge,
            'source': this.dataForm.source,
            'order': this.dataForm.order,
            'sortby': this.dataForm.sortby
          })
        }).then(({result}) => {
          downloadFile(result, '用户信息列表', 'xlsx')
          this.downloadLoading = false
        })
      },
      closeDialog () {
        this.showStateDialog = false
        this.showLoginPwDialog = false
        this.showAccountVisible = false
        this.showAccountCashVisible = false
        this.showAddPromoterDialog = false
      },
      addPromoter (accountid, promoterId) {
        if (promoterId === null || promoterId === '' || promoterId === 0 || promoterId === '0') {
        } else {
          this.$message.error('当前用户已经存在上级!')
          return
        }
        this.showAddPromoterDialog = true
        this.$nextTick(() => {
          this.$refs.userAccountPromoter.init(accountid)
        })
      },
      bindNumber (accountId, phonenumber) {
        if (phonenumber === null || phonenumber === '' || phonenumber === 0 || phonenumber === '0') {
        } else {
          this.$message.error('当前用户已经绑定了手机号!')
          return
        }
        this.showBindNumberDialog = true
        this.$nextTick(() => {
          this.$refs.userAccountBindNumber.init(accountId)
        })
      },
      addUserNote (accountId) {
        this.showEditNoteDialog = true
        this.$nextTick(() => {
          this.$refs.userAccountEditNote.init(accountId)
        })
      },
      cashInfo (id, status) {
        this.showAccountCashVisible = true
        this.$nextTick(() => {
          this.$refs.userAccountCash.init(id)
        })
      },
      viewInGame (id) {
        this.showInGameDialog = true
        this.$nextTick(() => {
          this.$refs.userAccountInGame.init(id)
        })
      },
      kickUser (id) {
        this.$confirm('是否确认将ID为' + id + '的用户踢掉?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/accountinfo/kickUser'),
            method: 'post',
            params: this.$http.adornParams({
              'userId': id
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                showClose: true,
                message: '踢人成功',
                type: 'success'
              })
            } else {
              this.$message.error('用户不在游戏中!')
            }
            this.getDataList()
          })
        })
      },
      unbindPhoneNum (id) {
        this.$confirm('是否确认将ID为' + id + '手机号码解除?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/accountinfo/unbindPhoneNum'),
            method: 'post',
            params: this.$http.adornParams({
              'userId': id
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                showClose: true,
                message: '解除手机号码绑定成功',
                type: 'success'
              })
            } else {
              this.$message.error('解除手机号码绑定失败!')
            }
            this.getDataList()
          })
        })
      },
      clearCommonDev (id) {
        this.$confirm('是否确认将ID为' + id + '设备信息清空?', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/accountinfo/clearCommonDev'),
            method: 'post',
            params: this.$http.adornParams({
              'userId': id
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                showClose: true,
                message: '清空设备信息成功',
                type: 'success'
              })
            } else {
              this.$message.error('清空设备信息失败!')
            }
            this.getDataList()
          })
        })
      },
      loginPwDialogShow (id) {
        this.showLoginPwDialog = true
        this.$nextTick(() => {
          this.$refs.loginpw.init(id)
        })
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.regTime != null && this.dataForm.regTime.length === 2) {
          this.dataForm.regStartTime = this.dataForm.regTime[0]
          this.dataForm.regEndTime = this.dataForm.regTime[1]
        } else {
          this.dataForm.regStartTime = ''
          this.dataForm.regEndTime = ''
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/accountinfo/adminlist'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'nickName': this.dataForm.nickName,
            'userName': this.dataForm.userName,
            'ip': this.dataForm.ip,
            'userId': this.dataForm.userId,
            'queryType': this.dataForm.queryType,
            'queryValue': this.dataForm.queryValue,
            'promoterId': this.dataForm.promoterId,
            'vipLevel': this.dataForm.vipLevel,
            'isOnLine': this.dataForm.isOnLine,
            'regStartTime': this.dataForm.regStartTime,
            'regEndTime': this.dataForm.regEndTime,
            'isRecharge': this.dataForm.isRecharge,
            'source': this.dataForm.source,
            'order': this.dataForm.order,
            'sortby': this.dataForm.sortby
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 查看用户详情
      viewAccountHandle (id) {
        this.showAccountVisible = true
        this.$nextTick(() => {
          this.$refs.userAccount.init(id)
        })
      },
      accountStatusHandle (id, state) {
        this.showStateDialog = true
        this.$nextTick(() => {
          this.$refs.accountStatus.init(id, state)
        })
      }
    }
  }
</script>
