<template>
  <el-dialog
    title="图表详情"
    width="55%"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <div>
      <el-table
        :data="dataList"
        v-loading="dataListLoading"
        size="small"
        border
        style="width: 100%;">
        <el-table-column
          prop="name"
          header-align="center"
          align="center"
          label="注册日期">
        </el-table-column>
        <el-table-column
          prop="value"
          header-align="center"
          align="center"
          label="在线人数">
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="sizeChangeHandle"
        @current-change="currentChangeHandle"
        :current-page="pageIndex"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        :total="totalPage"
        layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataForm: {
          cardRecordName: '',
          betDetailName: '',
          recordId: '',
          Periodical: '',
          gameKindName: '',
          phoneGameName: ''
        }
      }
    },
    methods: {
      clearForm () {
        this.dataList = []
        this.pageIndex = 1
        this.pageSize = 10
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      getDataList () {
        this.$http({
          url: this.$http.adornUrl('/cac/onlineplayer/chart'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize
          })
        }).then(({data}) => {
          this.dataListLoading = false
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          }
        })
      },
      init () {
        this.dataListLoading = true
        this.visible = true
        this.$nextTick(() => {
          this.getDataList()
        })
      }
    }
  }
</script>
