<template>
  <div class="mod-config">
    <el-card>
      <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
        <el-form-item>
          <el-input v-model="dataForm.userId" size="small" placeholder="会员ID" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="dataForm.nickName" size="small" placeholder="会员昵称" clearable></el-input>
        </el-form-item>
        <el-form-item  prop="roomType" label-width="100px">
          <el-select v-model="dataForm.roomType" size="small" clearable>
            <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
          </el-select>
        </el-form-item>
        <el-form-item v-if="this.dataForm.roomType == 2">
          <el-cascader :options="roomOptions" v-model="dataForm.roomArr" clearable size="small" placeholder="房间信息"
                       clearable>
          </el-cascader>
        </el-form-item>
        <el-form-item>
          <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
          <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
          <el-button type="danger" size="small" @click="viewStatis()">登录统计信息</el-button>
        </el-form-item>
      </el-form>
    </el-card>
    <div style="height: 130px; margin-top: 5px" v-if="this.dataList.length > 0">
      <el-row style="height: 130px">
        <el-col :span="24">
          <el-card style="height: 130px">
            <div slot="header" class="clearfix">
              <i class="el-icon-setting"></i> <span>在线统计信息:</span>
            </div>
            <el-row>
              <el-col :span="8">
                总计在线人数:
                <el-tag type="success" effect="dark"> {{this.statisData.onlineNum}}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8">
                大厅人数:
                <el-tag type="info" effect="dark"> {{this.statisData.hallNum}}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8">
                游戏人数:
                <el-tag type="warning" effect="dark"> {{this.statisData.gameNum}}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <div style="margin-top: 10px">
      <el-table
        :data="dataList"
        border
        size="small"
        v-loading="dataListLoading"
        @selection-change="selectionChangeHandle"
        style="width: 100%;margin-bottom: 5px;margin-top: -5px">
        <el-table-column
          prop="accountId"
          header-align="center"
          align="center"
          width="100"
          label="会员ID">
        </el-table-column>
        <el-table-column
          prop="accountName"
          header-align="center"
          align="center"
          width="120"
          label="用户名称">
        </el-table-column>
        <el-table-column
          prop="nickName"
          header-align="center"
          align="center"
          width="120"
          label="用户昵称">
        </el-table-column>
        <el-table-column
          prop="phoneNumber"
          header-align="center"
          width="180"
          align="center"
          :formatter="phoneNumberFormat"
          label="手机号">
        </el-table-column>
        <el-table-column
          prop="gameKindName"
          header-align="center"
          width="120"
          align="center"
          label="游戏名称">
        </el-table-column>
        <el-table-column
          prop="gameId"
          header-align="center"
          width="80"
          align="center"
          label="房间ID">
        </el-table-column>
        <el-table-column
          prop="phoneGameName"
          header-align="center"
          :formatter="roomNameFormat"
          align="center"
          width="200"
          label="房间名称">
        </el-table-column>
        <el-table-column
          prop="enterTime"
          header-align="center"
          align="center"
          width="150"
          label="进入时间">
        </el-table-column>
        <el-table-column
          prop="coin"
          header-align="center"
          align="center"
          width="80"
          label="金额(分)">
        </el-table-column>
        <el-table-column
          prop="regIp"
          header-align="center"
          align="center"
          width="150"
          label="注册IP">
        </el-table-column>
        <el-table-column
          prop="regTime"
          header-align="center"
          align="center"
          width="150"
          label="注册时间">
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="sizeChangeHandle"
        @current-change="currentChangeHandle"
        :current-page="pageIndex"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        :total="totalPage"
        layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <OnLineStatisDetails  ref="onLineStatisDetails" @refreshDataList="searchChange"></OnLineStatisDetails>
  </div>
</template>

<script>
  import OnLineStatisDetails from './onLineStatisDetails'
  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          nikeName: '',
          roomType: '',
          gameRoomId: '',
          roomArr: []
        },
        statisData: {
          hallNum: '',
          onlineNum: '',
          gameNum: ''
        },
        options: [
          {
            value: 1,
            label: '大厅'
          }, {
            value: 2,
            label: '游戏'
          }
        ],
        dataList: [],
        roomOptions: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: []
      }
    },
    components: {OnLineStatisDetails},
    created () {
      this.getDataList()
      this.getTreeData()
    },
    methods: {
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      roomNameFormat (row, column) {
        var phoneNumber = row[column.property]
        if (phoneNumber === 'undefined' || phoneNumber === '' || phoneNumber === undefined || phoneNumber === null) {
          return '大厅'
        } else {
          return phoneNumber
        }
      },
      phoneNumberFormat (row, column) {
        var phoneNumber = row[column.property]
        if (phoneNumber === undefined || phoneNumber === '') {
          return ''
        } else if (phoneNumber.length === 11) {
          return phoneNumber.substring(0, 3) + '*****' + phoneNumber.substring(8, 11)
        } else {
          return ''
        }
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      viewStatis () {
        this.$nextTick(() => {
          this.$refs.onLineStatisDetails.init()
        })
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.nikeName = ''
        this.dataForm.gameRoomId = ''
        this.dataForm.roomArr = []
        this.dataForm.roomType = ''
      },
      getTreeData () {
        this.$http({
          url: this.$http.adornUrl('/cac/usergamedata/getAllRoomTree'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.roomOptions = data.roomList
          }
        })
      },
      // 获取数据列表
      getDataList () {
        this.dataForm.gameRoomId = ''
        if (this.dataForm.roomArr != null && this.dataForm.roomArr.length === 2) {
          this.dataForm.gameRoomId = this.dataForm.roomArr[1]
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/onlineplayer/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'roomType': this.dataForm.roomType,
            'nickName': this.dataForm.nickName,
            'gameRoomId': this.dataForm.gameRoomId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
            this.statisData.hallNum = data.hallNum
            this.statisData.onlineNum = data.onlineNum
            this.statisData.gameNum = data.gameNum
          } else {
            this.dataList = []
            this.totalPage = 0
            this.statisData.hallNum = ''
            this.statisData.onlineNum = ''
            this.statisData.gameNum = ''
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
