<template>
  <el-dialog
    title="设置会员推广上级"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
        <el-row>
          <el-col :span="20">
            <el-form-item label="上级ID:" prop="promoterId">
              <el-input size="small" v-model="dataForm.promoterId"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4">
          </el-col>
        </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="primary" size="mini" @click="doSubmimt()">提交</el-button>
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          accountId: '',
          promoterId: ''
        },
        dataRule: {
          promoterId: [
            { required: true, message: '上级ID不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      doSubmimt () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/addRelation`),
              method: 'post',
              data: this.$http.adornData({
                'accountId': this.dataForm.accountId,
                'promoterId': this.dataForm.promoterId
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      },
      init (accountId) {
        this.dataForm.accountId = accountId || 0
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.promoterId = ''
        })
      }
    }
  }
</script>
