<template>
  <el-dialog
    title="修改用户真实姓名"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="用户名:" prop="tAccountname">
            <el-input size="small" v-model="dataForm.tAccountname" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户昵称:" prop="tNickname">
            <el-input size="small" v-model="dataForm.tNickname" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="真实姓名:" prop="realName">
            <el-input size="small" v-model="dataForm.realName"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button size="small" @click="visible = false">取消</el-button>
       <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        isDisabled: true,
        btnLoading: false,
        dataForm: {
          realName: '',
          id: '',
          tAccountid: 0,
          tAccountname: '',
          tNickname: ''
        },
        dataRule: {
          note: [
            {required: true, message: '用户真实姓名不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearForm () {
        this.btnLoading = false
        this.dataForm.id = ''
        this.dataForm.realName = ''
        this.dataForm.tAccountid = 0
        this.dataForm.tAccountname = ''
        this.dataForm.tNickname = 0
      },
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/modifyRealName`),
              method: 'post',
              data: this.$http.adornData({
                'realName': this.dataForm.realName,
                'accountId': this.dataForm.tAccountid
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '修改用户真实姓名成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      },
      init (id) {
        this.clearForm()
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.tAccountid = data.accountinfo.accountid
                this.dataForm.tAccountname = data.accountinfo.accountname
                this.dataForm.tNickname = data.accountinfo.nickname
                this.dataForm.note = data.accountinfo.note
              }
            })
          }
        })
      }
    }
  }
</script>
