<template>
  <el-dialog
    title="账户详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" label-width="120px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="用户名:" prop="accountname">
            <el-input size="small" v-model="dataForm.accountname" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户昵称:" prop="nickname">
            <el-input size="small" v-model="dataForm.nickname" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="携带金额(分):" prop="goldcoin">
            <el-input size="small" v-model="dataForm.goldcoin" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="银行金额(分):" prop="bankgoldcoin">
            <el-input size="small" v-model="dataForm.bankgoldcoin" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="11">
          <el-form-item label="手机号:" prop="phonenumber">
            <el-input size="small" v-model="dataForm.phonenumber" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="注册时间:" prop="regtime">
            <el-input size="small" v-model="dataForm.regtime" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="最后登录时间:" prop="lastlogintime">
            <el-input size="small" v-model="dataForm.lastlogintime" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="状态:" prop="accountstate">
            <el-select size="small" v-model="dataForm.accountstate" :disabled="isDisabled" :span="11">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="游戏总时间:" prop="totalgametime">
            <el-input size="small" v-model="dataForm.totalgametime" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="今日游戏时长:" prop="todaygametime">
            <el-input size="small" v-model="dataForm.todaygametime" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="累计充值:" prop="rechargemoney">
            <el-input size="small" v-model="dataForm.rechargemoney" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="注册IP:" prop="regip">
            <el-input size="small" v-model="dataForm.regip" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="昨日下注积分:" prop="lastGameBetScore">
            <el-input size="small" v-model="dataForm.lastGameBetScore" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="今日下注积分:" prop="todayGameBetScore">
            <el-input size="small" v-model="dataForm.todayGameBetScore" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="VIP等级:" prop="vipLevel">
            <el-input size="small" v-model="dataForm.vipLevel" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="注册来源:" prop="vipLevel">
            <el-input size="small" v-model="dataForm.origin" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        isDisabled: true,
        options: [{
          value: 0,
          label: '正常'
        }, {
          value: 1,
          label: '临时冻结'
        }, {
          value: 2,
          label: '永久冻结'
        }],
        dataForm: {
          accountid: 0,
          accountname: '',
          nickname: '',
          goldcoin: '',
          bankgoldcoin: '',
          phonenumber: '',
          regtime: '',
          lastlogintime: '',
          accountstate: '',
          sex: 0,
          totalgametime: 0,
          todaygametime: 0,
          totalcoinget: 0,
          todaycoinget: 0,
          rechargemoney: 0,
          regip: '',
          todayGameBetScore: 0,
          lastGameBetScore: 0,
          vipLevel: '',
          origin: ''
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.accountid = data.accountinfo.accountid
                this.dataForm.accountname = data.accountinfo.accountname
                this.dataForm.nickname = data.accountinfo.nickname

                this.dataForm.goldcoin = data.accountinfo.goldcoin
                this.dataForm.bankgoldcoin = data.accountinfo.bankgoldcoin
                this.dataForm.phonenumber = data.accountinfo.phonenumber

                this.dataForm.regtime = data.accountinfo.regtime
                this.dataForm.lastlogintime = data.accountinfo.lastlogintime

                this.dataForm.accountstate = data.accountinfo.accountstate
                this.dataForm.sex = data.accountinfo.sex
                this.dataForm.totalgametime = data.accountinfo.totalgametime

                this.dataForm.totalcoinget = data.accountinfo.totalcoinget
                this.dataForm.rechargemoney = data.accountinfo.rechargemoney
                this.dataForm.regip = data.accountinfo.regip

                this.dataForm.todayGameBetScore = data.accountinfo.todayGameBetScore
                this.dataForm.lastGameBetScore = data.accountinfo.lastGameBetScore
                this.dataForm.vipLevel = data.accountinfo.vipLevel
                this.dataForm.origin = data.accountinfo.origin
              }
            })
          }
        })
      }
    }
  }
</script>
