<template>
  <el-dialog
    title="用户所在游戏详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-table
      :data="dataList"
      border
      size="small"
      empty-text = "用户不在游戏中"
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="game"
        header-align="center"
        align="center"
        label="房间ID">
      </el-table-column>
      <el-table-column
        prop="name"
        header-align="center"
        align="center"
        label="房间名称">
      </el-table-column>
      <el-table-column
        prop="coin"
        header-align="center"
        align="center"
        label="进入金币(分)">
      </el-table-column>
    </el-table>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataList: [],
        dataListLoading: false,
        dataForm: {
          id: ''
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.dataList = []
        this.dataListLoading = true
        this.visible = true
        this.$http({
          url: this.$http.adornUrl('/cac/accountinfo/isInGame'),
          method: 'post',
          params: this.$http.adornParams({
            'userId': id
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.inGameList
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      }
    }
  }
</script>
