<template>
  <el-dialog
    title="账户状态"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-form-item label="选择状态:" prop="status">
        <el-radio-group v-model="dataForm.status">
          <el-radio :label="2">正常</el-radio>
          <el-radio :label="1">冻结</el-radio>
        </el-radio-group>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="primary" size="small" @click="updateStatus()">确定</el-button>
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="small" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          id: 0,
          status: 2
        }
      }
    },
    methods: {
      init (id, status) {
        this.dataForm.id = id || 0
        if (status !== null && status !== '' && status === 0) {
          this.dataForm.status = 2
        } else {
          this.dataForm.status = 1
        }
        this.visible = true
      },
      updateStatus () {
        this.$http({
          url: this.$http.adornUrl(`/cac/accountinfo/updateStatus`),
          method: 'post',
          data: this.$http.adornData({
            'tAccountid': this.dataForm.id || undefined,
            'status': this.dataForm.status
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.$message({
              message: '操作成功',
              type: 'success',
              duration: 1500,
              onClose: () => {
                this.visible = false
                this.$emit('refreshDataList')
              }
            })
          } else {
            this.$message.error(data.msg)
          }
        })
      }
    }
  }
</script>
