<template>
  <el-dialog
    title="修改登录密码"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm"  :rules="dataRule" @keyup.enter.native="dataFormSubmit()" label-width="120px">
      <el-row>
        <el-col :span="22">
          <el-form-item label="新密码:" prop="password">
            <el-input v-model="dataForm.password" size="small" type="password" placeholder="新密码"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="确认密码:" prop="comfirmPassword">
            <el-input v-model="dataForm.comfirmPassword" size="small" type="password" placeholder="确认密码"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary"  size="small" @click="dataFormSubmit()">确定</el-button>
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="small"
                  plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      var validatePassword = (rule, value, callback) => {
        if (!this.dataForm.id && !/\S/.test(value)) {
          callback(new Error('新密码不能为空'))
        } else {
          callback()
        }
      }
      var validateComfirmPassword = (rule, value, callback) => {
        if (!this.dataForm.id && !/\S/.test(value)) {
          callback(new Error('确认密码不能为空'))
        } else if (this.dataForm.password !== value) {
          callback(new Error('确认密码与新密码输入不一致'))
        } else {
          callback()
        }
      }
      return {
        visible: false,
        dataForm: {
          id: 100,
          password: '',
          comfirmPassword: ''
        },
        dataRule: {
          password: [
            { validator: validatePassword, trigger: 'blur' }
          ],
          comfirmPassword: [
            { validator: validateComfirmPassword, trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/modifyLoginPw`),
              method: 'post',
              data: this.$http.adornData({
                'tAccountid': this.dataForm.id || undefined,
                'password': this.dataForm.password
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      },
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        })
      }
    }
  }
</script>
