<template>
  <div>
    <el-alert
      title="下级统计最多100个"
      effect="dark"
      show-icon
      center="true"
      description="下级统计最多100个,超过100个按100个显示!"
      type="warning">
    </el-alert>
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.userId" size="small" placeholder="代理ID" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      lazy
      :load="getChildNode"
      row-key="accountID"
      size="small"
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="accountID"
        header-align="center"
        align="center"
        label="代理会员ID">
      </el-table-column>
      <el-table-column
        prop="promoterId"
        header-align="center"
        align="center"
        :formatter="defaultValue"
        label="上级ID">
      </el-table-column>
      <el-table-column
        prop="totalNum"
        header-align="center"
        align="center"
        label="所有下级数量">
      </el-table-column>
      <el-table-column
        prop="nextNum"
        header-align="center"
        align="center"
        label="直属下级人数">
      </el-table-column>
      <el-table-column
        prop="histWin"
        header-align="center"
        align="center"
        label="历史总奖励">
      </el-table-column>
      <el-table-column
        prop="canGet"
        header-align="center"
        align="center"
        label="可领取奖励">
      </el-table-column>
      <el-table-column
        prop="nextC"
        header-align="center"
        align="center"
        label="直属下级贡献">
      </el-table-column>
      <el-table-column
        prop="otherC"
        header-align="center"
        align="center"
        label="其他下级贡献">
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          userId: ''
        },
        dataList: [],
        dataListLoading: false,
        dataListSelections: []
      }
    },
    components: {},
    activated () {
    },
    methods: {
      defaultValue (row, column) {
        var value = row[column.property]
        if (value === undefined || value === 'undefined' || value === '' || value === null || value === '0' || value === 0) {
          return '无'
        }
        return value
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.userId = ''
      },
      getChildNode (tree, treeNode, resolve) {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/agentInfo/childNotelist'),
          method: 'get',
          params: this.$http.adornParams({
            'accountId': tree.accountID
          })
        }).then(({data}) => {
          this.dataListLoading = false
          if (data && data.code === 0) {
            resolve(data.noteList)
          }
        })
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.userId === null || this.dataForm.userId === '') {
          this.$message.error('代理 ID信息不能为空')
          return
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/agentInfo/list'),
          method: 'get',
          params: this.$http.adornParams({
            'accountId': this.dataForm.userId
          })
        }).then(({data}) => {
          this.dataListLoading = false
          if (data && data.code === 0) {
            this.dataList = data.agentlist
          } else {
            this.dataList = []
          }
        })
      }
    }
  }
</script>
<style>
  .el-table__expand-icon{
    display: inline-block;
    padding: 0 4px;
  }
  .el-table__expand-icon>.el-icon{
    margin-top: 0;
  }
</style>
