<template>
  <el-dialog
    title="绑定号码"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="用户名:" prop="tAccountname">
            <el-input size="small" v-model="dataForm.tAccountname" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户昵称:" prop="tNickname">
            <el-input size="small" v-model="dataForm.tNickname" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="用户号码:" prop="phoneNumber">
            <el-input v-model="dataForm.phoneNumber"  placeholder="请输入用户号码">
            </el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
        <el-button size="small" @click="visible = false">取消</el-button>
        <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { isMobile } from '@/utils/validate'
  export default {
    data () {
      var validateMobile = (rule, value, callback) => {
        if (!isMobile(value)) {
          callback(new Error('手机号格式错误'))
        } else {
          callback()
        }
      }
      return {
        visible: false,
        isDisabled: true,
        btnLoading: false,
        dataRule: {
          phoneNumber: [
            {required: true, message: '绑定号码不能为空', trigger: 'blur'},
            { validator: validateMobile, trigger: 'blur' }
          ]
        },
        dataForm: {
          id: '',
          phoneNumber: '',
          tAccountid: 0,
          tAccountname: '',
          tNickname: ''
        }
      }
    },
    methods: {
      clearForm () {
        this.btnLoading = false
        this.dataForm.id = ''
        this.dataForm.phoneNumber = ''
        this.dataForm.tAccountid = 0
        this.dataForm.tAccountname = ''
        this.dataForm.tNickname = 0
      },
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            var subPhone = this.dataForm.phoneNumber.substr(0, 3)
            if (subPhone === '162' || subPhone === '165' || subPhone === '167' || subPhone === '170' || subPhone === '171') {
              this.$message.error('虚拟号码不能绑定')
              return
            }
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/bindPhoneNum`),
              method: 'post',
              data: this.$http.adornData({
                'phoneNum': this.dataForm.phoneNumber,
                'userId': this.dataForm.tAccountid
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '修改用户备注成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.btnLoading = false
                this.$message.error(data.msg)
              }
            })
          }
        })
      },
      init (id) {
        this.clearForm()
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.tAccountid = data.accountinfo.accountid
                this.dataForm.tAccountname = data.accountinfo.accountname
                this.dataForm.tNickname = data.accountinfo.nickname
              }
            })
          }
        })
      }
    }
  }
</script>
