<template>
  <el-dialog
    title="提现账户详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
        <el-row>
          <el-col :span="11">
            <el-form-item label="支付宝账号:" prop="aliPayId">
              <el-input size="small" v-model="dataForm.aliPayId" disabled="false"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="支付宝名称:" prop="aliRealName">
              <el-input size="small" v-model="dataForm.aliRealName" disabled="false"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="11">
            <el-form-item label="银行账号:" prop="bankPayId">
              <el-input size="small" v-model="dataForm.bankPayId" disabled="false"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="银行账户名称:" prop="bankRealName">
              <el-input size="small" v-model="dataForm.bankRealName" disabled="false"></el-input>
            </el-form-item>
          </el-col>
        </el-row>

        <el-row>
          <el-col :span="11">
            <el-form-item label="银行名称:" prop="bank">
              <el-input size="small" v-model="dataForm.bank" disabled="false"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="分行名称:" prop="subBank">
              <el-input size="small" v-model="dataForm.subBank" disabled="false"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        options: [{
          value: 0,
          label: '正常'
        }, {
          value: 1,
          label: '临时冻结'
        }, {
          value: 2,
          label: '永久冻结'
        }],
        dataForm: {
          bank: '',
          bankRealName: '',
          bankPayId: '',
          subBank: '',
          aliPayId: '',
          aliRealName: ''
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/accountinfo/getUserCashInfo/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.bank = data.accountinfo.bank
                this.dataForm.bankRealName = data.accountinfo.bankRealName
                this.dataForm.bankPayId = data.accountinfo.bankPayId
                this.dataForm.subBank = data.accountinfo.subBank
                this.dataForm.aliPayId = data.accountinfo.aliPayId
                this.dataForm.aliRealName = data.accountinfo.aliRealName
              }
            })
          }
        })
      }
    }
  }
</script>
