<template>
  <el-dialog
    title="配置VIP等级"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIPI配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit1">
                <el-input-number v-model="dataForm.totalDeposit1" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward1">
                <el-input-number v-model="dataForm.upgradeAward1" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent1">
                <el-input-number v-model="dataForm.addSignInPercent1" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward1">
                <el-input-number v-model="dataForm.weekAward1" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward1">
                <el-input-number v-model="dataForm.monthAward1" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt1">
                <el-input-number v-model="dataForm.succourCnt1" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP2配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit2">
                <el-input-number v-model="dataForm.totalDeposit2" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward2">
                <el-input-number v-model="dataForm.upgradeAward2" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent2">
                <el-input-number v-model="dataForm.addSignInPercent2" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward2">
                <el-input-number v-model="dataForm.weekAward2" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward2">
                <el-input-number v-model="dataForm.monthAward2" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt2">
                <el-input-number v-model="dataForm.succourCnt2" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP3配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit3">
                <el-input-number v-model="dataForm.totalDeposit3" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward3">
                <el-input-number v-model="dataForm.upgradeAward3" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent3">
                <el-input-number v-model="dataForm.addSignInPercent3" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward3">
                <el-input-number v-model="dataForm.weekAward3" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward3">
                <el-input-number v-model="dataForm.monthAward3" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt3">
                <el-input-number v-model="dataForm.succourCnt3" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP4配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit4">
                <el-input-number v-model="dataForm.totalDeposit4" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward4">
                <el-input-number v-model="dataForm.upgradeAward4" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent4">
                <el-input-number v-model="dataForm.addSignInPercent4" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward4">
                <el-input-number v-model="dataForm.weekAward4" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward4">
                <el-input-number v-model="dataForm.monthAward4" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt4">
                <el-input-number v-model="dataForm.succourCnt4" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>

      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP5配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit5">
                <el-input-number v-model="dataForm.totalDeposit5" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward5">
                <el-input-number v-model="dataForm.upgradeAward5" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent5">
                <el-input-number v-model="dataForm.addSignInPercent5" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward5">
                <el-input-number v-model="dataForm.weekAward5" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward5">
                <el-input-number v-model="dataForm.monthAward5" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt5">
                <el-input-number v-model="dataForm.succourCnt5" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>

      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP6配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit6">
                <el-input-number v-model="dataForm.totalDeposit6" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward6">
                <el-input-number v-model="dataForm.upgradeAward6" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent6">
                <el-input-number v-model="dataForm.addSignInPercent6" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward6">
                <el-input-number v-model="dataForm.weekAward6" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward6">
                <el-input-number v-model="dataForm.monthAward6" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt6">
                <el-input-number v-model="dataForm.succourCnt6" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>

      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP7配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit7">
                <el-input-number v-model="dataForm.totalDeposit7" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward7">
                <el-input-number v-model="dataForm.upgradeAward7" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent7">
                <el-input-number v-model="dataForm.addSignInPercent7" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward7">
                <el-input-number v-model="dataForm.weekAward7" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward7">
                <el-input-number v-model="dataForm.monthAward7" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt7">
                <el-input-number v-model="dataForm.succourCnt7" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>


      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP8配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit8">
                <el-input-number v-model="dataForm.totalDeposit8" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward8">
                <el-input-number v-model="dataForm.upgradeAward8" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent8">
                <el-input-number v-model="dataForm.addSignInPercent8" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward8" >
                <el-input-number v-model="dataForm.weekAward8" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward8">
                <el-input-number v-model="dataForm.monthAward8" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数:" prop="succourCnt8">
                <el-input-number v-model="dataForm.succourCnt8" size="small" :min="0" :max="9999999999"
                                 label="救助次数"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>

      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>VIP9配置</span>
          </div>
          <el-row>
            <el-col :span="8">
              <el-form-item label="累计充值(分):" prop="totalDeposit9">
                <el-input-number v-model="dataForm.totalDeposit9" size="small" :min="0" :max="9999999999"
                                 label="累计充值"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="晋级彩金(分):" prop="upgradeAward9">
                <el-input-number v-model="dataForm.upgradeAward9" size="small" :min="0" :max="9999999999"
                                 label="额外奖励(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="签到加成(%):" prop="addSignInPercent9">
                <el-input-number v-model="dataForm.addSignInPercent9" size="small" :min="0" :max="9999999999"
                                 label="签到加成(%)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="周礼金(分):" prop="weekAward9">
                <el-input-number v-model="dataForm.weekAward9" size="small" :min="0" :max="9999999999"
                                 label="周礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="月礼金(分):" prop="monthAward9">
                <el-input-number v-model="dataForm.monthAward9" size="small" :min="0" :max="9999999999"
                                 label="月礼金(分)"></el-input-number>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="救助次数(分):" prop="succourCnt9">
                <el-input-number v-model="dataForm.succourCnt9" size="small" :min="0" :max="9999999999"
                                 label="救助次数(分)"></el-input-number>
              </el-form-item>
            </el-col>
          </el-row>
        </el-card>
      </el-row>

    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        channelId: '',
        channelName: '',
        dataList: [],
        dataListLoading: false,
        dataForm: {
          totalDeposit1: 1,
          upgradeAward1: 1,
          addSignInPercent1: 1,
          weekAward1: 1,
          monthAward1: 1,
          succourCnt1: 1,

          totalDeposit2: 1,
          upgradeAward2: 1,
          addSignInPercent2: 1,
          weekAward2: 1,
          monthAward2: 1,
          succourCnt2: 1,

          totalDeposit3: 1,
          upgradeAward3: 1,
          addSignInPercent3: 1,
          weekAward3: 1,
          monthAward3: 1,
          succourCnt3: 1,

          totalDeposit4: 1,
          upgradeAward4: 1,
          addSignInPercent4: 1,
          weekAward4: 1,
          monthAward4: 1,
          succourCnt4: 1,

          totalDeposit5: 1,
          upgradeAward5: 1,
          addSignInPercent5: 1,
          weekAward5: 1,
          monthAward5: 1,
          succourCnt5: 1,

          totalDeposit6: 1,
          upgradeAward6: 1,
          addSignInPercent6: 1,
          weekAward6: 1,
          monthAward6: 1,
          succourCnt6: 1,

          totalDeposit7: 1,
          upgradeAward7: 1,
          addSignInPercent7: 1,
          weekAward7: 1,
          monthAward7: 1,
          succourCnt7: 1,

          totalDeposit8: 1,
          upgradeAward8: 1,
          addSignInPercent8: 1,
          weekAward8: 1,
          monthAward8: 1,
          succourCnt8: 1,

          totalDeposit9: 1,
          upgradeAward9: 1,
          addSignInPercent9: 1,
          weekAward9: 1,
          monthAward9: 1,
          succourCnt9: 1,
          vipInfo: {
            vip1: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip2: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip3: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip4: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip5: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip6: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip7: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip8: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            },
            vip9: {
              totalDeposit: 1,
              upgradeAward: 1,
              addSignInPercent: 1,
              weekAward: 1,
              monthAward: 1,
              succourCnt: 1
            }
          },
          dayAward: 1,
          awardDayShareCnt: 1,
          totalDay: 1,
          additionAward: 1
        },
        dataRule: {
          totalDeposit1: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward1: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent1: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward1: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward1: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt1: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit2: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward2: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent2: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward2: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward2: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt2: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit3: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward3: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent3: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward3: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward3: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt3: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit4: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward4: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent4: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward4: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward4: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt4: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit5: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward5: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent5: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward5: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward5: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt5: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit6: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward6: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent6: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward6: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward6: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt6: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit7: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward7: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent7: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward7: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward7: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt7: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit8: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward8: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent8: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward8: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward8: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt8: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ],
          totalDeposit9: [
            {required: true, message: '累计充值不能为空', trigger: 'blur'}
          ],
          upgradeAward9: [
            {required: true, message: '晋级奖金不能为空', trigger: 'blur'}
          ],
          addSignInPercent9: [
            {required: true, message: '签到加成不能为空', trigger: 'blur'}
          ],
          weekAward9: [
            {required: true, message: '周礼金不能为空', trigger: 'blur'}
          ],
          monthAward9: [
            {required: true, message: '月礼金不能为空', trigger: 'blur'}
          ],
          succourCnt9: [
            {required: true, message: '救助次数不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearForm () {
        this.dataList = []
        this.dataForm.openType = 1

        this.dataForm.totalDeposit1 = 1
        this.dataForm.upgradeAward1 = 1
        this.dataForm.addSignInPercent1 = 1

        this.dataForm.weekAward1 = 1
        this.dataForm.monthAward1 = 1
        this.dataForm.succourCnt1 = 1

        this.dataForm.totalDeposit2 = 1
        this.dataForm.upgradeAward2 = 1
        this.dataForm.addSignInPercent2 = 1

        this.dataForm.weekAward2 = 1
        this.dataForm.monthAward2 = 1
        this.dataForm.succourCnt2 = 1

        this.dataForm.totalDeposit3 = 1
        this.dataForm.upgradeAward3 = 1
        this.dataForm.addSignInPercent3 = 1

        this.dataForm.weekAward3 = 1
        this.dataForm.monthAward3 = 1
        this.dataForm.succourCnt3 = 1

        this.dataForm.totalDeposit4 = 1
        this.dataForm.upgradeAward4 = 1
        this.dataForm.addSignInPercent4 = 1

        this.dataForm.weekAward4 = 1
        this.dataForm.monthAward4 = 1
        this.dataForm.succourCnt4 = 1

        this.dataForm.totalDeposit5 = 1
        this.dataForm.upgradeAward5 = 1
        this.dataForm.addSignInPercent5 = 1

        this.dataForm.weekAward5 = 1
        this.dataForm.monthAward5 = 1
        this.dataForm.succourCnt5 = 1

        this.dataForm.totalDeposit6 = 1
        this.dataForm.upgradeAward6 = 1
        this.dataForm.addSignInPercent6 = 1

        this.dataForm.weekAward6 = 1
        this.dataForm.monthAward6 = 1
        this.dataForm.succourCnt6 = 1

        this.dataForm.totalDeposit7 = 1
        this.dataForm.upgradeAward7 = 1
        this.dataForm.addSignInPercent7 = 1

        this.dataForm.weekAward7 = 1
        this.dataForm.monthAward7 = 1
        this.dataForm.succourCnt7 = 1

        this.dataForm.totalDeposit8 = 1
        this.dataForm.upgradeAward8 = 1
        this.dataForm.addSignInPercent8 = 1

        this.dataForm.weekAward8 = 1
        this.dataForm.monthAward8 = 1
        this.dataForm.succourCnt8 = 1

        this.dataForm.totalDeposit9 = 1
        this.dataForm.upgradeAward9 = 1
        this.dataForm.addSignInPercent9 = 1

        this.dataForm.weekAward9 = 1
        this.dataForm.monthAward9 = 1
        this.dataForm.succourCnt9 = 1
      },
      init (channelId, depositType) {
        this.btnLoading = false
        this.clearForm()
        if (depositType !== null && depositType !== '') {
          this.dataForm.openType = depositType
        }
        if (channelId !== null && channelId !== '') {
          this.channelId = channelId
        }
        this.$nextTick(() => {
          this.visible = true
          if (this.channelId) {
            this.$http({
              url: this.$http.adornUrl(`/cac/channelvip/info/${this.channelId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.fillForm(data.vip)
              }
            })
          }
        })
      },
      fillForm (vip) {
        this.dataForm.totalDeposit1 = vip.vip1.totalDeposit
        this.dataForm.upgradeAward1 = vip.vip1.upgradeAward
        this.dataForm.addSignInPercent1 = vip.vip1.addSignInPercent

        this.dataForm.weekAward1 = vip.vip1.weekAward
        this.dataForm.monthAward1 = vip.vip1.monthAward
        this.dataForm.succourCnt1 = vip.vip1.succourCnt

        this.dataForm.totalDeposit2 = vip.vip2.totalDeposit
        this.dataForm.upgradeAward2 = vip.vip2.upgradeAward
        this.dataForm.addSignInPercent2 = vip.vip2.addSignInPercent

        this.dataForm.weekAward2 = vip.vip2.weekAward
        this.dataForm.monthAward2 = vip.vip2.monthAward
        this.dataForm.succourCnt2 = vip.vip2.succourCnt

        this.dataForm.totalDeposit3 = vip.vip3.totalDeposit
        this.dataForm.upgradeAward3 = vip.vip3.upgradeAward
        this.dataForm.addSignInPercent3 = vip.vip3.addSignInPercent

        this.dataForm.weekAward3 = vip.vip3.weekAward
        this.dataForm.monthAward3 = vip.vip3.monthAward
        this.dataForm.succourCnt3 = vip.vip3.succourCnt

        this.dataForm.totalDeposit4 = vip.vip4.totalDeposit
        this.dataForm.upgradeAward4 = vip.vip4.upgradeAward
        this.dataForm.addSignInPercent4 = vip.vip4.addSignInPercent

        this.dataForm.weekAward4 = vip.vip4.weekAward
        this.dataForm.monthAward4 = vip.vip4.monthAward
        this.dataForm.succourCnt4 = vip.vip4.succourCnt

        this.dataForm.totalDeposit5 = vip.vip5.totalDeposit
        this.dataForm.upgradeAward5 = vip.vip5.upgradeAward
        this.dataForm.addSignInPercent5 = vip.vip5.addSignInPercent

        this.dataForm.weekAward5 = vip.vip5.weekAward
        this.dataForm.monthAward5 = vip.vip5.monthAward
        this.dataForm.succourCnt5 = vip.vip5.succourCnt

        this.dataForm.totalDeposit6 = vip.vip6.totalDeposit
        this.dataForm.upgradeAward6 = vip.vip6.upgradeAward
        this.dataForm.addSignInPercent6 = vip.vip6.addSignInPercent

        this.dataForm.weekAward6 = vip.vip6.weekAward
        this.dataForm.monthAward6 = vip.vip6.monthAward
        this.dataForm.succourCnt6 = vip.vip6.succourCnt

        this.dataForm.totalDeposit7 = vip.vip7.totalDeposit
        this.dataForm.upgradeAward7 = vip.vip7.upgradeAward
        this.dataForm.addSignInPercent7 = vip.vip7.addSignInPercent

        this.dataForm.weekAward7 = vip.vip7.weekAward
        this.dataForm.monthAward7 = vip.vip7.monthAward
        this.dataForm.succourCnt7 = vip.vip7.succourCnt

        this.dataForm.totalDeposit8 = vip.vip8.totalDeposit
        this.dataForm.upgradeAward8 = vip.vip8.upgradeAward
        this.dataForm.addSignInPercent8 = vip.vip8.addSignInPercent

        this.dataForm.weekAward8 = vip.vip8.weekAward
        this.dataForm.monthAward8 = vip.vip8.monthAward
        this.dataForm.succourCnt8 = vip.vip8.succourCnt

        this.dataForm.totalDeposit9 = vip.vip9.totalDeposit
        this.dataForm.upgradeAward9 = vip.vip9.upgradeAward
        this.dataForm.addSignInPercent9 = vip.vip9.addSignInPercent

        this.dataForm.weekAward9 = vip.vip9.weekAward
        this.dataForm.monthAward9 = vip.vip9.monthAward
        this.dataForm.succourCnt9 = vip.vip9.succourCnt
        this.dataForm.openType = vip.openType
      },
      fillSubimitForm () {
        this.dataForm.vipInfo.vip1.totalDeposit = this.dataForm.totalDeposit1
        this.dataForm.vipInfo.vip1.upgradeAward = this.dataForm.upgradeAward1
        this.dataForm.vipInfo.vip1.addSignInPercent = this.dataForm.addSignInPercent1

        this.dataForm.vipInfo.vip1.weekAward = this.dataForm.weekAward1
        this.dataForm.vipInfo.vip1.monthAward = this.dataForm.monthAward1
        this.dataForm.vipInfo.vip1.succourCnt = this.dataForm.succourCnt1

        this.dataForm.vipInfo.vip2.totalDeposit = this.dataForm.totalDeposit2
        this.dataForm.vipInfo.vip2.upgradeAward = this.dataForm.upgradeAward2
        this.dataForm.vipInfo.vip2.addSignInPercent = this.dataForm.addSignInPercent2

        this.dataForm.vipInfo.vip2.weekAward = this.dataForm.weekAward2
        this.dataForm.vipInfo.vip2.monthAward = this.dataForm.monthAward2
        this.dataForm.vipInfo.vip2.succourCnt = this.dataForm.succourCnt2

        this.dataForm.vipInfo.vip3.totalDeposit = this.dataForm.totalDeposit3
        this.dataForm.vipInfo.vip3.upgradeAward = this.dataForm.upgradeAward3
        this.dataForm.vipInfo.vip3.addSignInPercent = this.dataForm.addSignInPercent3

        this.dataForm.vipInfo.vip3.weekAward = this.dataForm.weekAward3
        this.dataForm.vipInfo.vip3.monthAward = this.dataForm.monthAward3
        this.dataForm.vipInfo.vip3.succourCnt = this.dataForm.succourCnt3

        this.dataForm.vipInfo.vip4.totalDeposit = this.dataForm.totalDeposit4
        this.dataForm.vipInfo.vip4.upgradeAward = this.dataForm.upgradeAward4
        this.dataForm.vipInfo.vip4.addSignInPercent = this.dataForm.addSignInPercent4

        this.dataForm.vipInfo.vip4.weekAward = this.dataForm.weekAward4
        this.dataForm.vipInfo.vip4.monthAward = this.dataForm.monthAward4
        this.dataForm.vipInfo.vip4.succourCnt = this.dataForm.succourCnt4

        this.dataForm.vipInfo.vip5.totalDeposit = this.dataForm.totalDeposit5
        this.dataForm.vipInfo.vip5.upgradeAward = this.dataForm.upgradeAward5
        this.dataForm.vipInfo.vip5.addSignInPercent = this.dataForm.addSignInPercent5

        this.dataForm.vipInfo.vip5.weekAward = this.dataForm.weekAward5
        this.dataForm.vipInfo.vip5.monthAward = this.dataForm.monthAward5
        this.dataForm.vipInfo.vip5.succourCnt = this.dataForm.succourCnt5

        this.dataForm.vipInfo.vip6.totalDeposit = this.dataForm.totalDeposit6
        this.dataForm.vipInfo.vip6.upgradeAward = this.dataForm.upgradeAward6
        this.dataForm.vipInfo.vip6.addSignInPercent = this.dataForm.addSignInPercent6

        this.dataForm.vipInfo.vip6.weekAward = this.dataForm.weekAward6
        this.dataForm.vipInfo.vip6.monthAward = this.dataForm.monthAward6
        this.dataForm.vipInfo.vip6.succourCnt = this.dataForm.succourCnt6

        this.dataForm.vipInfo.vip7.totalDeposit = this.dataForm.totalDeposit7
        this.dataForm.vipInfo.vip7.upgradeAward = this.dataForm.upgradeAward7
        this.dataForm.vipInfo.vip7.addSignInPercent = this.dataForm.addSignInPercent7

        this.dataForm.vipInfo.vip7.weekAward = this.dataForm.weekAward7
        this.dataForm.vipInfo.vip7.monthAward = this.dataForm.monthAward7
        this.dataForm.vipInfo.vip7.succourCnt = this.dataForm.succourCnt7

        this.dataForm.vipInfo.vip8.totalDeposit = this.dataForm.totalDeposit8
        this.dataForm.vipInfo.vip8.upgradeAward = this.dataForm.upgradeAward8
        this.dataForm.vipInfo.vip8.addSignInPercent = this.dataForm.addSignInPercent8

        this.dataForm.vipInfo.vip8.weekAward = this.dataForm.weekAward8
        this.dataForm.vipInfo.vip8.monthAward = this.dataForm.monthAward8
        this.dataForm.vipInfo.vip8.succourCnt = this.dataForm.succourCnt8

        this.dataForm.vipInfo.vip9.totalDeposit = this.dataForm.totalDeposit9
        this.dataForm.vipInfo.vip9.upgradeAward = this.dataForm.upgradeAward9
        this.dataForm.vipInfo.vip9.addSignInPercent = this.dataForm.addSignInPercent9

        this.dataForm.vipInfo.vip9.weekAward = this.dataForm.weekAward9
        this.dataForm.vipInfo.vip9.monthAward = this.dataForm.monthAward9
        this.dataForm.vipInfo.vip9.succourCnt = this.dataForm.succourCnt9
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            console.log(this.dataForm.openType)
            this.fillSubimitForm()
            this.$http({
              url: this.$http.adornUrl(`/cac/channelvip/doConfig`),
              method: 'post',
              data: this.$http.adornData({
                'openType': this.dataForm.openType,
                'vip1': this.dataForm.vipInfo.vip1,
                'vip2': this.dataForm.vipInfo.vip2,
                'vip3': this.dataForm.vipInfo.vip3,
                'vip4': this.dataForm.vipInfo.vip4,
                'vip5': this.dataForm.vipInfo.vip5,
                'vip6': this.dataForm.vipInfo.vip6,
                'vip7': this.dataForm.vipInfo.vip7,
                'vip8': this.dataForm.vipInfo.vip8,
                'vip9': this.dataForm.vipInfo.vip9
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '配置VIP等级成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
