<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input
          v-model="dataForm.userId" align="right" size="small" clearable placeholder="用户ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-cascader :options="roomOptions" v-model="dataForm.roomArr" clearable size="small" placeholder="控制房间">
        </el-cascader>
      </el-form-item>
      <el-form-item>
        <el-input
          v-model="dataForm.betLimitStart" align="right" size="small" clearable placeholder="下注限额起">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-input
          v-model="dataForm.betLimitEnd" align="right" size="small" clearable placeholder="下注限额止">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="dataForm.type" size="small" clearable placeholder="控制类型">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.refreshTime" align="right" type="date" value-format="yyyy-MM-dd" size="small"
                        clearable format="yyyy-MM-dd" placeholder="数据更新时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button type="danger" size="small" @click="showConfig()">设置控制</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @sort-change='tableSortChange'
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="accountId"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="gameKindName"
        header-align="center"
        align="center"
        width="100"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="gameId"
        header-align="center"
        align="center"
        label="房间ID">
      </el-table-column>
      <el-table-column
        prop="phoneGameName"
        header-align="center"
        width="160"
        align="center"
        label="房间名称">
      </el-table-column>
      <el-table-column
        prop="type"
        header-align="center"
        width="100"
        align="center"
        sortable='custom'
        label="类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 0" size="small" type="success">不控制</el-tag>
          <el-tag v-else-if="scope.row.type === 1" size="small" type="danger">放水</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="warning">缩水</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="betLimit"
        header-align="center"
        width="100"
        sortable='custom'
        align="center"
        label="下注限额">
      </el-table-column>
      <el-table-column
        prop="rate"
        header-align="center"
        sortable='custom'
        width="100"
        align="center"
        label="权重/概率">
      </el-table-column>
      <el-table-column
        prop="curScore"
        header-align="center"
        width="100"
        align="center"
        label="当前金币">
      </el-table-column>
      <el-table-column
        prop="round"
        header-align="center"
        width="100"
        align="center"
        sortable='custom'
        label="控制局数">
      </el-table-column>
      <el-table-column
        prop="tCtltotalscore"
        header-align="center"
        width="120"
        align="center"
        sortable='custom'
        label="控制总金额">
      </el-table-column>
      <el-table-column
        prop="totalRound"
        header-align="center"
        align="center"
        width="120"
        sortable='custom'
        label="历史总局数">
      </el-table-column>
      <el-table-column
        prop="histWin"
        header-align="center"
        align="center"
        width="100"
        sortable='custom'
        label="历史赢取">
      </el-table-column>
      <el-table-column
        prop="todayWin"
        header-align="center"
        width="100"
        sortable='custom'
        align="center"
        label="今日赢取">
      </el-table-column>
      <el-table-column
        prop="totalPlayCount"
        header-align="center"
        sortable='custom'
        width="120"
        align="center"
        label="今日玩次数">
      </el-table-column>
      <el-table-column
        prop="todayRsfTime"
        header-align="center"
        align="center"
        width="180"
        sortable='custom'
        label="数据最后更新">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="100"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" v-if="scope.row.type===1 || scope.row.type===2" size="small"
                     @click="cancelCtrl(scope.row.accountId, scope.row.gameId)">解控
          </el-button>

          <el-button type="text" v-else size="small"
                     @click="delCtrl(scope.row.accountId, scope.row.gameId)">删除
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增-->
    <UserCtrlAdd v-if="showConfigVisible" ref="userCtrlAdd" @refreshDataList="getDataList"></UserCtrlAdd>
    <!--弹窗,查看-->
    <UserCtrlView v-if="showdetailVisible" ref="userCtrlView" @refreshDataList="getDataList"></UserCtrlView>
  </div>
</template>

<script>
  import UserCtrlAdd from './userCtrl-add'
  import UserCtrlView from './userCtrl-view'

  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          gameRoomId: '',
          betLimitStart: '',
          betLimitEnd: '',
          type: '',
          order: '',
          sortby: '',
          refreshTime: '',
          roomArr: []
        },
        roomOptions: [],
        options: [{
          value: '0',
          label: '不控制'
        }, {
          value: '1',
          label: '放水'
        }, {
          value: '2',
          label: '缩水'
        }],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        showConfigVisible: false,
        showdetailVisible: false
      }
    },
    components: {
      UserCtrlAdd, UserCtrlView
    },
    created () {
      this.roomOptions = []
      this.getDataList()
      this.getTreeData()
    },
    methods: {
      tableSortChange (column) {
        if (column.order === 'descending') {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'desc'
        } else {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'asc'
        }
        this.getDataList()
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.gameRoomId = ''
        this.dataForm.betLimitStart = ''

        this.dataForm.betLimitEnd = ''
        this.dataForm.type = ''
        this.dataForm.order = ''

        this.dataForm.sortby = ''
        this.dataForm.refreshTime = ''
        this.dataForm.roomArr = ''
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '' || date === '1970-01-01 08:00:00') {
          return ''
        }
        return date
      },
      getTreeData () {
        this.$http({
          url: this.$http.adornUrl('/cac/usergamedata/getRoomTree'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.roomOptions = data.roomList
          }
        })
      },
      delCtrl (userId, gameRoomId) {
        this.$confirm(`确定对[id=${userId}]控制数据进行删除?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/usergamedata/delete'),
            method: 'post',
            data: this.$http.adornData({
              'accountId': userId,
              'roomList': gameRoomId
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {
        })
      },
      cancelCtrl (userId, gameRoomId) {
        this.$confirm(`确定对[id=${userId}]进行解控?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/usergamedata/cancelCtrl'),
            method: 'post',
            data: this.$http.adornData({
              'accountId': userId,
              'roomList': gameRoomId
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {
        })
      },
      showConfigDetail (userId, gameRoomId) {
        this.showdetailVisible = true
        this.$nextTick(() => {
          this.$refs.userCtrlView.init()
        })
      },
      showConfig () {
        this.showConfigVisible = true
        this.$nextTick(() => {
          this.$refs.userCtrlAdd.init()
        })
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataForm.gameRoomId = ''
        if (this.dataForm.roomArr != null && this.dataForm.roomArr.length === 2) {
          this.dataForm.gameRoomId = this.dataForm.roomArr[1]
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/usergamedata/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'gameRoomId': this.dataForm.gameRoomId,
            'betLimitStart': this.dataForm.betLimitStart,
            'betLimitEnd': this.dataForm.betLimitEnd,
            'type': this.dataForm.type,
            'refreshTime': this.dataForm.refreshTime,
            'order': this.dataForm.order,
            'sortby': this.dataForm.sortby
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
