<template>
  <el-dialog
    title="手动上分"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="用户ID:" prop="userId">
            <el-input v-model="dataForm.userId" placeholder="用户ID"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="充值金额:" prop="payFee">
            <el-input-number v-model="dataForm.payFee" :min="1" :max="9999999999" label="支付金额(元)"></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="充值类型:" prop="depositor">
            <el-select v-model="dataForm.payType" :span="12">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="充值人名称:" prop="depositor">
            <el-input v-model="dataForm.depositor" placeholder="充值人名称"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="充值账号:" prop="account">
            <el-input v-model="dataForm.account" placeholder="充值账号"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="备     注:" prop="remark">
            <el-input type="textarea" v-model="dataForm.remark"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        roleList: [],
        dataForm: {
          id: 0,
          userId: 0,
          payFee: 0,
          depositor: '',
          account: '',
          remark: '',
          payType: 4
        },
        options: [{
          value: 19,
          label: '银行卡转账'
        }, {
          value: 8,
          label: '支付宝转账'
        }, {
          value: 4,
          label: '微信转账'
        }, {
          value: 11,
          label: 'QQ转账'
        }, {
          label: '手动赠送',
          value: 18
        }],
        dataRule: {
          userId: [
            { required: true, message: '用户编码不能为空', trigger: 'blur' }
          ],
          payFee: [
            { required: true, message: '支付金额不能为空', trigger: 'blur' }
          ],
          depositor: [
            { required: true, message: '充值人名称为空', trigger: 'blur' }
          ],
          account: [
            { required: true, message: '充值账号不能为空', trigger: 'blur' }
          ],
          payType: [
            { required: true, message: '充值类型不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init () {
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/cac/payorder/recharge`),
              method: 'post',
              data: this.$http.adornData({
                'userId': this.dataForm.userId,
                'payFee': this.dataForm.payFee,
                'depositor': this.dataForm.iconCss,
                'account': this.dataForm.account,
                'remark': this.dataForm.remark,
                'payType': this.dataForm.payType
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
