<template>
  <el-dialog
    title="玩家输赢控制"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title="下注限额: 如果是放水, 单局下注低于此值才放水; 如果是缩水, 单局下注超过此值才缩水。
             控制权重: 如果是多人房间,此值表示权重(0-100), 如果是单人房(财神) 标出触发概率(0-100) "
      type="warning"
      :closable="false"
      style="margin-bottom: 30px">
    </el-alert>
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="100px">
      <el-row>
        <el-col :span="21">
          <el-form-item label="控制用户ID:" prop="accountId" label-width="110px">
            <el-input v-model="dataForm.accountId" size="small" placeholder="用户ID"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="控制局数:" prop="round" label-width="110px">
            <el-input-number v-model="dataForm.round" size="small" :min="1" :max="20" label="控制局数"></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="控制类型:" prop="type" label-width="110px">
            <el-select v-model="dataForm.type" size="small" :span="12">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="下注限额(元):" prop="betLimit" label-width="110px">
            <el-input-number v-model="dataForm.betLimit" size="small" :min="0" :max="9999999999" label="下注限额"></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="控制权重:" prop="rate" label-width="110px">
            <el-input-number v-model="dataForm.rate" size="small" :min="0" :max="100" label="控制权重"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="控制游戏:" size="mini" prop="gameList" label-width="110px">
          <el-transfer v-model="dataForm.gameList" size="small" :data="dataForm.gameRoomList" :titles="['待选房间', '已选房间']"></el-transfer>
        </el-form-item>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        checkAll: false,
        dataForm: {
          accountId: 2,
          type: 1,
          betLimit: 0,
          rate: 0,
          round: 0,
          gameRoomList: [],
          roomList: '',
          gameList: []
        },
        options: [{
          value: 1,
          label: '放水'
        }, {
          value: 2,
          label: '缩水'
        }],
        dataRule: {
          accountId: [
            {required: true, message: '用户编码不能为空', trigger: 'blur'}
          ],
          type: [
            {required: true, message: '控制类型不能为空', trigger: 'blur'}
          ],
          betLimit: [
            {required: true, message: '控制阀值不能为空', trigger: 'blur'}
          ],
          rate: [
            {required: true, message: '控制权值不能为空', trigger: 'blur'}
          ],
          round: [
            {required: true, message: '控制局数不能为空', trigger: 'blur'}
          ],
          gameList: [
            {required: true, message: '控制游戏不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearForm () {
        this.dataForm.accountId = ''
        this.dataForm.type = 1
        this.dataForm.betLimit = 0

        this.dataForm.rate = 0
        this.dataForm.round = 0
        this.dataForm.gameRoomList = []

        this.dataForm.roomList = ''
        this.dataForm.gameList = []
      },
      init () {
        this.clearForm()
        this.$nextTick(() => {
          this.$http({
            url: this.$http.adornUrl(`/cac/usergamedata/roomList`),
            method: 'post',
            data: this.$http.adornData({})
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.dataForm.gameRoomList = data.roomList
              this.visible = true
            }
          })
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.dataForm.roomList = ''
            for (var i = 0; i < this.dataForm.gameList.length; i++) {
              this.dataForm.roomList += this.dataForm.gameList[i]
              if (i < this.dataForm.gameList.length - 1) {
                this.dataForm.roomList += ','
              }
            }
            this.$http({
              url: this.$http.adornUrl(`/cac/usergamedata/set`),
              method: 'post',
              data: this.$http.adornData({
                'accountId': this.dataForm.accountId,
                'type': this.dataForm.type,
                'betLimit': this.dataForm.betLimit,
                'rate': this.dataForm.rate,
                'round': this.dataForm.round,
                'roomList': this.dataForm.roomList
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
