<template>
  <div class="mod-echarts">
    <section class="data_section">
        <a target="_blank">
          <el-row :gutter="10" class="row_list">
            <el-col :span="8">
              <div class="row_left row_base">
                <el-col :span="12">
                  <div class="pay data_list rflex">
                    <div class="leftItem cflex wflex">
                      <p class="investor">日总盈亏</p>
                      <p class="number">68<span class="perTitle">(元)</span></p>
                    </div>
                    <div class="rightItem">
                      <icon-svg icon-class="iconfukuan" />
                    </div>
                  </div>
                </el-col>
                <el-col :span="12">
                  <div class="pay taxBgcolor data_list rflex">
                    <div class="leftItem cflex wflex">
                      <p class="investor">今日注册</p>
                      <p class="number">120<span class="perTitle">(%)</span></p>
                    </div>
                    <div class="rightItem">
                      <icon-svg icon-class="iconpay3" />
                    </div>
                  </div>
                </el-col>
              </div>
            </el-col>
            <el-col :span="16">
              <div class="row_right row_base">
                <el-col :span="6">
                  <div class="extenedBgcolor data_list rflex">
                    <div class="leftItem cflex wflex">
                      <p class="investor">今日登录</p>
                      <p class="number">686<span class="perTitle">(人)</span></p>
                      <p class="cardText">Decreased by 10%</p>
                    </div>
                    <div class="rightItem">
                      <icon-svg icon-class="iconpay2" />
                    </div>
                  </div>
                </el-col>
                <el-col :span="6">
                  <div class="likeBgcolor data_list rflex">
                    <div class="leftItem cflex wflex">
                      <p class="investor">游戏人数</p>
                      <p class="number">1276<span class="perTitle">(人)</span></p>
                    </div>
                    <div class="rightItem">
                      <icon-svg icon-class="iconpay1" />
                    </div>
                  </div>
                </el-col>
                <el-col :span="6">
                  <div class="linkBgColor data_list rflex">
                    <div class="leftItem cflex wflex">
                      <p class="investor">充值人数</p>
                      <p class="number">82367<span class="perTitle">(人)</span></p>
                    </div>
                    <div class="rightItem">
                      <icon-svg icon-class="iconpay" />
                    </div>
                  </div>
                </el-col>
                <el-col :span="6">
                  <div class="keleBgColor data_list rflex">
                    <div class="leftItem cflex wflex">
                      <p class="investor">充值金额</p>
                      <p class="number">827373<span class="perTitle">(人)</span></p>
                    </div>
                    <div class="rightItem">
                      <icon-svg icon-class="iconfufei0" />
                    </div>
                  </div>
                </el-col>
              </div>
            </el-col>
          </el-row>
      </a>
    </section>
    <el-alert
      title=""
      type="success"
      :closable="false">
      <div>
        <el-row>
          <el-col align="center" :span="12"><img :src="channelInfo.iconUrl" style="width: 50px;height: 50px"></el-col>
          <el-col align="center" :span="12">
            <el-tag type="info">渠道编码: {{ channelInfo.channelId }}</el-tag>
            <el-tag type="warning">渠道名称: {{ channelInfo.channelName }}</el-tag>
          </el-col>
        </el-row>
      </div>
    </el-alert>
    <el-row :gutter="20">
      <el-col :span="6">
        <el-card>
          <div id="J_chartLineBox" class="chart-box"></div>
        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card>

        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card>

        </el-card>
      </el-col>
      <el-col :span="6">
        <el-card>

        </el-card>
      </el-col>
      <el-col :span="24">
        <el-card>
          <div id="J_chartBarBox" class="chart-box"></div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import echarts from 'echarts'

  export default {
    data () {
      return {
        title: '',
        chartLine: null,
        chartBar: null,
        dataListLoading: false,
        channelInfo: {
          channelId: 0,
          channelName: '',
          iconUrl: ''
        },
        ChartLineReport: {
          'title': {
            'text': '营业统计折线图'
          },
          'tooltip': {
            'trigger': 'axis'
          },
          'legend': {
            'data': []
          },
          'grid': {
            'left': '3%',
            'right': '3%',
            'bottom': '3%',
            'containLabel': true
          },
          'xAxis': {
            'type': 'category',
            'boundaryGap': false,
            'data': []
          },
          'yAxis': {
            'type': 'value'
          },
          'series': []
        },
        ChartBarReport: {
          'title': {
            'text': '营业柱状统计图'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          legend: {
            data: []
          },
          grid: {
            'left': '3%',
            'right': '3%',
            'bottom': '3%',
            containLabel: true
          },
          xAxis: {
            type: 'category',
            data: []
          },
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: []
        }
      }
    },
    mounted () {
      this.getChannelInfo()
      this.getReportInfo()
      this.initChartLine()
      this.initChartBar()
    },
    activated () {
      // 由于给echart添加了resize事件, 在组件激活时需要重新resize绘画一次, 否则出现空白bug
      if (this.chartLine) {
        this.chartLine.resize()
      }
      if (this.chartBar) {
        this.chartBar.resize()
      }
    },
    methods: {
      getChannelInfo () {
        this.openFullScreen()
        this.$http({
          url: this.$http.adornUrl('/cac/home/channel'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.channelInfo.channelId = data.channel.channelId
            this.channelInfo.channelName = data.channel.channelName
            this.channelInfo.iconUrl = data.channel.iconUrl
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      getReportInfo () {
        const loading = this.$loading({
          lock: true,
          text: '努力加载中...',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        })
        this.$http({
          url: this.$http.adornUrl('/cac/home/report'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          loading.close()
          if (data && data.code === 0) {
            this.ChartLineReport.xAxis.data = data.xDataList
            this.ChartLineReport.legend.data = data.typeList
            this.ChartLineReport.series = data.lineSeries
            this.initChartLine()

            this.ChartBarReport.xAxis.data = data.xDataList
            this.ChartBarReport.legend.data = data.typeList
            this.ChartBarReport.series = data.barSeries
            this.initChartBar()
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      openFullScreen () {
        // setTimeout(() => {
        //   loading.close()
        // }, 2000)
      },
      // 折线图
      initChartLine () {
        this.chartLine = echarts.init(document.getElementById('J_chartLineBox'))
        this.chartLine.setOption(this.ChartLineReport)
        window.addEventListener('resize', () => {
          this.chartLine.resize()
        })
      },
      // 柱状图
      initChartBar () {
        this.chartBar = echarts.init(document.getElementById('J_chartBarBox'))
        this.chartBar.setOption(this.ChartBarReport)
        window.addEventListener('resize', () => {
          this.chartBar.resize()
        })
      }
    }
  }
</script>

<style lang="scss">
    .mod-demo-echarts {
      > .el-alert {
        margin-bottom: 10px;
      }
      > .el-row {
        margin-top: -10px;
        margin-bottom: -10px;
        .el-col {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .chart-box {
        min-height: 400px;
      }
    }
  .mod-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
  }
  .data_section{
    margin: 20px;
    overflow: auto;
    border-radius: 2px;
    .row_list{
      margin-bottom: 20px;
      .row_base{
        padding: 10px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 6px;
        height: 120px;
      }
    }
    .order_list{
      .orderArea{
        width: 100%;
        height: 300px;
        background: #fff !important;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
        padding-top: 40px;
        overflow: hidden;
      }
      .orderbarArea{
        height: 370px;
      }
    }
    .data_list{
      text-align: center;
      font-size: 14px;
      border-radius: 6px;
      padding: 10px;
      color:#fff;
      height: 80px;
      .leftItem{
        align-items: start;
        justify-content: space-between;
        text-align: left;
      }
      .rightItem{
        width:62px;
        display: flex;
        align-items: center;
        justify-content: center;
        .svg-icon{
          font-size: 30px;
        }
      }
      .number{
        font-size: 22px;
        font-weight: bold;
        .perTitle{
          font-size: 13px;
          margin-left: 5px;
        }
      }
    }
    .pay{
      .leftItem{
        justify-content: space-around;
      }
    }
  }

  .shareItem{
    .shareArea{
      margin-right: 30px;
      flex:1;
      .shareTitle{
        border-left: 4px solid #a9d86e;
      }
    }
    .sharelast{
      margin-right: 0;
    }
  }

  .saleColor{
    color: #FFA3A1;
  }
  .taxColor{
    color: #84d9d2;
  }
  .extenedColor{
    color: #87DE75;
  }
  .likeColor{
    color: #a5e7f0;
  }
  .saleBgcolor{
    background:#FFA3A1;
  }
  .taxBgcolor{
    background: #84d9d2;
  }
  .extenedBgcolor{
    background: #87DE75;
  }
  .likeBgcolor{
    background: #a5e7f0;
  }
  .linkBgColor{
    background:#93b7e3;
  }
  .keleBgColor{
    background:#edafda;
  }
</style>
