<template>
  <div class="mod-echarts">
    <el-alert
      title=""
      type="success"
      :closable="false">
      <div>
        <crad>
          <el-row>
            <el-col align="center" :span="24">
              <div>
                <el-row>
                  <el-col align="right" :span="8">
                    <img :src="channelInfo.iconUrl" style="width: 50px;height: 50px"></el-col>
                  <el-col align="left" :span="8">
                    <el-tag type="info" style="width: 200px">渠道编码: {{ channelInfo.channelId }}</el-tag>
                    <el-tag type="warning" style="width: 200px">渠道名称: {{ channelInfo.channelName }}</el-tag>
                  </el-col>
                  <el-col align="left" :span="8">
                    <el-button type="primary" icon="el-icon-refresh" size="mini"  @click="refresh()"></el-button>
                    <el-tag type="info" style="width: 200px">真人余额: {{ channelInfo.videoBalance }}</el-tag>
                  </el-col>
                </el-row>
              </div>
            </el-col>
          </el-row>
        </crad>
      </div>
    </el-alert>
    <el-row :gutter="20" class="row_list">
      <el-col :span="4">
          <div class="row_left row_base" >
            <div class="pay saleBgcolor data_list rflex" style="border-radius: 5px;color: #fff;padding: 0 10px">
              <div class="leftItem cflex wflex">
                <p class="investor">游戏次数</p>
                <p class="number"> {{ statisData.hisGameCount }}<span class="perTitle">(次)</span></p>
              </div>
              <div class="rightItem">
                <icon-svg icon-class="medal" :name="'medal'" :width="'25'" :height="'25'"></icon-svg>
              </div>
            </div>
          </div>
      </el-col>
      <el-col :span="4">
        <div class="row_left row_base">
          <div class="pay taxBgcolor data_list rflex" style="border-radius: 5px;">
            <div class="leftItem cflex wflex">
              <p class="investor">注册人数</p>
              <p class="number">{{ statisData.dayRegisterCount }}<span class="perTitle">(人)</span></p>
            </div>
            <div class="rightItem">
              <icon-svg icon-class="airplay" :name="'airplay'" :width="'25'" :height="'25'" />
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="row_left row_base">
          <div class="extenedBgcolor data_list rflex" style="border-radius: 5px">
            <div class="leftItem cflex wflex">
              <p class="investor">登录人数</p>
              <p class="number">{{ statisData.dayLoginCount }} <span class="perTitle">(人)</span></p>
            </div>
            <div class="rightItem">
              <icon-svg icon-class="cspace" :name="'cspace'" :width="'25'" :height="'25'" />
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="row_left row_base">
          <div class="likeBgcolor data_list rflex" style="border-radius: 5px">
            <div class="leftItem cflex wflex">
              <p class="investor">游戏人数</p>
              <p class="number">{{ statisData.dayGameCount }} <span class="perTitle">(人)</span></p>
            </div>
            <div class="rightItem">
              <icon-svg icon-class="account" :name="'account'" :width="'25'" :height="'25'" />
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="row_left row_base">
          <div class="linkBgColor data_list rflex" style="border-radius: 5px">
            <div class="leftItem cflex wflex">
              <p class="investor">充值人数</p>
              <p class="number">{{ statisData.dayRechargeCount }} <span class="perTitle">(人)</span></p>
            </div>
            <div class="rightItem">
              <icon-svg icon-class="im_keyboard" :name="'im_keyboard'" :width="'25'" :height="'25'"/>
            </div>
          </div>
        </div>
      </el-col>
      <el-col :span="4">
        <div class="row_left row_base">
          <div class="keleBgColor data_list rflex" style="border-radius: 5px">
            <div class="leftItem cflex wflex">
              <p class="investor">充值金额</p>
              <p class="number">{{ statisData.totalrechargemoney }} <span class="perTitle">(元)</span></p>
            </div>
            <div class="rightItem">
              <icon-svg icon-class="compile" :name="'compile'" :width="'25'" :height="'25'"/>
            </div>
          </div>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="16">
        <el-card>
          <div id="J_chartBarBox_game" class="chart-box"></div>
        </el-card>
      </el-col>
      <el-col :span="8">
        <el-card>
          <div id="J_chartPieBox" class="chart-box"></div>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="12">

      </el-col>
      <el-col :span="12">

      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="24">
        <el-card>
          <div id="J_chartLineBox" class="chart-box"></div>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import echarts from 'echarts'

  export default {
    data () {
      return {
        title: '',
        gameChartBar: null,
        chartPie: null,
        chartLine: null,
        dataListLoading: false,
        channelInfo: {
          channelId: 0,
          channelName: '',
          videoBalance: '',
          iconUrl: ''
        },
        statisData: {
          dayGameCount: 0,
          dayIncome: 0,
          dayLoginCount: 0,
          dayRegisterCount: 0,
          totalrechargemoney: 0,
          dayRechargeCount: 0,
          hisGameCount: 0
        },
        GameChartBarReport: {
          'title': {
            'text': '营业柱状统计图'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          legend: {
            data: []
          },
          grid: {
            'left': '3%',
            'right': '3%',
            'bottom': '3%',
            containLabel: true
          },
          xAxis: {
            type: 'category',
            data: []
          },
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: []
        },
        ChartPieReport: {
          title: {
            text: '当日玩家游戏占比图'
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
          },
          visualMap: {
            show: false,
            min: 80,
            max: 600,
            inRange: {
              colorLightness: [0, 1]
            }
          },
          series: [
            {
              name: '当日玩家游戏占比图',
              type: 'pie',
              radius: '55%',
              textStyle: {
                color: '#ccc'
              },
              center: ['50%', '50%'],
              data: [],
              roseType: 'radius',
              animationType: 'scale',
              animationEasing: 'elasticOut'
            }
          ]
        },
        ChartLineeport: {
          'title': {
            'text': '营业统计折线图'
          },
          'tooltip': {
            'trigger': 'axis'
          },
          'legend': {
            'data': []
          },
          'grid': {
            'left': '3%',
            'right': '3%',
            'bottom': '3%',
            'containLabel': true
          },
          'xAxis': {
            'type': 'category',
            'boundaryGap': false,
            'data': []
          },
          'yAxis': {
            'type': 'value'
          },
          'series': []
        }
      }
    },
    mounted () {
      this.getChannelInfo()
      this.getReportInfo()
      this.initChartLine()
      this.initChartPie()
      this.initGameChartBar()
    },
    activated () {
      if (this.gameChartBar) {
        this.gameChartBar.resize()
      }
      if (this.chartLine) {
        this.chartLine.resize()
      }
      if (this.chartPie) {
        this.chartPie.resize()
      }
    },
    methods: {
      refresh () {
        this.getChannelInfo()
      },
      getChannelInfo () {
        this.$http({
          url: this.$http.adornUrl('/cac/home/channel'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.channelInfo.channelId = data.channel.channelId
            this.channelInfo.channelName = data.channel.channelName
            this.channelInfo.iconUrl = data.channel.iconUrl
            this.channelInfo.videoBalance = data.channel.videoBalance
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      getReportInfo () {
        const loading = this.$loading({
          lock: true,
          text: '努力加载中...',
          spinner: 'el-icon-loading',
          background: 'rgba(0, 0, 0, 0.7)'
        })
        setTimeout(() => {
          loading.close()
        }, 3000)
        this.$http({
          url: this.$http.adornUrl('/cac/home/report'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          if (data && data.code === 0) {
            if (data.dayReport.logincount !== null && data.dayReport.logincount !== '' && data.dayReport.logincount > 0) {
              this.statisData.dayLoginCount = data.dayReport.logincount
            }
            if (data.dayReport.regcount !== null && data.dayReport.regcount !== '' && data.dayReport.regcount > 0) {
              this.statisData.dayRegisterCount = data.dayReport.regcount
            }
            if (data.dayReport.totalrechargemoney !== null && data.dayReport.totalrechargemoney !== '' && data.dayReport.totalrechargemoney > 0) {
              this.statisData.totalrechargemoney = data.dayReport.totalrechargemoney
            }
            if (data.dayReport.rechargecount !== null && data.dayReport.rechargecount !== '' && data.dayReport.rechargecount > 0) {
              this.statisData.dayRechargeCount = data.dayReport.rechargecount
            }
            if (data.dayReport.logingamecount !== null && data.dayReport.logingamecount !== '' && data.dayReport.logingamecount > 0) {
              this.statisData.dayGameCount = data.dayReport.logingamecount
            }
            if (data.dayReport.loginusercount !== null && data.dayReport.loginusercount !== '' && data.dayReport.loginusercount > 0) {
              this.statisData.hisGameCount = data.dayReport.loginusercount
            }
            this.ChartLineeport.xAxis.data = data.timeList
            this.ChartLineeport.legend.data = data.typeList
            this.ChartLineeport.series = data.lineResult
            this.initChartLine()

            this.GameChartBarReport.xAxis.data = data.timeList
            this.GameChartBarReport.legend.data = data.typeList
            this.GameChartBarReport.series = data.barResultList
            this.initGameChartBar()

            this.ChartPieReport.series[0].data = data.pieResultList
            this.initChartPie()
          } else {
            this.$message.error(data.msg)
          }
        })
      },
      // 折线图
      initChartLine () {
        this.chartLine = echarts.init(document.getElementById('J_chartLineBox'))
        this.chartLine.setOption(this.ChartLineeport)
        window.addEventListener('resize', () => {
          this.chartLine.resize()
        })
      },
      initChartPie () {
        this.chartPie = echarts.init(document.getElementById('J_chartPieBox'))
        this.chartPie.setOption(this.ChartPieReport)
        window.addEventListener('resize', () => {
          this.chartPie.resize()
        })
      },
      initGameChartBar () {
        this.gameChartBar = echarts.init(document.getElementById('J_chartBarBox_game'))
        this.gameChartBar.setOption(this.GameChartBarReport)
        window.addEventListener('resize', () => {
          this.gameChartBar.resize()
        })
      }
    }
  }
</script>

<style lang="scss">
  .leftItem{
    float: left;
  }
  .rightItem{
    float: right;
    padding-top: 1.5rem;
  }
  .investor{
    margin: 0;
    padding-top: 1rem;
  }
  .number{
    margin: 0;
    padding-top: 10px;
    font-weight: 900;
  }
  .taxBgcolor,.extenedBgcolor,.likeBgcolor,.linkBgColor,.keleBgColor  {
    height: 75px;
    color: #fff;
    padding: 0 10px;
  }

  .mod-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
  }
  .data_section{
    margin: 20px;
    overflow: auto;
    border-radius: 2px;
    .row_list{
      margin-bottom: 20px;
      .row_base{
        padding: 10px;
        box-sizing: border-box;
        background: #fff;
        border-radius: 6px;
        height: 120px;
      }
    }
    .order_list{
      .orderArea{
        width: 100%;
        height: 300px;
        background: #fff !important;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
        padding-top: 40px;
        overflow: hidden;
      }
      .orderbarArea{
        height: 370px;
      }
    }
    .data_list{
      text-align: center;
      font-size: 14px;
      border-radius: 6px;
      padding: 10px;
      color:#fff;
      height: 80px;
      .leftItem{
        align-items: start;
        justify-content: space-between;
        text-align: left;
      }
      .rightItem{
        width:62px;
        display: flex;
        align-items: center;
        justify-content: center;
        .svg-icon{
          font-size: 30px;
        }
      }
      .number{
        font-size: 22px;
        font-weight: bold;
        .perTitle{
          font-size: 13px;
          margin-left: 5px;
        }
      }
    }
    .pay{
      .leftItem{
        justify-content: space-around;
      }
    }
  }

  .shareItem{
    .shareArea{
      margin-right: 30px;
      flex:1;
      .shareTitle{
        border-left: 4px solid #a9d86e;
      }
    }
    .sharelast{
      margin-right: 0;
    }
  }

  .saleColor{
    color: #FFA3A1;
  }
  .taxColor{
    color: #84d9d2;
  }
  .extenedColor{
    color: #87DE75;
  }
  .likeColor{
    color: #a5e7f0;
  }
  .saleBgcolor{
    background:#FFA3A1;
    border-radius: 5px;
    height: 75px;
  }
  .taxBgcolor{
    background: #84d9d2;
  }
  .extenedBgcolor{
    background: #87DE75;
  }
  .likeBgcolor{
    background: #a5e7f0;
  }
  .linkBgColor{
    background:#93b7e3;
  }
  .keleBgColor{
    background:#edafda;
  }
</style>
