<template>
  <el-dialog
    title="订单详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="订单号:" prop="cashNo">
            <el-input v-model="dataForm.cashNo" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户ID:" prop="userId">
            <el-input v-model="dataForm.userId" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="提现金额:" prop="cashFee">
            <el-input v-model="dataForm.cashFee" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="渠道编码:" prop="channelId">
            <el-input v-model="dataForm.channelId" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="用户账号:" prop="account">
            <el-input v-model="dataForm.account" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="姓名:" prop="accountName">
            <el-input v-model="dataForm.accountName" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="提现类型:" prop="status">
            <el-select v-model="dataForm.cashType" disabled="false" :span="11">
              <el-option
                v-for="item in typeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="状态:" prop="status">
            <el-select v-model="dataForm.status" disabled="false" :span="11">
              <el-option
                v-for="item in statusOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="申请时间:" prop="createTime">
            <el-input v-model="dataForm.createTime" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="申请人:" prop="createBy">
            <el-input v-model="dataForm.createBy" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="银行:" prop="bank">
            <el-input v-model="dataForm.bank" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="分行:" prop="subBank">
            <el-input v-model="dataForm.subBank" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="开户地:" prop="bankAddress">
            <el-input v-model="dataForm.bankAddress" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="审批时间:" prop="approveTime">
            <el-input v-model="dataForm.approveTime" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="审批人:" prop="approveBy">
            <el-input v-model="dataForm.approveBy" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">

        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="审批意见:" prop="note">
            <el-input v-model="dataForm.note" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        typeOptions: [{
          value: 0,
          label: '支付宝'
        }, {
          value: 1,
          label: '微信'
        }, {
          value: 2,
          label: '银行卡'
        }],
        statusOptions: [{
          value: 0,
          label: '提现申请'
        }, {
          value: 1,
          label: '审批通过'
        }, {
          value: 2,
          label: '审批失败'
        }],
        dataForm: {
          id: 0,
          cashNo: '',
          userId: '',
          cashFee: '',
          channelId: '',
          status: '',
          cashType: '',
          account: '',
          accountName: '',
          bank: '',
          subBank: '',
          bankAddress: '',
          createTime: '',
          createBy: '',
          approveTime: '',
          approveBy: '',
          note: ''
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/cashorder/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.id = data.cashOrder.id
                this.dataForm.cashNo = data.cashOrder.cashNo
                this.dataForm.userId = data.cashOrder.userId
                this.dataForm.cashFee = data.cashOrder.cashFee
                this.dataForm.channelId = data.cashOrder.channelId

                this.dataForm.status = data.cashOrder.status
                this.dataForm.cashType = data.cashOrder.cashType
                this.dataForm.account = data.cashOrder.account

                this.dataForm.accountName = data.cashOrder.accountName
                this.dataForm.createTime = data.cashOrder.createTime
                this.dataForm.createBy = data.cashOrder.createBy

                this.dataForm.bank = data.cashOrder.bank
                this.dataForm.subBank = data.cashOrder.subBank
                this.dataForm.bankAddress = data.cashOrder.bankAddress

                this.dataForm.approveTime = data.cashOrder.approveTime
                this.dataForm.approveBy = data.cashOrder.approveBy
                this.dataForm.note = data.cashOrder.note
              }
            })
          }
        })
      }
    }
  }
</script>
