<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input
          v-model="dataForm.userId" align="right" size="small" clearable placeholder="用户ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="dataForm.status" size="small" clearable placeholder="状态">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataForm.startTime"
          size="small"
          value-format="yyyy-MM-dd"
          format="yyyy-MM-dd"
          align="right" type="date" placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataForm.endTime"
          size="small"
          value-format="yyyy-MM-dd"
          format="yyyy-MM-dd"
          align="right" type="date" placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="cashNo"
        header-align="center"
        align="center"
        width="240"
        label="订单号">
      </el-table-column>
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="cashFee"
        header-align="center"
        align="center"
        width="100"
        label="提现金额(元)">
      </el-table-column>
      <el-table-column
        prop="status"
        header-align="center"
        align="center"
        width="100"
        label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 0" size="small" type="success">提现申请</el-tag>
          <el-tag v-else-if="scope.row.status === 1" size="small" type="danger">审批通过</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="warning">审批失败</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="cashType"
        header-align="center"
        align="center"
        label="提现类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.cashType === 1" size="small" type="success">支付宝</el-tag>
          <el-tag v-else-if="scope.row.cashType === 2" size="small" type="danger">银行卡</el-tag>
          <el-tag v-else-if="scope.row.cashType === 3" size="small" type="warning">微信</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="account"
        header-align="center"
        align="center"
        width="220"
        label="收款账号">
      </el-table-column>
      <el-table-column
        prop="accountName"
        header-align="center"
        align="center"
        label="收款人名">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        width="150"
        label="申请时间">
      </el-table-column>
      <el-table-column
        prop="createBy"
        header-align="center"
        align="center"
        width="100"
        label="申请人">
      </el-table-column>
      <el-table-column
        prop="approveTime"
        header-align="center"
        align="center"
        width="150"
        label="审批时间">
      </el-table-column>
      <el-table-column
        prop="approveBy"
        header-align="center"
        align="center"
        label="审批人">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="viewOrder(scope.row.id)">查看</el-button>
          <el-button type="text" v-if="scope.row.status==0" size="small" @click="handleOrder(scope.row.id)">处理
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <CashOrderApproval v-if="approvalVisible" ref="cashOrderApproval"
                       @refreshDataList="searchChange"></CashOrderApproval>
    <!--弹窗修改状态-->
    <CashOrderDetail v-if="detailVisible" ref="cashOrderDetail" @refreshDataList="searchChange"></CashOrderDetail>
  </div>
</template>

<script>
  import CashOrderApproval from './cashOrder-approval'
  import CashOrderDetail from './cashOrder-detail'

  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          startTime: '',
          endTime: '',
          status: ''
        },
        options: [{
          value: 0,
          label: '提现申请'
        }, {
          value: 1,
          label: '审批通过'
        }, {
          value: 2,
          label: '审批失败'
        }],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false
      }
    },
    components: {
      CashOrderApproval, CashOrderDetail
    },
    created () {
      this.getDataList()
    },
    methods: {
      viewOrder (id) {
        this.detailVisible = true
        this.$nextTick(() => {
          this.$refs.cashOrderDetail.init(id)
        })
      },
      handleOrder (id) {
        this.approvalVisible = true
        this.$nextTick(() => {
          this.$refs.cashOrderApproval.init(id)
        })
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.status = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 2) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 元'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/cashorder/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'status': this.dataForm.status,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
