<template>
  <el-dialog
    title="支付值配置"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>设置支付值</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加
            </el-button>
          </div>
          <el-col :span="12">
            <el-form-item label="显示金额(元):" prop="showValue">
              <el-input-number v-model="dataForm.showValue" size="small" :min="1"  :max="9999999999" label="显示金额"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="支付金额(元):" prop="payValue">
              <el-input-number v-model="dataForm.payValue" size="small" :min="1" :max="9999999999"  label="支付金额"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置固定支付值列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              @selection-change="selectionChangeHandle"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="showValue"
                header-align="center"
                align="center"
                label="显示金额(元)">
              </el-table-column>
              <el-table-column
                prop="payValue"
                header-align="center"
                align="center"
                label="支付金额(元)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        beginTime: '',
        endTime: '',
        dataList: [],
        btnLoading: false,
        dataListLoading: false,
        dataListSelections: [],
        day_num: 0,
        tempArr: [],
        channelName: '',
        dataForm: {
          configId: 0,
          payValue: 0,
          showValue: 0
        }
      }
    },
    methods: {
      addConfig () {
        if (this.dataForm.payValue !== null || this.dataForm.showValue !== null || this.dataForm.payValue !== '0' || this.dataForm.showValue !== '0') {
          let obj = {payValue: this.dataForm.payValue, showValue: this.dataForm.showValue}
          this.dataList.push(obj)
        } else {
          this.$message.error('支付金额，显示金额配置不正确!')
        }
      },
      clearConfig () {
        this.$confirm(`确定对进行清空操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dataList = []
          this.dataForm.showValue = 1
          this.dataForm.payValue = 1
        }).catch(() => {
        })
      },
      crearFrom () {
        this.dataList = []
        this.dataForm.showValue = 1
        this.dataForm.payValue = 1
      },
      delConfig () {
        if (this.dataListSelections != null && this.dataListSelections.length > 0) {
          for (var i = 0; i < this.dataListSelections.length; i++) {
            for (var j = 0; j < this.dataList.length; j++) {
              if (this.dataListSelections[i]['beginDay'] === this.dataList[j]['beginDay'] && this.dataListSelections[i]['endDay'] === this.dataList[j]['endDay'] && this.dataListSelections[i]['award'] === this.dataList[j]['award'] && this.dataListSelections[i]['additional'] === this.dataList[j]['additional']) {
                delete this.dataList[i]
                console.log(this.this.dataList.length)
              }
            }
          }
        } else {
          this.$message.error('请选择需要删除的配置！')
        }
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      isConfigFinish () {
        var result = false
        if (this.dataList != null && this.dataList.length > 0) {
          result = true
        }
        return result
      },
      init (id) {
        this.visible = true
        this.dataForm.configId = id
        this.btnLoading = false
        this.crearFrom()
        this.$nextTick(() => {
          if (this.dataForm.configId) {
            this.$http({
              url: this.$http.adornUrl(`/cac/payconfig/payValueInfo/${this.dataForm.configId}`),
              method: 'get'
            }).then(({data}) => {
              if (data && data.code === 0 && data.payValueList !== null && data.payValueList.length > 0) {
                this.dataList = data.payValueList
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        if (this.isConfigFinish()) {
          this.btnLoading = true
          this.$http({
            url: this.$http.adornUrl(`/cac/payconfig/payValueConfig`),
            method: 'post',
            data: this.$http.adornData({
              'payConfigId': this.dataForm.configId,
              'payValueCfg': this.dataList
            })
          }).then(({data}) => {
            this.btnLoading = false
            if (data && data.code === 0) {
              this.$message({
                message: '设置固定支付值配置成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.visible = false
                  this.btnLoading = false
                  this.$emit('refreshDataList')
                }
              })
            } else {
              this.$message.error(data.msg)
              this.btnLoading = false
            }
          })
        } else {
          this.$message.error('配置信息填写不完整！')
        }
      }
    }
  }
</script>
