<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.payName" size="small" placeholder="支付名称" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button size="small" v-if="isAuth('cac:payconfig:save')" type="primary" @click="addOrUpdateHandle()">新增
        </el-button>
        <el-button size="small" v-if="isAuth('cac:payconfig:delete')" type="danger" @click="deleteHandle()" :disabled="dataListSelections.length <= 0">批量删除
        </el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      size="small"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        type="selection"
        header-align="center"
        align="center"
        width="50">
      </el-table-column>
      <el-table-column
        prop="id"
        header-align="center"
        align="center"
        width="60"
        label="ID">
      </el-table-column>
      <el-table-column
        prop="payName"
        header-align="center"
        align="center"
        width="120"
        label="支付名称">
      </el-table-column>
      <el-table-column
        prop="type"
        header-align="center"
        align="center"
        width="120"
        label="支付归类">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 0" size="small" type="danger">在线支付</el-tag>
          <el-tag v-else-if="scope.row.type === 1" size="small" type="success">银行打款</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="warning">支付宝打款</el-tag>
          <el-tag v-else-if="scope.row.type === 3" size="small" type="info">微信打款</el-tag>
          <el-tag v-else-if="scope.row.type === 4" size="small" type="danger">QQ打款</el-tag>
          <el-tag v-else-if="scope.row.type === 5" size="small" type="success">公司入款</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="payType"
        header-align="center"
        align="center"
        width="120"
        label="支付分类">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.payType === 0" size="small" type="danger">微信公众账号</el-tag>
          <el-tag v-else-if="scope.row.payType === 1" size="small" type="success">微信扫码支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 2" size="small" type="warning">微信网页支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 3" size="small" type="info">微信app支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 4" size="small" color="#ffffff">微信转账支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 5" size="small" type="success">支付宝扫码</el-tag>
          <el-tag v-else-if="scope.row.payType === 6" size="small" type="warning">支付宝APP</el-tag>
          <el-tag v-else-if="scope.row.payType === 7" size="small" type="info">支付宝网页</el-tag>
          <el-tag v-else-if="scope.row.payType === 8" size="small" color="#ffffff">支付宝转账</el-tag>
          <el-tag v-else-if="scope.row.payType === 9" size="small" type="success">QQ钱包Wap</el-tag>
          <el-tag v-else-if="scope.row.payType === 10" size="small" type="warning">QQ钱包手机扫码</el-tag>
          <el-tag v-else-if="scope.row.payType === 11" size="small" type="info">QQ转账支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 12" size="small" type="warning">银联二维码</el-tag>
          <el-tag v-else-if="scope.row.payType === 13" size="small" type="info">网银B2B支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 14" size="small" color="#ffffff">网银B2C支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 15" size="small" type="success">无卡快捷支付</el-tag>
          <el-tag v-else-if="scope.row.payType === 16" size="small" type="warning">银联H5快捷</el-tag>
          <el-tag v-else-if="scope.row.payType === 17" size="small" type="info">银行卡转账</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="merchantCode"
        header-align="center"
        align="center"
        width="150"
        label="商户号">
      </el-table-column>
      <el-table-column
        prop="min"
        header-align="center"
        align="center"
        label="最小金额">
      </el-table-column>
      <el-table-column
        prop="max"
        header-align="center"
        align="center"
        label="最大金额">
      </el-table-column>
      <el-table-column
        prop="platformType"
        header-align="center"
        align="center"
        width="100"
        label="通道类型编码">
      </el-table-column>
      <!--
      <el-table-column
        prop="status"
        header-align="center"
        align="center"
        width="120"
        label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 0" size="small" type="danger">无效</el-tag>
          <el-tag v-else-if="scope.row.status === 1" size="small" type="success">正常</el-tag>
        </template>
      </el-table-column>
      -->
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        label="创建时间">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="状态">
        <template   size="mini" slot-scope="scope">
          <el-switch
            style="display: block"
            size="mini"
            v-model="scope.row.isEffective"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="channelStatus(scope.row.id, scope.row.status)"
            active-text="正常"
            inactive-text="失效">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="configPayValue(scope.row.id)">配置</el-button>
          <el-button type="text" size="small" @click="addOrUpdateHandle(scope.row.id)">修改</el-button>
          <el-button type="text" size="small" @click="deleteHandle(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <AddOrUpdate v-if="addOrUpdateVisible" ref="addOrUpdate" @refreshDataList="searchChange"></AddOrUpdate>
    <!-- 彈窗配置支付具體信息-->
    <PayValueConfig v-if="valueConfigVisible" ref="payValueConfig" @refreshDataList="searchChange"></PayValueConfig>
  </div>
</template>

<script>
  import AddOrUpdate from './payConfig-add-or-update'
  import PayValueConfig from './payConfig-payValue'

  export default {
    data () {
      return {
        dataForm: {
          payName: '',
          account: '',
          status: '',
          payType: ''
        },
        statusForm: {
          status: '',
          id: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false,
        valueConfigVisible: false
      }
    },
    components: {
      AddOrUpdate,
      PayValueConfig
    },
    created () {
      this.getDataList()
    },
    methods: {
      clearForm () {
        this.dataForm.payName = ''
        this.dataForm.account = ''
        this.dataForm.status = ''
        this.dataForm.payType = ''
      },
      channelStatus (id, status) {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/payconfig/modifyStatus'),
          method: 'post',
          data: this.$http.adornData({
            'id': id,
            'status': status
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.$message({
              message: '修改状态操作成功',
              type: 'success',
              duration: 1500
            })
          } else {
            this.$message.error(data.msg)
          }
          this.getDataList()
        })
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/payconfig/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'payName': this.dataForm.payName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 新增 / 修改
      addOrUpdateHandle (id) {
        this.addOrUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.addOrUpdate.init(id)
        })
      },
      configPayValue (id) {
        this.valueConfigVisible = true
        this.$nextTick(() => {
          this.$refs.payValueConfig.init(id)
        })
      },
      // 删除
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.id
        })
        this.$confirm(`确定对[id=${ids.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/payconfig/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {
        })
      }
    }
  }
</script>
