<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="100px" style="margin-top: 30px">
      <el-row>
        <el-col :span="12">
          <el-form-item label="支付名称:" prop="payName">
            <el-input v-model="dataForm.payName" placeholder="支付名称"></el-input>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item label="支付归类:" prop="type">
            <el-select v-model="dataForm.type" @change="doChange">
              <el-option v-for="item in type" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row v-if="dataForm.type == 0 || dataForm.type == 1 || dataForm.type == 5">
        <el-col :span="12">
          <el-form-item :label="merchantKeyLable" prop="merchantKey">
            <el-input v-model="dataForm.merchantKey"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item :label="urlLable" prop="publicKey">
            <el-input v-model="dataForm.publicKey"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row v-if="dataForm.type == 0">
        <el-col :span="12">
          <el-form-item label="通道类型编码" prop="platformType">
            <el-input v-model="dataForm.platformType"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="网关地址" prop="payGetway">
            <el-input v-model="dataForm.payGetway"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item :label="merchantCodeLable" prop="merchantCode">
            <el-input v-model="dataForm.merchantCode"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12" v-if="dataForm.type != 0">
          <el-form-item :label="accountLable" prop="account">
            <el-input v-model="dataForm.account"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row v-if="dataForm.type == 0">
        <el-col :span="12">
          <el-form-item label="支付通道:" prop="payPlatformId">
            <el-select v-model="dataForm.payPlatformId">
              <el-option v-for="item in payPlatformOptions" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="支付方式:" prop="payType">
            <el-select v-model="dataForm.payType" @change="doPayChange">
              <el-option v-for="item in payTypeOptions" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row v-if="dataForm.type == 5">
        <el-col :span="12">
          <el-form-item label="支付方式:" prop="pms">
            <el-checkbox-group v-model="dataForm.pms">
              <el-checkbox label="1">支付宝</el-checkbox>
              <el-checkbox label="2">微信</el-checkbox>
              <el-checkbox label="4">云闪付</el-checkbox>
              <el-checkbox label="8">银联</el-checkbox>
              <!--<el-checkbox v-for="item in pms" :label="item.id" :key="item.id">{{ item.name }}</el-checkbox>-->
            </el-checkbox-group>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="最小金额:" prop="min">
            <el-input-number v-model="dataForm.min" :min="0" :max="99999999" label="最小金额"></el-input-number>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item label="最大金额:" prop="max">
            <el-input-number v-model="dataForm.max" :min="0" :max="99999999" label="最大金额"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="排序:" prop="sortNo">
            <el-input-number v-model="dataForm.sortNo" :min="0" :max="99999999" label="排     序"></el-input-number>
          </el-form-item>
        </el-col>

        <el-col :span="12">
          <el-form-item label="是否默认:" prop="def">
            <el-select v-model="dataForm.def">
              <el-option v-for="item in isDefOptions" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>

      <el-row>
        <el-col :span="12">
          <el-form-item label="返现倍率(%):" prop="returnRate">
            <el-input-number v-model="dataForm.returnRate" :min="0" :max="100" label="返现倍率"></el-input-number>
          </el-form-item>
        </el-col>

        <el-col :span="12" v-if="dataForm.type === 0">
          <el-form-item label="APPID:" prop="appKey">
            <el-input v-model="dataForm.appKey"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item :label="descLable" prop="payDesc">
        <el-input type="textarea" v-model="dataForm.payDesc"></el-input>
      </el-form-item>

      <el-form-item label="备注" prop="remark">
        <el-input type="textarea" v-model="dataForm.remark"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {isURL} from '@/utils/validate'

  export default {
    data() {
      var validateReturnRate = (rule, value, callback) => {
        if (this.dataForm.returnRate === '' || this.dataForm.returnRate === null || this.dataForm.returnRate === 'undefined' | this.dataForm.returnRate === undefined) {
          callback(new Error('返现倍率不能为空'))
        } else {
          callback()
        }
      }
      var validatePayPlatformId = (rule, value, callback) => {
        if (this.dataForm.payPlatformId === '' || this.dataForm.payPlatformId === null) {
          callback(new Error('支付通道不能为空'))
        } else {
          callback()
        }
      }
      var validateAccount = (rule, value, callback) => {
        if (this.dataForm.type === 0) {
          callback()
        } else {
          if (this.dataForm.account === '' || this.dataForm.account === null) {
            callback(new Error('账号不能为空'))
          } else {
            callback()
          }
        }
      }
      var validateMerchantCode = (rule, value, callback) => {
        if (this.dataForm.merchantCode === '' || this.dataForm.merchantCode === null) {
          if (this.dataForm.type === 0) {
            callback(new Error('商户号不能为空'))
          } else {
            callback(new Error('收款人不能为空'))
          }
        } else {
          callback()
        }
      }
      var validatePayName = (rule, value, callback) => {
        if (this.dataForm.payName === '' || this.dataForm.payName === null) {
          callback(new Error('支付名称不能为空'))
        } else {
          callback()
        }
      }
      var validateType = (rule, value, callback) => {
        if (this.dataForm.type === '' || this.dataForm.type === null) {
          callback(new Error('支付归类不能为空'))
        } else {
          callback()
        }
      }
      var validateMerchantKey = (rule, value, callback) => {
        if (this.dataForm.type === 0) {
          if (this.dataForm.merchantKey === '' || this.dataForm.merchantKey === null) {
            callback(new Error('商户密钥不能为空'))
          } else {
            callback()
          }
        } else if (this.dataForm.type === 1 || this.dataForm.type === 5) {
          if (this.dataForm.merchantKey === '' || this.dataForm.merchantKey === null) {
            callback(new Error('收款银行不能为空'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      var validatePublicKey = (rule, value, callback) => {
        if (this.dataForm.type === 0) {
          callback()
        } else if (this.dataForm.type === 1 || this.dataForm.type === 5) {
          if (this.dataForm.publicKey === '') {
            callback(new Error('开户网点不能为空'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      var validatePayGetway = (rule, value, callback) => {
        if (this.dataForm.type === 0) {
          if (this.dataForm.payGetway === '') {
            callback(new Error('网关地址不能为空'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      var validateIsUrl = (rule, value, callback) => {
        if (this.dataForm.type === 0) {
          if (!isURL(value)) {
            callback(new Error('网关URL格式不正确!'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      var validatePlatformType = (rule, value, callback) => {
        if (this.dataForm.type === 0) {
          if (this.dataForm.platformType === '') {
            callback(new Error('通道类型编码不能为空'))
          } else {
            if (this.dataForm.platformType.length > 200) {
              callback(new Error('通道类型编码长度不正确'))
            } else {
              callback()
            }
          }
        } else {
          callback()
        }
      }
      var validatePms = (rule, value, callback) => {
        if (this.dataForm.type === 5) {
          if (this.dataForm.pms.length === 0) {
            callback(new Error('至少选择一种支付方式'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      return {
        visible: false,
        btnLoading: false,
        roleList: [],
        payPlatformOptions: [],
        merchantKeyLable: '商户密钥',
        urlLable: '商户公钥',
        accountLable: '用户账号',
        merchantCodeLable: '商户号',
        descLable: '支付说明:',
        dataForm: {
          id: 0,
          payName: '',
          appKey: '',
          type: 0,
          merchantCode: '',
          merchantKey: '',
          platformType: '',
          publicKey: '',
          account: '',
          min: '0',
          max: '9999',
          def: 0,
          status: 1,
          stationId: '',
          icon: '',
          payPlatformId: '',
          payGetway: '',
          payType: 1,
          levelGroup: '0',
          sortNo: '',
          payDesc: '',
          returnRate: 0,
          remark: '',
          pms: [],
          pmsFlag: 0
        },
        isDefOptions: [{
          label: '否',
          value: 0
        },
        {
          label: '是',
          value: 1
        }],
        statusOptions: [{
          value: 0,
          label: '无效'
        }, {
          value: 1,
          label: '正常'
        }],
        showTypeOptions: [{
          label: '全部终端',
          value: 0
        }, {
          label: 'Android',
          value: 1
        }, {
          label: 'Ios',
          value: 1
        }, {
          label: '网页',
          value: 1
        }],
        payTypeOptions: [{
          label: '微信公众账号',
          value: 0
        },
        {
          label: '微信扫码支付',
          value: 1
        },
        {
          label: '微信网页支付',
          value: 2
        },
        {
          label: '微信app支付',
          value: 3
        },
        {
          label: '微信转账支付',
          value: 4
        },
        {
          label: '支付宝扫码',
          value: 5
        },
        {
          label: '支付宝APP',
          value: 6
        },
        {
          label: '支付宝网页',
          value: 7
        }, {
          label: '支付宝转账',
          value: 8
        },
        {
          label: 'QQ钱包Wap',
          value: 9
        },
        {
          label: 'QQ钱包手机扫码',
          value: 10
        },
        {
          label: 'QQ转账支付',
          value: 11
        },
        {
          label: '银联二维码',
          value: 12
        },
        {
          label: '网银B2B支付',
          value: 13
        },
        {
          label: '网银B2C支付',
          value: 14
        },
        {
          label: '无卡快捷支付',
          value: 15
        },
        {
          label: '银联H5快捷',
          value: 16
        },
        {
          label: '银行卡转账',
          value: 17
        }],
        level: [{
          label: '无限制',
          value: '0'
        },
        {
          label: '一级',
          value: '1'
        },
        {
          label: '二级',
          value: '2'
        },
        {
          label: '三级',
          value: '3'
        },
        {
          label: '四级',
          value: '4'
        },
        {
          label: '五级',
          value: '5'
        },
        {
          label: '六级',
          value: '6'
        },
        {
          label: '七级',
          value: '7'
        },
        {
          label: '八级',
          value: '8'
        },
        {
          label: '九级',
          value: '9'
        },
        {
          label: '十级',
          value: '10'
        }],
        type: [{
          label: '在线支付',
          value: 0
        },
        {
          label: '银行打款',
          value: 1
        },
        {
          label: '支付宝打款',
          value: 2
        },
        {
          label: '微信打款',
          value: 3
        },
        {
          label: 'QQ打款',
          value: 4
        }, {
          label: '公司入款',
          value: 5
        }],
        dataRule: {
          payName: [
            {validator: validatePayName, trigger: 'blur'}
          ],
          type: [
            {validator: validateType, trigger: 'blur'}
          ],
          merchantKey: [
            {validator: validateMerchantKey, trigger: 'blur'}
          ],
          publicKey: [
            {validator: validatePublicKey, trigger: 'blur'}
          ],
          payGetway: [
            {validator: validatePayGetway, trigger: 'blur'},
            {validator: validateIsUrl, trigger: 'blur'}
          ],
          platformType: [
            {validator: validatePlatformType, trigger: 'blur'}
          ],
          merchantCode: [
            {validator: validateMerchantCode, trigger: 'blur'}
          ],
          account: [
            {validator: validateAccount, trigger: 'blur'}
          ],
          payPlatformId: [
            {validator: validatePayPlatformId, trigger: 'blur'}
          ],
          returnRate: [
            {validator: validateReturnRate, trigger: 'blur'}
          ],
          pms: [
            {validator: validatePms, trigger: 'blur'}
          ]
        }
      }
    },
    activated() {
      this.payPlatformOptions = []
      this.getpayPlatformData()
    },
    methods: {
      getpayPlatformData() {
        this.$http({
          url: this.$http.adornUrl(`/cac/payplatform/getPayPlatFormData`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.payPlatformOptions = data.payPlatformList
          }
        })
      },
      doPayChange(value) {
        if (value === 1 && this.dataForm.payType === 3) {
          this.descLable = '二维码url:'
        } else if (value === 5 && this.dataForm.payType === 5) {
          this.descLable = '二维码url:'
        } else if (value === 10 && this.dataForm.payType === 10) {
          this.descLable = '二维码url:'
        } else if (value === 12 && this.dataForm.payType === 12) {
          this.descLable = '二维码url:'
        } else {
          this.descLable = ' 支付说明:'
        }
      },
      doChange(value) {
        if (value === 0) {
          this.merchantKeyLable = '商户密钥'
          this.urlLable = '商户公钥'
          this.accountLable = '账号'
          this.merchantCodeLable = '商户号'
          this.descLable = ' 支付说明:'
        } else if (value === 1) {
          this.merchantKeyLable = '收款银行'
          this.urlLable = '开户网点'
          this.accountLable = '收款账号'
          this.merchantCodeLable = '收款人'
          if (this.dataForm.payType === 12) {
            this.descLable = '二维码url:'
          }
        } else if (value === 2) {
          this.merchantKeyLable = '收款人'
          this.urlLable = '商户公钥'
          this.accountLable = '支付宝账号'
          this.merchantCodeLable = '支付宝昵称'
          if (this.dataForm.payType === 5) {
            this.descLable = '二维码url:'
          }
        } else if (value === 3) {
          this.merchantKeyLable = '商户密钥'
          this.urlLable = '商户公钥'
          this.accountLable = '微信账号'
          this.merchantCodeLable = '微信昵称'
          if (this.dataForm.payType === 1) {
            this.descLable = '二维码url:'
          }
        } else if (value === 4) {
          this.merchantKeyLable = '商户密钥'
          this.urlLable = '商户公钥'
          this.accountLable = 'QQ账号'
          this.merchantCodeLable = 'QQ昵称'
          if (this.dataForm.payType === 10) {
            this.descLable = '二维码url:'
          }
        } else if (value === 5) {
          this.merchantKeyLable = '收款银行'
          this.urlLable = '开户网点'
          this.accountLable = '收款账号'
          this.merchantCodeLable = '收款人'
          if (this.dataForm.payType === 12) {
            this.descLable = '二维码url:'
          }
        } else {
          this.merchantKeyLable = '商户密钥'
          this.urlLable = '商户公钥'
          this.accountLable = '账号'
          this.merchantCodeLable = '商户号'
          this.descLable = ' 支付说明:'
        }
      },
      clearFrom() {
        this.merchantKeyLable = '商户密钥'
        this.urlLable = '商户公钥'
        this.accountLable = '账号'
        this.merchantCodeLable = '商户号'
        this.dataForm.payName = ''
        this.dataForm.type = 0
        this.dataForm.merchantCode = ''
        this.dataForm.merchantKey = ''
        this.dataForm.publicKey = ''
        this.dataForm.account = ''
        this.dataForm.min = '0'
        this.dataForm.max = '9999'
        this.dataForm.def = 0
        this.dataForm.platformType = ''
        this.dataForm.status = 1
        this.dataForm.stationId = ''
        this.dataForm.icon = ''
        this.dataForm.payPlatformId = ''
        this.dataForm.payGetway = ''
        this.dataForm.payType = 1
        this.dataForm.sortNo = ''
        this.dataForm.appKey = ''
        this.dataForm.descLable = '支付说明:'
        this.dataForm.payDesc = ''
        this.dataForm.remark = ''
        this.dataForm.returnRate = 0
        this.dataForm.pms = []
        this.dataForm.pmsFlag = 0
      },
      init(id) {
        this.payPlatformOptions = []
        this.btnLoading = false
        this.getpayPlatformData()
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.clearFrom()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/payconfig/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.type = data.sysPayConfig.type
                this.dataForm.payName = data.sysPayConfig.payName
                this.dataForm.merchantCode = data.sysPayConfig.merchantCode
                this.dataForm.merchantKey = data.sysPayConfig.merchantKey
                this.dataForm.publicKey = data.sysPayConfig.publicKey
                this.dataForm.account = data.sysPayConfig.account
                this.dataForm.min = data.sysPayConfig.min
                this.dataForm.max = data.sysPayConfig.max
                this.dataForm.def = data.sysPayConfig.def
                this.dataForm.status = data.sysPayConfig.status
                this.dataForm.stationId = data.sysPayConfig.stationId
                this.dataForm.icon = data.sysPayConfig.icon
                this.dataForm.platformType = data.sysPayConfig.platformType
                this.dataForm.payPlatformId = data.sysPayConfig.payPlatformId
                this.dataForm.payGetway = data.sysPayConfig.payGetway
                this.dataForm.payType = data.sysPayConfig.payType
                this.dataForm.sortNo = data.sysPayConfig.sortNo
                this.dataForm.payDesc = data.sysPayConfig.payDesc
                this.dataForm.appKey = data.sysPayConfig.appKey
                this.dataForm.remark = data.sysPayConfig.remark
                this.dataForm.returnRate = data.sysPayConfig.returnRate
                this.dataForm.pmsFlag = data.sysPayConfig.pmsFlag
                this.dataForm.pms = this.parsePms(this.dataForm.pmsFlag)
                this.doChange(this.dataForm.type)
              }
            })
          }
        })
      },
      parsePms(pmsFlag) {
        const s = []
        if ((pmsFlag & 1) !== 0) {
          s.push('1')
        }
        if ((pmsFlag & 2) !== 0) {
          s.push('2')
        }
        if ((pmsFlag & 4) !== 0) {
          s.push('4')
        }
        if ((pmsFlag & 8) !== 0) {
          s.push('8')
        }
        return s
      },
      getPmsFlag(pms) {
        let flag = 0
        pms.forEach(v => {
          flag = flag | parseInt(v)
        })
        return flag
      },
      // 表单提交
      dataFormSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/payconfig/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'payName': this.dataForm.payName,
                'type': this.dataForm.type,
                'platformType': this.dataForm.platformType,
                'payGetway': this.dataForm.payGetway,
                'merchantCode': this.dataForm.merchantCode,
                'merchantKey': this.dataForm.merchantKey,
                'publicKey': this.dataForm.publicKey,
                'account': this.dataForm.account,
                'min': this.dataForm.min,
                'max': this.dataForm.max,
                'def': this.dataForm.def,
                'status': this.dataForm.status,
                'stationId': this.dataForm.stationId,
                'icon': this.dataForm.icon,
                'payPlatformId': this.dataForm.payPlatformId ? this.dataForm.payPlatformId : this.payPlatformOptions[0].value,
                'payType': this.dataForm.payType,
                'sortNo': this.dataForm.sortNo,
                'payDesc': this.dataForm.payDesc,
                'appKey': this.dataForm.appKey,
                'remark': this.dataForm.remark,
                'returnRate': this.dataForm.returnRate,
                'pmsFlag': this.getPmsFlag(this.dataForm.pms)
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
