<template>
  <el-dialog
    :title="!dataForm.id ? '新增' : '修改'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-form-item label="支付名称:" prop="name">
        <el-input v-model="dataForm.name" placeholder="支付名称"></el-input>
      </el-form-item>
      <el-form-item label="支付类型:" prop="type">
        <el-select v-model="dataForm.type">
          <el-option  v-for="item in typeOptions" :key="item.value"  :label="item.label"  :value="item.value" />
        </el-select>
      </el-form-item>
      <el-form-item label="状    态:" prop="status">
          <el-select v-model="dataForm.status">
            <el-option  v-for="item in statusOptions" :key="item.value"  :label="item.label"  :value="item.value" />
          </el-select>
      </el-form-item>
      <el-form-item label="数据状态:" prop="flagActive">
        <el-select v-model="dataForm.flagActive">
          <el-option  v-for="item in flagOptions" :key="item.value"  :label="item.label"  :value="item.value" />
        </el-select>
      </el-form-item>
      <el-form-item label="图标样式:" prop="iconCss">
        <el-input v-model="dataForm.iconCss" placeholder="图标样式名称"></el-input>
      </el-form-item>
      <el-form-item label="图片路径:" prop="imgPath">
        <el-input v-model="dataForm.imgPath" placeholder="图片路径"></el-input>
      </el-form-item>
      <el-form-item label="平台所属:" prop="company">
        <el-input v-model="dataForm.company" placeholder="平台所属公司"></el-input>
      </el-form-item>
      <el-form-item label="排     序:" prop="sortNo">
        <el-input-number v-model="dataForm.sortNo"  :min="0" :max="99999999" label="排     序"></el-input-number>
      </el-form-item>
      <el-form-item label="备     注:" prop="remark">
        <el-input type="textarea" v-model="dataForm.remark"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">取消</el-button>
      <el-button type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        roleList: [],
        dataForm: {
          id: 0,
          name: '',
          type: '1',
          iconCss: '',
          imgPath: '',
          remark: '',
          status: '1',
          createDatetime: '',
          modifyDatetime: '',
          createUserId: '',
          modifyUserId: '',
          flagActive: '1',
          company: '',
          sortNo: ''
        },
        statusOptions: [{
          value: '0',
          label: '禁止'
        }, {
          value: '1',
          label: '正常'
        }],
        flagOptions: [{
          value: '0',
          label: '逻辑删除'
        }, {
          value: '1',
          label: '正常'
        }],
        typeOptions: [{
          value: '1',
          label: '在线支付'
        }, {
          value: '2',
          label: '快速入款'
        }, {
          value: '3',
          label: '银行入款'
        }],
        dataRule: {
          name: [
            { required: true, message: '名称不能为空', trigger: 'blur' }
          ],
          iconCss: [
            { required: true, message: '图标样式名称不能为空', trigger: 'blur' }
          ],
          imgPath: [
            { required: true, message: '图片路径不能为空', trigger: 'blur' }
          ],
          company: [
            { required: true, message: '平台所属公司', trigger: 'blur' }
          ],
          sortNo: [
            { required: true, message: '序号不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/pay/company/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.id = data.config.id
                this.dataForm.name = data.config.name
                this.dataForm.type = parseInt(data.config.type)
                this.dataForm.iconCss = data.config.iconCss
                this.dataForm.imgPath = data.config.imgPath
                this.dataForm.remark = data.config.remark
                this.dataForm.status = parseInt(data.config.status)
                this.dataForm.createDatetime = data.config.createDatetime
                this.dataForm.modifyDatetime = data.config.modifyDatetime
                this.dataForm.createUserId = data.config.createUserId
                this.dataForm.modifyUserId = data.config.modifyUserId
                this.dataForm.flagActive = data.config.flagActive
                this.dataForm.company = data.config.company
                this.dataForm.sortNo = data.config.sortNo
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/pay/company/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'name': this.dataForm.name,
                'type': this.dataForm.type,
                'iconCss': this.dataForm.iconCss,
                'imgPath': this.dataForm.imgPath,
                'remark': this.dataForm.remark,
                'status': this.dataForm.status,
                'createDatetime': this.dataForm.createDatetime,
                'modifyDatetime': this.dataForm.modifyDatetime,
                'createUserId': this.dataForm.createUserId,
                'modifyUserId': this.dataForm.modifyUserId,
                'flagActive': this.dataForm.flagActive,
                'company': this.dataForm.company,
                'sortNo': this.dataForm.sortNo
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
