<template>
  <el-dialog
    title="发放代金券"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-col :span="8">
            <el-form-item label="会员ID:" prop="accountId">
              <el-input v-model="dataForm.accountId" size="small" placeholder="会员ID" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="面额:" prop="voucherId">
              <el-select v-model="dataForm.voucherId" size="small" clearable placeholder="面额">
                <el-option
                  v-for="item in vouchers"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="数量:" prop="voucherNum">
              <el-input-number v-model="dataForm.voucherNum" size="small" :min="1" :max="9999999999"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {isNumber} from '@/utils/validate'

  export default {
    data() {
      var validateIsNumber = (rule, value, callback) => {
        if (value !== null && value !== '') {
          if (!isNumber(value)) {
            callback(new Error('会员ID格式不正确!'))
          } else {
            callback()
          }
        } else {
          callback(new Error('会员ID不能为空!'))
        }
      }
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        btnLoading: false,
        type: 0,
        dataForm: {
          voucherNum: 1,
          accountId: null,
          voucherId: 1
        },
        vouchers: [{
          value: 1,
          label: '2元'
        }, {
          value: 2,
          label: '5元'
        }, {
          value: 3,
          label: '10元'
        }, {
          value: 4,
          label: '20元'
        }, {
          value: 5,
          label: '50元'
        }, {
          value: 6,
          label: '100元'
        }, {
          value: 7,
          label: '500元'
        }, {
          value: 8,
          label: '1000元'
        }],
        dataRule: {
          voucherId: [
            {required: true, message: '面额不能为空', trigger: 'blur'}
          ],
          accountId: [
            {validator: validateIsNumber, trigger: 'blur'},
            {required: true, message: '会员ID不能为空！！！', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearForm() {
        this.dataForm.voucherNum = 1
        this.dataForm.accountId = null
        this.dataForm.voucherId = 1
      },
      init(type, row) {
        this.clearForm()
        this.btnLoading = false
        this.$nextTick(() => {
          this.visible = true
        })
      },
      // 表单提交
      dataFormSubmit() {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            console.log(this.dataForm.accountId)
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/payeritemchange/release`),
              method: 'post',
              data: this.$http.adornData({
                'accountID': this.dataForm.accountId,
                'voucherId': this.dataForm.voucherId,
                'voucherNum': this.dataForm.voucherNum
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '发放代金券成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
