<template>
  <el-dialog
    title="订单详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="订单号:" prop="orderNo">
            <el-input v-model="dataForm.orderNo" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户ID:" prop="userId">
            <el-input v-model="dataForm.userId" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="通道名称:" prop="company">
            <el-input v-model="dataForm.company" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="支付方式:" prop="payName">
            <el-input v-model="dataForm.payName" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="充值金额:" prop="payFee">
            <el-input v-model="dataForm.payFee" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="手续费:" prop="poundage">
            <el-input v-model="dataForm.poundage" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="处理方式:" prop="handlerType">
            <el-select v-model="dataForm.handlerType" disabled="false" :span="11">
              <el-option
                v-for="item in typeOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="状态:" prop="status">
            <el-select v-model="dataForm.status" disabled="false" :span="11">
              <el-option
                v-for="item in statusOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="姓名:" prop="depositor">
            <el-input v-model="dataForm.depositor" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户账号:" prop="account">
            <el-input v-model="dataForm.account" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="创建人:" prop="createBy">
            <el-input v-model="dataForm.createBy" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="创建时间:" prop="createTime">
            <el-input v-model="dataForm.createTime" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="处理人:" prop="modifyBy">
            <el-input v-model="dataForm.modifyBy" disabled="false"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="处理时间:" prop="modifyTime">
            <el-input v-model="dataForm.modifyTime" disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="备注:" prop="note">
            <el-input v-model="dataForm.note"  type="textarea"
                      :rows="2"  disabled="false"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        statusOptions: [{
          value: 0,
          label: '等待支付'
        }, {
          value: 1,
          label: '支付成功'
        }, {
          value: 2,
          label: '支付失败'
        }, {
          value: 3,
          label: '撤销支付'
        }, {
          value: 4,
          label: '扣款成功'
        }],
        typeOptions: [{
          value: 0,
          label: '手动处理'
        }, {
          value: 1,
          label: '系统处理'
        }, {
          value: 2,
          label: '手动上分'
        }, {
          value: 3,
          label: '手动撤销'
        }, {
          value: 4,
          label: '手动扣款'
        }, {
          value: 5,
          label: '手动赠送'
        }],
        dataForm: {
          id: 0,
          orderNo: '',
          userId: '',
          depositor: '',
          payFee: '',
          poundage: '',
          status: '',
          payId: '',
          payName: '',
          account: '',
          handlerType: '',
          createTime: '',
          createBy: '',
          modifyTime: '',
          modifyBy: '',
          company: '',
          note: ''
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/payorder/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.orderNo = data.payOrder.orderNo
                this.dataForm.userId = data.payOrder.userId
                this.dataForm.payFee = data.payOrder.payFee
                this.dataForm.poundage = data.payOrder.poundage
                this.dataForm.status = data.payOrder.status
                this.dataForm.payId = data.payOrder.payId
                this.dataForm.payName = data.payOrder.payName
                this.dataForm.account = data.payOrder.account
                this.dataForm.handlerType = data.payOrder.handlerType
                this.dataForm.createTime = data.payOrder.createTime
                this.dataForm.createBy = data.payOrder.createBy
                this.dataForm.modifyTime = data.payOrder.modifyTime
                this.dataForm.modifyBy = data.payOrder.modifyBy
                this.dataForm.note = data.payOrder.note
                this.dataForm.depositor = data.payOrder.depositor
                this.dataForm.company = data.payOrder.company
              }
            })
          }
        })
      }
    }
  }
</script>
