<template>
  <el-dialog
    title="手动扣款"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-alert
      title="强制撤销当用用户余额不够时会扣到0，非强制用户余额不足时不扣款"
      type="warning"
      :closable="false">
    </el-alert>
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="150px" style="margin-top: 20px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="用户ID:" prop="userId">
            <el-input v-model="dataForm.userId" size="small" placeholder="用户ID"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="扣款金额(元):" prop="payFee">
            <el-input-number v-model="dataForm.payFee" size="small" :min="1" :max="9999999999" label="扣款金额(元)"></el-input-number>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否强制:" prop="force">
            <el-select v-model="dataForm.force" size="small" :span="12">
              <el-option
                v-for="item in cancelOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <el-form-item label="备     注:" prop="note">
            <el-input type="textarea" v-model="dataForm.note"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        roleList: [],
        btnLoading: false,
        dataForm: {
          id: 0,
          userId: '',
          force: 1,
          payFee: 0,
          account: '',
          note: ''
        },
        cancelOptions: [{
          value: 0,
          label: '不强制'
        }, {
          value: 1,
          label: '强制'
        }],
        dataRule: {
          userId: [
            { required: true, message: '用户编码不能为空', trigger: 'blur' }
          ],
          payFee: [
            { required: true, message: '扣款金额不能为空', trigger: 'blur' }
          ],
          force: [
            { required: true, message: '是否强制不能为空', trigger: 'blur' }
          ],
          note: [
            { required: true, message: '备注不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init () {
        this.visible = true
        this.btnLoading = false
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.btnLoading = true
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/cac/payorder/reduceFee`),
              method: 'post',
              data: this.$http.adornData({
                'userId': this.dataForm.userId,
                'payFee': this.dataForm.payFee,
                'force': this.dataForm.force,
                'note': this.dataForm.note
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$alert('扣款成功,您扣除用户账户金额为:' + data.resulet.realCancel + '元', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
