<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-card style="margin-bottom: 0px">
        <el-row>
          <el-col :span="4.8">
            <el-form-item label="会员编码:">
              <el-input
                v-model="dataForm.userId" align="right" size="mini" clearable placeholder="会员ID" style="width: 150px">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4.8" >
            <el-form-item label="支付名称:">
              <el-input
                v-model="dataForm.payName" align="right" size="mini" clearable placeholder="支付名称" style="width: 150px">
              </el-input>
            </el-form-item>
          </el-col>
          <el-col :span="4.8" >
            <el-form-item label="订单状态:">
              <el-select v-model="dataForm.status" size="mini" clearable placeholder="订单状态" style="width: 150px">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="4.8" >
            <el-form-item label="处理方式:">
              <el-select v-model="dataForm.handlerType" size="mini" clearable placeholder="处理方式" style="width: 150px">
                <el-option
                  v-for="item in handOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="4.8" >
            <el-form-item label="开始时间:">
              <el-date-picker
                v-model="dataForm.startTime" align="right" size="mini" type="date" value-format="yyyy-MM-dd" style="width: 150px"
                format="yyyy-MM-dd" placeholder="开始时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="4.8" >
            <el-form-item label="结束时间:">
              <el-date-picker
                v-model="dataForm.endTime" align="right" size="mini" type="date" value-format="yyyy-MM-dd" style="width: 150px"
                format="yyyy-MM-dd" placeholder="结束时间">
              </el-date-picker>
            </el-form-item>
          </el-col>
          <el-form-item>
            <el-button size="mini" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
            <el-button size="mini" @click="clearForm()" icon="el-icon-delete">清空</el-button>
            <el-button size="mini" type="danger" @click="addPayOrder()">手动加款</el-button>
            <el-button size="mini" type="warning" @click="reducePayOrder()">手动扣款</el-button>
          </el-form-item>
        </el-row>
      </el-card>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="orderNo"
        header-align="center"
        align="center"
        width="240"
        label="订单号">
      </el-table-column>
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        width="100"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="payFee"
        header-align="center"
        align="center"
        width="100"
        label="金额(元)">
      </el-table-column>
      <el-table-column
        prop="status"
        header-align="center"
        align="center"
        width="100"
        label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 0" size="small" type="success">等待支付</el-tag>
          <el-tag v-else-if="scope.row.status === 1" size="small" type="danger">支付成功</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="warning">支付失败</el-tag>
          <el-tag v-else-if="scope.row.status === 3" size="small" type="info">撤销支付</el-tag>
          <el-tag v-else-if="scope.row.status === 4" size="small" type="warning">扣款成功</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="payName"
        width="150"
        header-align="center"
        align="center"
        label="支付方式名称">
      </el-table-column>
      <el-table-column
        prop="handlerType"
        header-align="center"
        align="center"
        width="100"
        label="处理方式">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.handlerType === 0" size="small" type="success">手动处理</el-tag>
          <el-tag v-else-if="scope.row.handlerType === 1" size="small" type="danger">系统处理</el-tag>
          <el-tag v-else-if="scope.row.handlerType === 2" size="small" type="info">手动上分</el-tag>
          <el-tag v-else-if="scope.row.handlerType === 3" size="small" type="warning">手动撤销</el-tag>
          <el-tag v-else-if="scope.row.handlerType === 4" size="small" type="info">手动扣款</el-tag>
          <el-tag v-else-if="scope.row.handlerType === 5" size="small" type="info">手动赠送</el-tag>
        </template>
      </el-table-column>
      <!--
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        width="150"
        :formatter="dateFormat"
        label="创建时间">
      </el-table-column> -->
      <el-table-column
        prop="createTimeStr"
        header-align="center"
        align="center"
        width="150"
        label="创建时间">
      </el-table-column>
      <el-table-column
        prop="createBy"
        header-align="center"
        align="center"
        label="创建人">
      </el-table-column>
      <!--
      <el-table-column
        prop="modifyTime"
        header-align="center"
        align="center"
        width="150"
        :formatter="handDateFormat"
        label="处理时间">
      </el-table-column> -->
      <el-table-column
        prop="modifyTimeStr"
        header-align="center"
        align="center"
        width="150"
        :formatter="handDateFormat"
        label="处理时间">
      </el-table-column>
      <el-table-column
        prop="modifyBy"
        header-align="center"
        align="center"
        label="处理人">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="viewOrder(scope.row.id)">查看</el-button>
          <el-button type="text" v-if="scope.row.status==1"  size="small" @click="cancelOrder(scope.row.id)">扣款</el-button>
          <el-button type="text" v-if="scope.row.status==0" size="small" @click="handleOrder(scope.row.id)">处理</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗审批-->
    <PayOrderApproval v-if="approvalVisible" ref="payOrderApproval" @refreshDataList="searchChange"></PayOrderApproval>
    <!--弹窗查看详情-->
    <PayOrderDetail v-if="detailVisible" ref="payOrderDetail" @refreshDataList="searchChange"></PayOrderDetail>
    <!--手动上分-->
    <PayOrderAdd v-if="addOrderVisible" ref="payOrderAdd" @refreshDataList="searchChange"></PayOrderAdd>
    <!--撤回-->
    <PayOrderCancel v-if="cancelOrderVisible" ref="payOrderCancel" @refreshDataList="searchChange"></PayOrderCancel>
    <!--扣减-->
    <PayOrderReduce v-if="reduceOrderVisible" ref="payOrderReduce" @refreshDataList="searchChange"></PayOrderReduce>
  </div>
</template>

<script>
  import PayOrderApproval from './payOrder-approval'
  import PayOrderDetail from './payOrder-detail'
  import PayOrderAdd from './payOrder-add'
  import PayOrderCancel from './payOrder-cancel'
  import PayOrderReduce from './payOrder-reduce'

  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          status: '',
          payName: '',
          startTime: '',
          endTime: '',
          handlerType: ''
        },
        options: [{
          value: 0,
          label: '等待支付'
        }, {
          value: 1,
          label: '支付成功'
        }, {
          value: 2,
          label: '支付失败'
        }, {
          value: 3,
          label: '撤销支付'
        }, {
          value: 4,
          label: '手动扣款'
        }],
        handOptions: [{
          value: 0,
          label: '手动处理'
        }, {
          value: 1,
          label: '系统处理'
        }, {
          value: 2,
          label: '手动上分'
        }, {
          value: 3,
          label: '手动撤销'
        }, {
          value: 4,
          label: '手动扣款'
        }, {
          value: 5,
          label: '手动赠送'
        }],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false,
        addOrderVisible: false,
        reduceOrderVisible: false,
        cancelOrderVisible: false
      }
    },
    components: {
      PayOrderApproval, PayOrderDetail, PayOrderAdd, PayOrderCancel, PayOrderReduce
    },
    created () {
      this.getDataList()
    },
    methods: {
      addPayOrder () {
        this.addOrderVisible = true
        this.$nextTick(() => {
          this.$refs.payOrderAdd.init()
        })
      },
      reducePayOrder () {
        this.reduceOrderVisible = true
        this.$nextTick(() => {
          this.$refs.payOrderReduce.init()
        })
      },
      cancelOrder (id) {
        this.cancelOrderVisible = true
        this.$nextTick(() => {
          this.$refs.payOrderCancel.init(id)
        })
      },
      viewOrder (id) {
        this.detailVisible = true
        this.$nextTick(() => {
          this.$refs.payOrderDetail.init(id)
        })
      },
      handleOrder (id) {
        this.approvalVisible = true
        this.$nextTick(() => {
          this.$refs.payOrderApproval.init(id)
        })
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '' || date == null) {
          return ''
        }
        return this.$moment(date).format('YYYY-MM-DD HH:mm:ss')
      },
      handDateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '' || date == null) {
          return ''
        }
        return this.$moment(date).format('YYYY-MM-DD HH:mm:ss')
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.recordId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
        this.dataForm.status = ''
        this.dataForm.payName = ''
        this.dataForm.handlerType = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 2) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 元'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/payorder/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'payName': this.dataForm.payName,
            'handlerType': this.dataForm.handlerType,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime,
            'status': this.dataForm.status
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
