<template>
  <el-dialog
    title="订单撤销"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-alert
      title="强制撤销当用用户余额不够时会扣到0，非强制用户余额不足时不扣款"
      type="warning"
      :closable="false">
    </el-alert>
    <el-form :model="dataForm" ref="dataForm" :rules="dataRule"  @keyup.enter.native="dataFormSubmit()" label-width="120px" style="margin-top: 40px">
      <el-row>
        <el-col :span="11">
          <el-form-item label="订单号:" prop="orderNo">
            <el-input v-model="dataForm.orderNo" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户ID:" prop="userId">
            <el-input v-model="dataForm.userId" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="通道名称:" prop="company">
            <el-input v-model="dataForm.company" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="支付方式:" prop="payName">
            <el-input v-model="dataForm.payName" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="充值金额:" prop="payFee">
            <el-input v-model="dataForm.payFee" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="状态:" prop="status">
            <el-select v-model="dataForm.status" :disabled="isDisabled" :span="11">
              <el-option
                v-for="item in statusOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="姓名:" prop="depositor">
            <el-input v-model="dataForm.depositor" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="用户账号:" prop="account">
            <el-input v-model="dataForm.account" :disabled="isDisabled"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="是否强制:" prop="force">
            <el-select v-model="dataForm.force"  :span="11">
              <el-option
                v-for="item in cancelOptions"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="扣款原因:" prop="note">
            <el-input v-model="dataForm.note"  type="textarea" :rows="2"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" size="small" :loading="btnLoading" @click="dataFormSubmit()">提交</el-button>
      <el-button size="small" @click="visible = false">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        isDisabled: true,
        cancelOptions: [{
          value: 0,
          label: '不强制'
        }, {
          value: 1,
          label: '强制'
        }],
        statusOptions: [{
          value: 0,
          label: '等待支付'
        }, {
          value: 1,
          label: '支付成功'
        }, {
          value: 2,
          label: '支付失败'
        }],
        typeOptions: [{
          value: 0,
          label: '手动处理'
        }, {
          value: 1,
          label: '系统处理'
        }],
        dataRule: {
          note: [
            { required: true, message: '扣款原因不能为空', trigger: 'blur' }
          ],
          force: [
            { required: true, message: '是否强制不能为空', trigger: 'blur' }
          ]
        },
        dataForm: {
          id: 0,
          orderNo: '',
          userId: '',
          depositor: '',
          payFee: '',
          poundage: '',
          status: '',
          payId: '',
          payName: '',
          account: '',
          handlerType: '',
          force: 1,
          note: '',
          company: ''
        }
      }
    },
    methods: {
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          this.btnLoading = true
          if (valid) {
            this.$http({
              url: this.$http.adornUrl('/cac/payorder/rechargeCancel'),
              method: 'post',
              data: this.$http.adornData({
                'force': this.dataForm.force,
                'note': this.dataForm.note,
                'orderId': this.dataForm.id
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$alert('回撤订单号为:' + data.resulet.orderId + '撤消支付成功,您扣除用户金额为:' + data.resulet.realCancel + '元', '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.btnLoading = false
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      },
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.btnLoading = false
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/payorder/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.orderNo = data.payOrder.orderNo
                this.dataForm.userId = data.payOrder.userId
                this.dataForm.payFee = data.payOrder.payFee
                this.dataForm.poundage = data.payOrder.poundage
                this.dataForm.status = data.payOrder.status
                this.dataForm.payId = data.payOrder.payId
                this.dataForm.payName = data.payOrder.payName
                this.dataForm.account = data.payOrder.account
                this.dataForm.handlerType = data.payOrder.handlerType
                this.dataForm.depositor = data.payOrder.depositor
                this.dataForm.company = data.payOrder.company
              }
            })
          }
        })
      }
    }
  }
</script>
