<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input
          v-model="dataForm.userId" align="right" size="small" clearable placeholder="用户ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="UserID"
        header-align="center"
        align="center"
        width="100"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="BeforeAmount"
        header-align="center"
        align="center"
        width="150"
        label="打码量之前(分)">
      </el-table-column>
      <el-table-column
        prop="ChangeAmount"
        header-align="center"
        align="center"
        width="150"
        label="打码量更新(分)">
      </el-table-column>
      <el-table-column
        prop="AfterAmount"
        header-align="center"
        align="center"
        width="150"
        label="打码量之后(分)">
      </el-table-column>
      <el-table-column
        prop="BeforeNeed"
        header-align="center"
        align="center"
        label="出款打码量前值(分)">
      </el-table-column>
      <el-table-column
        prop="ChangeNeed"
        header-align="center"
        align="center"
        label="出款打码量变化值(分)">
      </el-table-column>
      <el-table-column
        prop="AfterNeed"
        header-align="center"
        align="center"
        label="出款打码量后值(分)">
      </el-table-column>
      <el-table-column
        prop="Type"
        header-align="center"
        align="center"
        label="变化类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.Type === 1" size="small" type="success">充值</el-tag>
          <el-tag v-else-if="scope.row.Type === 2" size="small" type="danger">人工增加</el-tag>
          <el-tag v-else-if="scope.row.Type === 3" size="small" type="warning">人工扣除</el-tag>
          <el-tag v-else-if="scope.row.Type === 4" size="small" type="info">投注</el-tag>
          <el-tag v-else-if="scope.row.Type === 5" size="small" type="success">充值赠送</el-tag>
          <el-tag v-else-if="scope.row.Type === 6" size="small" type="danger">推广下级赠送</el-tag>
          <el-tag v-else-if="scope.row.Type === 7" size="small" type="warning">后台邮件赠送</el-tag>
          <el-tag v-else-if="scope.row.Type === 8" size="small" type="info">推广返利提取</el-tag>
          <el-tag v-else-if="scope.row.Type === 9" size="small" type="success">签到奖励</el-tag>
          <el-tag v-else-if="scope.row.Type === 10" size="small" type="danger">转盘抽奖</el-tag>
          <el-tag v-else-if="scope.row.Type === 11" size="small" type="warning">转正送金</el-tag>
          <el-tag v-else-if="scope.row.Type === 12" size="small" type="success">修改昵称送金</el-tag>
          <el-tag v-else-if="scope.row.Type === 13" size="small" type="info">任务奖励</el-tag>
          <el-tag v-else-if="scope.row.Type === 14" size="small" type="danger">vip晋级彩金</el-tag>
          <el-tag v-else-if="scope.row.Type === 15" size="small" type="warning">vip签到奖励加成</el-tag>
          <el-tag v-else-if="scope.row.Type === 16" size="small" type="success">vip周礼金</el-tag>
          <el-tag v-else-if="scope.row.Type === 17" size="small" type="info">/vip月礼金</el-tag>
          <el-tag v-else-if="scope.row.Type === 18" size="small" type="danger">救济金</el-tag>
          <el-tag v-else-if="scope.row.Type === 19" size="small" type="warning">每日分享奖励</el-tag>
          <el-tag v-else-if="scope.row.Type === 20" size="small" type="success">BG视讯</el-tag>
          <el-tag v-else-if="scope.row.Type === 21" size="small" type="warning">系统邮件</el-tag>
          <el-tag v-else-if="scope.row.Type === 22" size="small" type="info">第三方游戏下注</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="RecordTime"
        header-align="center"
        align="center"
        label="操作时间">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        approvalVisible: false,
        detailVisible: false
      }
    },
    components: {
    },
    activated () {

    },
    methods: {
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 1 || index === 2 || index === 3 || index === 4 || index === 5 || index === 6) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' '
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.startTime === null || this.dataForm.startTime === '' || this.dataForm.endTime === null || this.dataForm.endTime === '') {
          this.$message.error('请输入起止时间!')
          return
        }
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/recorddamachange/tradingList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
