<template>
  <el-dialog
    title="打码量调整"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-alert
      title="手动增加或减少打码量"
      type="warning"
      :closable="false">
    </el-alert>
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px" style="margin-top: 20px">
      <el-row>
        <el-col :span="24">
          <el-form-item label="用户ID:" prop="userId" label-width="150px">
            <el-input v-model="dataForm.userId" size="small" placeholder="用户ID"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12">
          <el-form-item label="调整方式:" prop="opType" label-width="150px">
            <el-select v-model="dataForm.opType" size="small" :span="12">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.label"
                :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="调整金额(分):" prop="damaChange" label-width="150px">
            <el-input-number v-model="dataForm.damaChange" size="small" :min="1" :max="9999999999" label="调整金额(元)"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        roleList: [],
        btnLoading: false,
        dataForm: {
          userId: '',
          opType: 1,
          damaChange: 1
        },
        options: [{
          value: 1,
          label: '增加'
        }, {
          value: 2,
          label: '扣除'
        }],
        dataRule: {
          userId: [
            {required: true, message: '用户编码不能为空', trigger: 'blur'}
          ],
          opType: [
            {required: true, message: '调整方式不能为空', trigger: 'blur'}
          ],
          damaChange: [
            {required: true, message: '调整金额不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      init (userId) {
        this.visible = true
        this.btnLoading = false
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          this.dataForm.userId = ''
          this.dataForm.userId = userId
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.btnLoading = true
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl('/report/recorddamachange/changeUserTrading'),
              method: 'post',
              data: this.$http.adornData({
                'userId': this.dataForm.userId,
                'opType': this.dataForm.opType,
                'damaChange': this.dataForm.damaChange
              })
            }).then(({data}) => {
              if (data && data.channelTrading && data.channelTrading.ret === 0) {
                this.$alert('操作成功,出款所需打码量为' + data.channelTrading.damaNeed + '当前打码量为' + data.channelTrading.damaAmount, '提示', {
                  confirmButtonText: '确定',
                  callback: action => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
