<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input
          v-model="dataForm.userId" align="right" size="small" clearable placeholder="用户ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        width="140"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="userName"
        header-align="center"
        align="center"
        label="用户名">
      </el-table-column>
      <el-table-column
        prop="nickName"
        header-align="center"
        align="center"
        width="100"
        label="昵称">
      </el-table-column>
      <el-table-column
        prop="damaNeed"
        header-align="center"
        align="center"
        label="出款打码量">
      </el-table-column>
      <el-table-column
        prop="damaAmount"
        header-align="center"
        align="center"
        width="220"
        label="当前打码量">
      </el-table-column>
      <el-table-column
        prop="regTime"
        header-align="center"
        align="center"
        label="注册时间">
      </el-table-column>
      <el-table-column
        prop="regIp"
        header-align="center"
        align="center"
        label="注册IP">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="changeUserTrading(scope.row.userId)">操作</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 调整打码量 -->
    <UserTradingChange v-if="userTradingVisible" ref="userTradingChange" @refreshDataList="searchChange"></UserTradingChange>
  </div>
</template>

<script>
  import UserTradingChange from './userTrading-change'

  export default {
    data () {
      return {
        dataForm: {
          userId: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        userTradingVisible: false,
        detailVisible: false
      }
    },
    components: {
      UserTradingChange
    },
    activated () {
    },
    methods: {
      clearForm () {
        this.dataForm.userId = ''
      },
      changeUserTrading (userId) {
        this.userTradingVisible = true
        this.$nextTick(() => {
          this.$refs.userTradingChange.init(userId)
        })
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.userId === null || this.dataForm.userId === '') {
          this.$message.error('请输入用户ID!')
          return
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/recorddamachange/userTrading'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
