<template>
  <nav class="site-navbar" :class="'site-navbar--' + navbarLayoutType">
    <div class="site-navbar__header">
      <h1 class="site-navbar__brand" @click="$router.push({ name: 'home' })">
        <a class="site-navbar__brand-lg" href="javascript:;">ABC渠道管理系统</a>
        <a class="site-navbar__brand-mini" href="javascript:;">ABC</a>
      </h1>
    </div>
    <div>
      <audio ref="audio" id="tts_autio_id" :src="audioSrc" autoplay="autoplay" @canplay="playing()" @ended="ending()"></audio>
    </div>
    <div class="site-navbar__body clearfix">
      <el-menu
        class="site-navbar__menu"
        mode="horizontal">
        <el-menu-item class="site-navbar__switch" index="0" @click="sidebarFold = !sidebarFold">
          <icon-svg name="zhedie"></icon-svg>
        </el-menu-item>
      </el-menu>
      <el-menu
        class="site-navbar__menu site-navbar__menu--right"
        mode="horizontal">

        <el-menu-item  @click="changeValue()" index="1">
          <span class="el-dropdown-link" v-if="navbarLayoutType === 'inverse'">
              <img v-if="dataForm.isPlay === 1" src="~@/assets/img/open_sound_w.png" slot="icon" height="22" width="22"/>
              <img v-if="dataForm.isPlay === 0" src="~@/assets/img/close_sound_w.png" slot="icon" height="22" width="22"/>
            </span>
          <span class="el-dropdown-link"  v-else>
              <img v-if="dataForm.isPlay === 1" src="~@/assets/img/open_sound.png" slot="icon" height="22" width="22"/>
              <img v-if="dataForm.isPlay === 0" src="~@/assets/img/close_sound.png" slot="icon" height="22" width="22"/>
            </span>
        </el-menu-item>

        <el-menu-item class="site-navbar__avatar" index="2">
          音量
          <el-select v-model="dataForm.soundVol" size="mini" style="width: 70px">
            <el-option v-for="item in volOptions" :key="item.value" :label="item.label" :value="item.value"/>
          </el-select>
        </el-menu-item>

        <el-menu-item class="site-navbar__avatar" index="2">
          音调
          <el-select v-model="dataForm.soundPit" size="mini" style="width: 70px">
            <el-option v-for="item in pitOptions" :key="item.value" :label="item.label" :value="item.value"/>
          </el-select>
        </el-menu-item>

        <el-menu-item class="site-navbar__avatar" index="2">
          语速
          <el-select v-model="dataForm.soundSpd" size="mini" style="width: 70px">
            <el-option v-for="item in spdOptions" :key="item.value" :label="item.label" :value="item.value"/>
          </el-select>
        </el-menu-item>

        <el-menu-item class="site-navbar__avatar" index="3">
          提示音
          <el-select v-model="dataForm.soundPer" size="mini" style="width: 95px">
            <el-option v-for="item in soundPerOptions" :key="item.value" :label="item.label" :value="item.value"/>
          </el-select>
        </el-menu-item>

        <el-menu-item class="site-navbar__avatar" index="4">
          周期
          <el-select v-model="dataForm.tipInterval" size="mini" style="width: 80px">
            <el-option v-for="item in tipIntervalOptions" :key="item.value" :label="item.label" :value="item.value"/>
          </el-select>
        </el-menu-item>

        <el-menu-item class="site-navbar__avatar" index="5">
          <el-dropdown :show-timeout="0" placement="bottom">
            <span class="el-dropdown-link">
              <img src="~@/assets/img/avatar.png" :alt="userName">{{ userName }}
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item @click.native="updatePasswordHandle()">修改密码</el-dropdown-item>
              <el-dropdown-item @click.native="logoutHandle()">退出</el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </el-menu-item>
        <el-menu-item index="1" @click="$router.push({ name: 'theme' })">
          <template slot="title">
            <icon-svg name="shezhi" class="el-icon-setting"></icon-svg>
          </template>
        </el-menu-item>
      </el-menu>
    </div>
    <!-- 弹窗, 修改密码 -->
    <update-password v-if="updatePassowrdVisible" ref="updatePassowrd"></update-password>
  </nav>
</template>

<script>
  import UpdatePassword from './main-navbar-update-password'
  import { clearLoginInfo } from '@/utils'
  export default {
    data () {
      return {
        updatePassowrdVisible: false,
        time: 0,
        timeCount: 120,
        audioSrc: '',
        access_token: '24.3ea55131109972486e51e9e435d65644.2592000.1560835784.282335-10206549',
        soundDesc: '有客户请求出款,请及时处理!',
        dataForm: {
          tipInterval: 10,
          tipIntervalValue: 10,
          isPlay: 1,
          soundPer: 0,
          soundType: 1,
          soundSpd: 5,
          soundVol: 5,
          soundPit: 5
        },
        tipIntervalOptions: [
          {
            value: 10,
            label: '10秒'
          }, {
            value: 20,
            label: '20秒'
          }, {
            value: 30,
            label: '30秒'
          }, {
            value: 60,
            label: '60秒'
          }
        ],
        pitOptions: [
          {
            value: 0,
            label: '0'
          }, {
            value: 1,
            label: '1'
          }, {
            value: 3,
            label: '3'
          }, {
            value: 4,
            label: '4'
          }, {
            value: 5,
            label: '5'
          }, {
            value: 6,
            label: '6'
          }, {
            value: 7,
            label: '7'
          }, {
            value: 8,
            label: '8'
          }, {
            value: 9,
            label: '9'
          }, {
            value: 10,
            label: '10'
          }, {
            value: 11,
            label: '11'
          }, {
            value: 12,
            label: '12'
          }, {
            value: 13,
            label: '13'
          }, {
            value: 14,
            label: '14'
          }, {
            value: 15,
            label: '15'
          }
        ],
        volOptions: [
          {
            value: 0,
            label: '0'
          }, {
            value: 1,
            label: '1'
          }, {
            value: 3,
            label: '3'
          }, {
            value: 4,
            label: '4'
          }, {
            value: 5,
            label: '5'
          }, {
            value: 6,
            label: '6'
          }, {
            value: 7,
            label: '7'
          }, {
            value: 8,
            label: '8'
          }, {
            value: 9,
            label: '9'
          }, {
            value: 10,
            label: '10'
          }, {
            value: 11,
            label: '11'
          }, {
            value: 12,
            label: '12'
          }, {
            value: 13,
            label: '13'
          }, {
            value: 14,
            label: '14'
          }, {
            value: 15,
            label: '15'
          }
        ],
        spdOptions: [
          {
            value: 0,
            label: '0'
          }, {
            value: 1,
            label: '1'
          }, {
            value: 3,
            label: '3'
          }, {
            value: 4,
            label: '4'
          }, {
            value: 5,
            label: '5'
          }, {
            value: 6,
            label: '6'
          }, {
            value: 7,
            label: '7'
          }, {
            value: 8,
            label: '8'
          }, {
            value: 9,
            label: '9'
          }, {
            value: 9,
            label: '9'
          }, {
            value: 10,
            label: '10'
          }, {
            value: 11,
            label: '11'
          }, {
            value: 12,
            label: '12'
          }, {
            value: 13,
            label: '13'
          }, {
            value: 14,
            label: '14'
          }, {
            value: 15,
            label: '15'
          }
        ],
        soundPerOptions: [
          {
            value: 0,
            label: '普通女声'
          }, {
            value: 1,
            label: '普通男声'
          }, {
            value: 3,
            label: '情感男声'
          }, {
            value: 4,
            label: '情感女生'
          }
        ]
      }
    },
    components: {
      UpdatePassword
    },
    created () {
      this.countDown()
      this.getSoundTonKen()
    },
    computed: {
      navbarLayoutType: {
        get () { return this.$store.state.common.navbarLayoutType }
      },
      sidebarFold: {
        get () { return this.$store.state.common.sidebarFold },
        set (val) { this.$store.commit('common/updateSidebarFold', val) }
      },
      mainTabs: {
        get () { return this.$store.state.common.mainTabs },
        set (val) { this.$store.commit('common/updateMainTabs', val) }
      },
      userName: {
        get () { return this.$store.state.user.name }
      }
    },
    methods: {
      playing () {
      },
      ending () {
      },
      changeValue () {
        if (this.dataForm.isPlay === 1) {
          this.dataForm.isPlay = 0
        } else {
          this.dataForm.isPlay = 1
        }
      },
      countDown () {
        window.setInterval(() => {
          this.timeCount--
          this.doNotice()
        }, 1000)
      },
      doNotice () {
        if (this.timeCount <= 0) {
          this.timeCount = 120
        }
        if (this.timeCount % this.dataForm.tipInterval === 0) {
          this.queryOrderList()
        }
      },
      getSoundTonKen () {
        this.$http({
          url: this.$http.adornUrl('/cac/home/soundTonken'),
          method: 'get',
          params: this.$http.adornParams({
            'userId': 1
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.access_token = data.tonken
          }
        })
      },
      queryOrderList () {
        this.$http({
          url: this.$http.adornUrl('/cac/home/tipInfo'),
          method: 'get',
          params: this.$http.adornParams({
            'userId': 1
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.soundDesc = ''
            if (data.cashTipInfo && data.cashTipInfo.length > 0) {
              this.soundDesc = '有客户请求出款,请受理.'
            }
            if (data.rechargeTipInfo && data.rechargeTipInfo.length > 0) {
              this.soundDesc += '。有客户入款请受理'
            }
            if (this.dataForm.isPlay === 1) {
              this.audioSrc = 'https://tsn.baidu.com/text2audio?lan=zh&ctp=1&cuid=193834392911083434&ctp=1&aue=3&tok=' + this.access_token + '&tex=' + this.soundDesc + '&vol=' + this.dataForm.soundVol + '&pit=' + this.dataForm.soundPit + '&per=' + this.dataForm.soundPer + '&spd=' + this.dataForm.soundSpd
              this.$refs.audio.play()
            }
          }
        })
      },
      // 修改密码
      updatePasswordHandle () {
        this.updatePassowrdVisible = true
        this.$nextTick(() => {
          this.$refs.updatePassowrd.init()
        })
      },
      // 退出
      logoutHandle () {
        this.$confirm(`确定进行[退出]操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/chl/logout'),
            method: 'post',
            data: this.$http.adornData()
          }).then(({data}) => {
            if (data && data.code === 0) {
              clearLoginInfo()
              this.$router.push({ name: 'login' })
            }
          })
        }).catch(() => {})
      }
    }
  }
</script>
