<template>
  <el-dialog
    title="配置推广绑定域名"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <el-col :span="10">
            <el-form-item label="绑定域名:" prop="url">
              <el-input v-model="dataForm.url" size="small" placeholder="绑定域名" clearable></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="10">
            <el-form-item label="绑定上级ID:" prop="accountId">
              <el-input v-model="dataForm.accountId" size="small" placeholder="绑定上级ID" clearable></el-input>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import {isNumber} from '@/utils/validate'

  export default {
    data () {
      var validateIsNumber = (rule, value, callback) => {
        if (value !== null && value !== '') {
          if (!isNumber(value)) {
            callback(new Error('绑定上级ID格式不正确!'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        btnLoading: false,
        type: 0,
        dataForm: {
          url: '',
          accountId: ''
        },
        dataRule: {
          url: [
            {required: true, message: '绑定URL不能为空', trigger: 'blur'}
          ],
          accountId: [
            {validator: validateIsNumber, trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearForm () {
        this.dataForm.url = ''
        this.dataForm.accountId = ''
      },
      init (type, row) {
        this.clearForm()
        this.type = type
        if (this.type === 1 && row !== undefined && row !== '') {
          this.dataForm.url = row.url
          this.dataForm.accountId = row.accountId
        }
        this.btnLoading = false
        this.$nextTick(() => {
          this.visible = true
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            console.log(this.dataForm.accountId)
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/bindurl/${this.type === 0 ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'url': this.dataForm.url,
                'accountId': this.dataForm.accountId
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '配置推广绑定域名成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
