<template>
  <div style="margin:20px; padding: 50px; text-align:center;border:1px solid 	#CD3333;border-radius: 5px;">
    <el-form :model="dataForm" ref="dataForm" :rules="dataRule" label-width="150px" style="text-align:center; margin-top: -20px">
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="渠道标识:" prop="channelId">
            <el-input type="text" size="small" v-model="dataForm.channelId" :disabled="true" style="width: 200px"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="渠道名称:" prop="channelName">
            <el-input type="text" size="small" v-model="dataForm.channelName" :disabled="true" style="width: 200px"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="转正赠送金额(分):" prop="giveValue">
            <el-input-number size="small" v-model="dataForm.giveValue" :min="0" :max="99999999" label="转正赠送金额(分)" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label=" 推广返利模式:" prop="promoteType">
            <el-select v-model="dataForm.promoteType" size="small" style="width: 200px">
              <el-option size="small" v-for="item in promoteOptions" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="第一级返利(‱):" prop="rebate">
            <el-input-number size="small" v-model="dataForm.rebate" :min="1" :max="99999999" label="第一级返利(‱)" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="是否开放兑换:" prop="exchange" >
            <el-select v-model="dataForm.exchange" size="small" style="width: 200px">
              <el-option size="small" v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="最低兑换额度(分):" prop="minExchange">
            <el-input-number size="small" v-model="dataForm.minExchange" :min="1" :max="99999999" label="最低兑换额度(分)" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="注册初始化金币(分):" prop="minExchange">
            <el-input-number size="small" v-model="dataForm.initCoin" :min="0" :max="99999999" label="注册初始化金币(分)" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="打码量倍率:" prop="damaMulti">
            <el-input-number size="small" v-model="dataForm.damaMulti" :min="0" :max="999999" label="打码量倍率" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="返利打码量倍率:" prop="rebateDamaMulti">
            <el-input-number v-model="dataForm.rebateDamaMulti" size="mini"   :min="0" :max="999999" label="返利打码量倍率" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="用户每天可兑换次:" prop="exchangeCount">
            <el-input-number v-model="dataForm.exchangeCount" size="mini"   :min="0" :max="999999" label="每天可兑换次数" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="12" style="float: none;margin: 0 auto">
          <el-form-item label="重置打码量金额(分):" prop="resetDamaLeftCoin">
            <el-input-number v-model="dataForm.resetDamaLeftCoin" size="mini"   :min="0" :max="999999" label="重置打码量金额(分)" style="width: 200px;"></el-input-number>
          </el-form-item>
        </el-col>
      </el-row>
    </el-form>
    <div style="margin:10px;text-align:center;">
      <span slot="footer" class="dialog-footer" style="margin-top: 20px;text-align:center;">
            <el-button type="primary" size="small" @click="doSubmimt()">提交</el-button>
             <el-button size="small" @click="clearForm()">重置</el-button>
      </span>
    </div>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          channelId: 1,
          channelName: '',
          giveValue: 1,
          rebate: 1,
          exchange: 1,
          minExchange: 1,
          initCoin: 1,
          damaMulti: 1,
          rebateDamaMulti: 1,
          exchangeCount: 1,
          promoteType: 1,
          resetDamaLeftCoin: 1
        },
        content: '',
        options: [{
          value: 0,
          label: '关闭'
        }, {
          value: 1,
          label: '开放'
        }],
        promoteOptions: [{
          value: 2,
          label: '单级代理模式'
        }, {
          value: 1,
          label: '无限代理模式'
        }],
        dataRule: {
          giveValue: [
            {required: true, message: '转正赠送金额不能为空', trigger: 'blur'}
          ],
          rebate: [
            {required: true, message: '第一级返利不能为空', trigger: 'blur'}
          ],
          exchange: [
            {required: true, message: '是否开放兑换不能为空', trigger: 'blur'}
          ],
          minExchange: [
            {required: true, message: '最低兑换额度为空', trigger: 'blur'}
          ],
          initCoin: [
            {required: true, message: '初始化金币不能为空', trigger: 'blur'}
          ],
          damaMulti: [
            {required: true, message: '打码量倍率不能为空', trigger: 'blur'}
          ],
          rebateDamaMulti: [
            {required: true, message: '充值返利打码量倍率不能为空', trigger: 'blur'}
          ],
          exchangeCount: [
            {required: true, message: '用户每日提款次数不能为空', trigger: 'blur'}
          ],
          promoteType: [
            {required: true, message: '代理模式不能为空', trigger: 'blur'}
          ],
          resetDamaLeftCoin: [
            {required: true, message: '重置打码量不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    mounted () {
      this.init()
    },
    methods: {
      clearForm () {
        this.dataForm.giveValue = 1
        this.dataForm.rebate = 1
        this.dataForm.exchange = 1
        this.dataForm.minExchange = 1
        this.dataForm.initCoin = 1
        this.dataForm.damaMulti = 1
        this.dataForm.rebateDamaMulti = 1
        this.dataForm.exchangeCount = 1
        this.dataForm.promoteType = 1
        this.dataForm.resetDamaLeftCoin = 1
      },
      init () {
        this.$refs['dataForm'].resetFields()
        this.$http({
          url: this.$http.adornUrl(`/cac/bind/info`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataForm.channelId = data.bindMobile.channelId
            this.dataForm.giveValue = data.bindMobile.giveValue

            this.dataForm.channelName = data.bindMobile.channelName
            this.dataForm.rebate = data.bindMobile.rebate
            if (data.bindMobile.exchange !== null && data.bindMobile.exchange !== '') {
              this.dataForm.exchange = data.bindMobile.exchange
            }
            this.dataForm.minExchange = data.bindMobile.minExchange
            this.dataForm.initCoin = data.bindMobile.initCoin
            this.dataForm.damaMulti = data.bindMobile.damaMulti
            this.dataForm.rebateDamaMulti = data.bindMobile.rebateDamaMulti
            this.dataForm.exchangeCount = data.bindMobile.exchangeCount
            this.dataForm.promoteType = data.bindMobile.promoteType
            this.dataForm.resetDamaLeftCoin = data.bindMobile.resetDamaLeftCoin
          }
        })
      },
      doSubmimt () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/cac/bind/saveOrUpdate`),
              method: 'post',
              data: this.$http.adornData({
                'channelId': this.dataForm.channelId,
                'giveValue': this.dataForm.giveValue,
                'rebate': this.dataForm.rebate,
                'exchange': this.dataForm.exchange,
                'minExchange': this.dataForm.minExchange,
                'initCoin': this.dataForm.initCoin,
                'damaMulti': this.dataForm.damaMulti,
                'rebateDamaMulti': this.dataForm.rebateDamaMulti,
                'exchangeCount': this.dataForm.exchangeCount,
                'promoteType': this.dataForm.promoteType,
                'resetDamaLeftCoin': this.dataForm.resetDamaLeftCoin
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
