<template>
  <el-dialog
    title="配置每日分享"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="150px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置每日奖励</span>
          </div>
          <el-col :span="8">
            <el-form-item label="渠道信息:" prop="channelName">
              <el-tag type="success" style="width: 120px"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="每日奖励(分):" prop="dayAward">
              <el-input-number v-model="dataForm.dayAward" size="small" :min="0" :max="9999999999"
                               label="每日奖励(分)"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="每日分享次数:" prop="awardDayShareCnt">
              <el-input-number :disabled="true" v-model="dataForm.awardDayShareCnt" size="small" :min="0" :max="9999999999"
                               label="每日分享次数"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>设置累计奖励</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addConfig()">添加
            </el-button>
          </div>
          <el-col :span="8">
            <el-form-item label="累计天数:" prop="totalDay">
              <el-input-number v-model="dataForm.totalDay" size="small" :min="0" :max="9999999999"
                               label="累计天数"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="额外奖励(分):" prop="additionAward" style="width: 150px">
              <el-input-number v-model="dataForm.additionAward" size="small" :min="0" :max="9999999999"
                               label="额外奖励(分)"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <br/>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置额外奖励列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="totalDay"
                header-align="center"
                align="center"
                label="累计天数">
              </el-table-column>
              <el-table-column
                prop="additionAward"
                header-align="center"
                align="center"
                label="额外奖励(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        channelId: '',
        channelName: '',
        dataList: [],
        dataListLoading: false,
        dataForm: {
          openType: 1,
          dayAward: 1,
          awardDayShareCnt: 1,
          totalDay: 1,
          additionAward: 1
        },
        dataRule: {
          dayAward: [
            {required: true, message: '累计天数不能为空', trigger: 'blur'}
          ],
          awardDayShareCnt: [
            {required: true, message: '额外奖励不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearConfig () {
        this.$confirm(`确定对进行清空操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dataList = []
          this.dataForm.totalDay = 1
          this.dataForm.additionAward = 1
        }).catch(() => {
        })
      },
      clearForm () {
        this.dataList = []
        this.dataForm.openType = 1
        this.dataForm.dayAward = 1
        this.dataForm.totalDay = 1
        this.dataForm.additionAward = 1
      },
      doChange () {
        if (this.dataForm.maintTime != null && this.dataForm.maintTime.length === 2) {
          this.clearForm()
        }
      },
      addConfig () {
        if ((this.dataForm.totalDay !== null && this.dataForm.totalDay !== '' && this.dataForm.totalDay !== undefined) &&
          (this.dataForm.additionAward !== null && this.dataForm.additionAward !== '' && this.dataForm.additionAward !== undefined)) {
          var isHave = false
          if (this.dataList != null && this.dataList.length > 0) {
            for (var i = 0; i < this.dataList.length; i++) {
              if (this.dataList[i]['totalDay'] === this.dataForm.totalDay) {
                this.$message.error('已经添加了同样的配置!')
                isHave = true
                break
              }
            }
          }
          if (isHave) {
            return
          }
          let obj = {
            totalDay: this.dataForm.totalDay,
            additionAward: this.dataForm.additionAward
          }
          this.dataList.push(obj)
        } else {
          this.$message.error('添加参数不能为空!')
        }
      },
      isConfigFinish () {
        if (this.dataList !== null && this.dataList.length > 0) {
          return true
        } else {
          return false
        }
      },
      init (channelId, channelName) {
        this.btnLoading = false
        this.channelName = channelName
        this.channelId = channelId
        this.clearForm()
        this.$nextTick(() => {
          this.visible = true
          if (this.channelId) {
            this.$http({
              url: this.$http.adornUrl(`/cac/dayshare/info/${this.channelId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataList = data.dayShareCfg.totalDayArr
                this.dataForm.dayAward = data.dayShareCfg.dayAward
                this.dataForm.awardDayShareCnt = data.dayShareCfg.awardDayShareCnt
              }
            })
          }
        })
      },
      // 表单提交
      dataFormSubmit () {
        if (this.isConfigFinish()) {
          this.$refs['dataForm'].validate((valid) => {
            if (valid) {
              this.btnLoading = true
              this.$http({
                url: this.$http.adornUrl(`/cac/dayshare/doConfig`),
                method: 'post',
                data: this.$http.adornData({
                  'dayShareList': this.dataList,
                  'openType': this.dataForm.openType,
                  'dayAward': this.dataForm.dayAward,
                  'awardDayShareCnt': this.dataForm.awardDayShareCnt
                })
              }).then(({data}) => {
                this.btnLoading = false
                if (data && data.code === 0) {
                  this.$message({
                    message: '配置每日分享成功!',
                    type: 'success',
                    duration: 1500,
                    onClose: () => {
                      this.visible = false
                      this.btnLoading = false
                      this.$emit('refreshDataList')
                    }
                  })
                } else {
                  this.$message.error(data.msg)
                  this.btnLoading = false
                }
              })
            }
          })
        } else {
          this.$message.error('配置信息不能为空!')
        }
      }
    }
  }
</script>
