<template>
  <el-dialog
    title="查看每日分享"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置每日奖励</span>
          </div>
          <el-col :span="8">
            <el-form-item label="渠道信息:" prop="channelName">
              <el-tag type="success" style="width: 200px"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="每日奖励(分):" prop="dayAward">
              <el-tag type="warning"> {{ dataForm.dayAward}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="每日分享次数:" prop="awardDayShareCnt">
              <el-tag type="warning"> {{ dataForm.awardDayShareCnt}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>设置累计奖励</span>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="totalDay"
                header-align="center"
                align="center"
                label="累计天数">
              </el-table-column>
              <el-table-column
                prop="additionAward"
                header-align="center"
                align="center"
                label="额外奖励(分)">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        beginTime: '',
        endTime: '',
        channelName: '',
        dataList: [],
        dataListLoading: false,
        dataForm: {
          channelId: '',
          dayAward: 1,
          awardDayShareCnt: 1
        }
      }
    },
    methods: {
      init (channelId, channelName) {
        this.channelName = channelName
        this.dataForm.channelId = channelId
        this.$nextTick(() => {
          this.visible = true

          if (this.dataForm.channelId) {
            this.$http({
              url: this.$http.adornUrl(`/cac/dayshare/info/${this.dataForm.channelId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataList = data.dayShareCfg.totalDayArr
                this.dataForm.dayAward = data.dayShareCfg.dayAward
                this.dataForm.awardDayShareCnt = data.dayShareCfg.awardDayShareCnt
              }
            })
          }
        })
      }
    }
  }
</script>
