<template>
  <el-dialog
    title="查看充值返利"
    width="85%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置活动时间</span>
          </div>
          <el-col :span="12">
            <el-form-item label="渠道信息:" prop="channelName">
              <el-tag type="success" style="width: 200px"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="开始时间:" prop="startTime">
              <el-tag type="warning"> {{ dataForm.startTime}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="结束时间:" prop="endTime">
              <el-tag type="warning"> {{ dataForm.endTime}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置充值奖励列表</span>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="minCoin"
                header-align="center"
                align="center"
                label="充值下限(分)">
              </el-table-column>
              <el-table-column
                prop="maxCoin"
                header-align="center"
                align="center"
                label="充值上限(分)">
              </el-table-column>
              <el-table-column
                prop="rebateType"
                header-align="center"
                align="center"
                label="返利类型">
                <template slot-scope="scope">
                  <el-tag v-if="scope.row.rebateType === 1" size="small" type="success">百分比</el-tag>
                  <el-tag v-else-if="scope.row.rebateType === 2" size="small" type="danger">固定值</el-tag>
                </template>
              </el-table-column>
              <el-table-column
                prop="rebateContent"
                header-align="center"
                align="center"
                label="返利奖励">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        btnLoading: false,
        beginTime: '',
        endTime: '',
        channelName: '',
        dataList: [],
        dataListLoading: false,
        dataListSelections: [],
        options: [
          {
            value: 1,
            label: '百分比'
          }, {
            value: 2,
            label: '固定值'
          }
        ],
        dataForm: {
          channelId: '',
          startTime: '',
          endTime: '',
          minCoin: 0,
          maxCoin: 0,
          rebateType: 1,
          rebateContent: 0
        }
      }
    },
    methods: {
      init (channelId, channelName) {
        this.channelName = channelName
        this.dataForm.channelId = channelId
        this.$nextTick(() => {
          this.visible = true

          if (this.dataForm.channelId) {
            this.$http({
              url: this.$http.adornUrl(`/cac/deposit/info/${this.dataForm.channelId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataList = data.rabateCfg
                this.dataForm.startTime = data.startTime
                this.dataForm.endTime = data.endTime
              }
            })
          }
        })
      }
    }
  }
</script>
