<template>
  <el-dialog
    title="配置充值返利"
    width="85%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title="先设置起止日期，根据时间依次添加每个阶段的返利配置信息！"
      type="warning"
      :closable="false"
      style="margin-top: -20px; margin-bottom: 10px">
    </el-alert>

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置活动时间</span>
          </div>
          <el-col :span="12">
            <el-form-item label="渠道信息:" prop="channelName">
              <el-tag type="success" style="width: 200px"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="起止时间:" prop="maintTime">
              <el-date-picker size="small" v-model="dataForm.maintTime" start-placeholder="开始日期" end-placeholder="结束日期"
                              @change="doChange" value-format="timestamp" format="yyyy-MM-dd" type="datetimerange"
                              :picker-options="pickerOptions" auto-complete="off"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>设置充值返利</span>
            <el-button size="mini" type="warning"  style="float: right; margin-right: 35px" @click="addConfig()">添加</el-button>
          </div>
          <el-col :span="6">
            <el-form-item label="充值下限(分):" prop="minCoin">
              <el-input-number v-model="dataForm.minCoin" size="small" :disabled="true" :min="0" :max="9999999999"
                               label="充值下限(分)"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="充值上限(分):" prop="maxCoin">
              <el-input-number v-model="dataForm.maxCoin" size="small" :min="0" :max="9999999999" label="充值上限(分)"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="返利类型:" prop="rebateType">
              <el-select v-model="dataForm.rebateType" size="small" >
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="返利奖励:" prop="rebateContent">
              <el-input-number v-model="dataForm.rebateContent" size="small" :min="0" :max="9999999999" label="返利奖励"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <br/>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置充值奖励列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              @selection-change="selectionChangeHandle"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="minCoin"
                header-align="center"
                align="center"
                label="充值下限(分)">
              </el-table-column>
              <el-table-column
                prop="maxCoin"
                header-align="center"
                align="center"
                label="充值上限(分)">
              </el-table-column>
              <el-table-column
                prop="rebateType"
                header-align="center"
                align="center"
                label="返利类型">
                <template slot-scope="scope">
                  <el-tag v-if="scope.row.rebateType === 1" size="small" type="success">百分比</el-tag>
                  <el-tag v-else-if="scope.row.rebateType === 2" size="small" type="danger">固定值</el-tag>
                </template>
              </el-table-column>
              <el-table-column
                prop="rebateContent"
                header-align="center"
                align="center"
                label="返利奖励">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        btnLoading: false,
        beginTime: '',
        endTime: '',
        channelName: '',
        dataList: [],
        dataListLoading: false,
        dataListSelections: [],
        options: [
          {
            value: 1,
            label: '百分比'
          }, {
            value: 2,
            label: '固定值'
          }
        ],
        dataForm: {
          maintTime: [],
          minCoin: 0,
          maxCoin: 0,
          rebateType: 1,
          rebateContent: 0
        },
        dataRule: {
          maintTime: [
            {required: true, message: '活动起止时间不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearConfig () {
        this.$confirm(`确定对进行清空操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dataList = []
          this.dataForm.minCoin = 0
          this.dataForm.maxCoin = 0
          this.dataForm.rebateType = 1
          this.dataForm.rebateContent = 0
        }).catch(() => {
        })
      },
      clearForm () {
        this.dataList = []
        this.dataForm.minCoin = 0
        this.dataForm.maxCoin = 0
        this.dataForm.rebateType = 1
        this.dataForm.rebateContent = 0
      },
      doChange () {
        if (this.dataForm.maintTime != null && this.dataForm.maintTime.length === 2) {
          this.clearForm()
        }
      },
      addConfig () {
        if (this.dataForm.maintTime !== null && this.dataForm.maintTime.length === 2) {
          if ((this.dataForm.minCoin !== null && this.dataForm.minCoin !== '' && this.dataForm.minCoin !== undefined) &&
            (this.dataForm.maxCoin !== null && this.dataForm.maxCoin !== '' && this.dataForm.maxCoin !== undefined) &&
            (this.dataForm.rebateType !== null && this.dataForm.rebateType !== '' && this.dataForm.rebateType !== undefined) &&
            (this.dataForm.rebateContent !== null && this.dataForm.rebateContent !== '' && this.dataForm.rebateContent !== undefined)) {
            if (this.dataForm.maxCoin >= this.dataForm.minCoin) {
              let obj = {
                minCoin: this.dataForm.minCoin,
                maxCoin: this.dataForm.maxCoin,
                rebateType: this.dataForm.rebateType,
                rebateContent: this.dataForm.rebateContent
              }
              this.dataList.push(obj)
              this.dataForm.minCoin = this.dataForm.maxCoin + 1
            } else {
              this.$message.error('充值上限必须大于等于充值下限!')
            }
          } else {
            this.$message.error('添加参数不能为空!')
          }
        } else {
          this.$message.error('活动起止时间不能为空!')
        }
      },
      isConfigFinish () {
        if (this.dataList !== null && this.dataList.length > 0) {
          return true
        } else {
          return false
        }
      },
      init (channelName) {
        this.btnLoading = false

        this.channelName = channelName
        this.dataForm.maintTime = []
        this.clearForm()
        this.$nextTick(() => {
          this.visible = true
          this.$refs['dataForm'].resetFields()
        })
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 表单提交
      dataFormSubmit () {
        if (this.isConfigFinish()) {
          this.$refs['dataForm'].validate((valid) => {
            if (valid) {
              this.beginTime = this.dataForm.maintTime[0] instanceof Date ? this.dataForm.maintTime[0].getTime() : this.dataForm.maintTime[0]
              this.endTime = this.dataForm.maintTime[1] instanceof Date ? this.dataForm.maintTime[1].getTime() : this.dataForm.maintTime[1]
              this.btnLoading = true
              this.$http({
                url: this.$http.adornUrl(`/cac/deposit/doConfig`),
                method: 'post',
                data: this.$http.adornData({
                  'rabateCfg': this.dataList,
                  'beginTime': this.beginTime,
                  'endTime': this.endTime
                })
              }).then(({data}) => {
                this.btnLoading = false
                if (data && data.code === 0) {
                  this.$message({
                    message: '配置充值返利成功!',
                    type: 'success',
                    duration: 1500,
                    onClose: () => {
                      this.visible = false
                      this.btnLoading = false
                      this.$emit('refreshDataList')
                    }
                  })
                } else {
                  this.$message.error(data.msg)
                  this.btnLoading = false
                }
              })
            }
          })
        } else {
          this.$message.error('配置信息不能为空!')
        }
      }
    }
  }
</script>
