<template>
  <el-dialog
    title="查看推广累计充值返利配置"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" ref="dataForm" label-width="120px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>配置信息</span>
          </div>
          <el-col :span="24">
            <el-row>
              <el-col :span="6">
                <el-form-item label="渠道信息:" prop="channelName" label-width="140px">
                  <el-tag type="warning" style="width: 140px"> {{dataForm.channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="时间类型:" prop="channelName" label-width="140px">
                  <el-tag type="warning" style="width: 140px"> {{dataForm.timeTypeName}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>
              <el-col :span="6" v-if="this.dataForm.timeType === 1">
                <el-form-item label="开始时间:" prop="beginTime" label-width="140px">
                  <el-tag type="warning" style="width: 140px"> {{ dataForm.startTimeStr}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>
              <el-col :span="6" v-if="this.dataForm.timeType === 1">
                <el-form-item label="结束时间:" prop="endTime" label-width="140px">
                  <el-tag type="warning" style="width: 140px"> {{ dataForm.endTimeStr}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>
            </el-row>
          </el-col>
          <el-col>
            <el-row>
              <el-col :span="6">
                <el-form-item label="首次累计充值(分):" prop="firstTotalDeposit" label-width="140px">
                  <el-tag type="warning" style="width: 140px"> {{dataForm.firstTotalDeposit}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="充值用户奖励(分):" prop="selfReward" label-width="140px">
                  <el-tag type="warning" style="width: 140px"> {{dataForm.selfReward}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>
              <el-col :span="6">
                <el-form-item label="上级奖励(分):" prop="upperReward" label-width="140px">
                  <el-tag type="warning" style="width: 140px"> {{ dataForm.upperReward}}</el-tag> &nbsp;&nbsp;&nbsp;
                </el-form-item>
              </el-col>
              <el-col :span="6">

              </el-col>
            </el-row>
          </el-col>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        btnLoading: false,
        tempArr: [],
        dataForm: {
          channelId: '',
          channelName: '',
          timeType: '',
          timeTypeName: '',
          startTimeStr: '',
          endTimeStr: '',
          firstTotalDeposit: 1,
          selfReward: 1,
          upperReward: 1
        }
      }
    },
    methods: {
      crearFrom () {
        this.dataForm.channelId = ''
        this.dataForm.channelName = ''
        this.dataForm.timeTypeName = ''
        this.dataForm.startTimeStr = ''
        this.dataForm.endTimeStr = ''
        this.dataForm.firstTotalDeposit = 1
        this.dataForm.selfReward = 1
        this.dataForm.upperReward = 1
      },
      init (channelId) {
        this.crearFrom()
        this.dataForm.channelId = channelId
        this.$nextTick(() => {
          this.visible = true
          this.$http({
            url: this.$http.adornUrl(`/cac/invitedeposit/info`),
            method: 'get',
            params: this.$http.adornParams({
              'channelId': this.dataForm.channelId
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.dataForm.channelId = data.inviteDeposit.channelId
              this.dataForm.channelName = data.inviteDeposit.channelName
              this.dataForm.timeType = data.inviteDeposit.timeType
              this.dataForm.timeTypeName = data.inviteDeposit.timeType === '1' || data.inviteDeposit.timeType === 1 ? '指定时间' : '永久时间'
              this.dataForm.startTimeStr = data.inviteDeposit.beginTimeStr
              this.dataForm.endTimeStr = data.inviteDeposit.endTimeStr
              this.dataForm.firstTotalDeposit = data.inviteDeposit.firstTotalDeposit
              this.dataForm.selfReward = data.inviteDeposit.selfReward
              this.dataForm.upperReward = data.inviteDeposit.upperReward
            }
          })
        })
      }
    }
  }
</script>
