<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="date" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="date" value-format="yyyy-MM-dd" format="yyyy-MM-dd" placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button type="danger" size="small" @click="luckRouletteConfig()">配置幸运转盘</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="channelId"
        header-align="center"
        align="center"
        label="渠道ID">
      </el-table-column>
      <el-table-column
        prop="channelName"
        header-align="center"
        align="center"
        label="渠道名称">
      </el-table-column>
      <el-table-column
        prop="iconUrl"
        header-align="center"
        align="center"
        width="80"
        label="图标">
        <template slot-scope="scope">
          <img :src="scope.row.iconUrl" min-width="50" height="50"/>
        </template>
      </el-table-column>
      <el-table-column
        prop="silverCost"
        header-align="center"
        align="center"
        label="白银消耗积分">
      </el-table-column>
      <el-table-column
        prop="goldCost"
        header-align="center"
        align="center"
        label="黄金消耗积分">
      </el-table-column>
      <el-table-column
        prop="diamondCost"
        header-align="center"
        align="center"
        label="钻石消耗积分">
      </el-table-column>
      <el-table-column
        prop="startTimeStr"
        header-align="center"
        align="center"
        width="150"
        label="开始时间">
      </el-table-column>
      <el-table-column
        prop="finishTimeStr"
        header-align="center"
        align="center"
        width="150"
        label="结束时间">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        label="状态">
        <template size="mini" slot-scope="scope">
          <el-switch
            style="display: block"
            size="mini"
            v-model="scope.row.openType"
            active-color="#13ce66"
            inactive-color="#ff4949"
            @change="channelOpenType(scope.row.channelId, scope.row.openType)"
            active-text="开"
            inactive-text="关">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="100"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="luckyRouletteView(scope.row.channelId)">
            查看
          </el-button>
          <el-button type="text" size="small" @click="luckyRouletteUpdate(scope.row.channelId)">
            修改
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>

    <!-- 弹窗配置-->
    <LuckyRouletteConfig  ref="luckyRouletteConfig" @refreshDataList="searchChange"></LuckyRouletteConfig>
    <!-- 弹窗查看-->
    <LuckyRouletteView  ref="luckyRouletteView" @refreshDataList="searchChange"></LuckyRouletteView>
    <!-- 修改配置-->
    <LuckyRouletteUpdate  ref="luckyRouletteUpdate" @refreshDataList="searchChange"></LuckyRouletteUpdate>
  </div>
</template>

<script>
  import LuckyRouletteConfig from './luckyRoulette-config'
  import LuckyRouletteView from './luckyRoulette-view'
  import LuckyRouletteUpdate from './luckyRoulette-update'

  export default {
    data () {
      return {
        dataForm: {
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        showConfigDialog: false,
        showViewDialog: false,
        showUpdateDialog: false
      }
    },
    components: {
      LuckyRouletteConfig,
      LuckyRouletteView,
      LuckyRouletteUpdate
    },
    created () {
      this.getDataList()
    },
    methods: {
      closeDialog () {
        this.showConfigDialog = false
        this.showViewDialog = false
        this.showUpdateDialog = false
      },
      // 配置信息
      luckRouletteConfig () {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.luckyRouletteConfig.init()
        })
      },
      luckyRouletteView (id) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.luckyRouletteView.init(id)
        })
      },
      luckyRouletteUpdate (id) {
        this.showUpdateDialog = true
        this.$nextTick(() => {
          this.$refs.luckyRouletteUpdate.init(id)
        })
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/luckyroulette/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      channelOpenType (channelId, openType) {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/luckyroulette/channelOpenType'),
          method: 'post',
          data: this.$http.adornData({
            'channelId': channelId,
            'openType': openType
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.$message({
              message: '修改状态操作成功',
              type: 'success',
              duration: 1500
            })
          } else {
            this.$message.error(data.msg)
          }
          this.getDataList()
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
