<template>
  <el-dialog
    title="查看幸运轮盘"
    width="68%"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <div class="mod-demo-echarts">
    <div style="margin-top: -30px">
      <el-tabs v-model="activeName"  @tab-click="handleClick">
        <el-tab-pane label="白银轮盘配置" name="first"></el-tab-pane>
        <el-tab-pane label="黄金轮盘配置" name="second"></el-tab-pane>
        <el-tab-pane label="钻石轮盘配置" name="third"></el-tab-pane>
      </el-tabs>
    </div>
    <el-form :model="viewForm" ref="viewForm"
             style="margin-top: -20px; margin-bottom: -40px">
      <el-container>
        <el-main>
          <el-row :gutter="24">
            <el-col :span="13"  style="height:280px" >
              <el-card>
                <div slot="header" class="clearfix">
                  <i class="el-icon-edit"></i><span>活动起始时间</span>
                </div>
                <div  class="pztext item">
                  开始时间: &nbsp;&nbsp;&nbsp;&nbsp;  <el-tag type="success"  style="width: 200px">  {{this.viewForm.start }} </el-tag>
                </div>
                <div  class="pztext item">
                  结束时间: &nbsp;&nbsp;&nbsp;&nbsp;  <el-tag type="" style="width: 200px">  {{this.viewForm.finish }} </el-tag>
                </div>
                <div  class="pztext item">
                  奖项总数: &nbsp;&nbsp;&nbsp;&nbsp;  <el-tag type="danger"  style="width: 200px"> {{this.viewForm.prizeCount }} </el-tag>
                </div>
                <div  class="pztext item">
                  抽奖积分: &nbsp;&nbsp;&nbsp;&nbsp;  <el-tag type="warning" style="width: 200px">  {{this.viewForm.cost }} </el-tag>
                </div>
              </el-card>
            </el-col>
            <el-col :span="11" style="height:280px"  >
              <el-card>
                <div slot="header" class="clearfix">
                  <i class="el-icon-setting"></i> <span>幸运轮盘</span>
                </div>
                <div style="height:280px; margin-top: -100px"  >
                  <div id="J_chartPieBox" class="chart-box" style="height:280px" ></div>
                </div>
              </el-card>
            </el-col>
          </el-row>
          <el-row :gutter="24">
            <el-col :span="24">
              <el-card>
                <div slot="header" class="clearfix">
                  <i class="el-icon-upload"></i> <span>奖项详情</span>
                </div>
                <div v-for="o in viewForm.prize" :key="o" class="pztext item">
                  <el-row :gutter="24" v-if="o">
                    <el-col :span="6" >
                      &nbsp;&nbsp;&nbsp; 奖品序号:
                      <el-tag type="success" style="width: 80px"> {{ o['pos'] }}</el-tag> &nbsp;&nbsp;&nbsp;
                    </el-col >
                    <el-col :span="6" >
                      &nbsp;&nbsp;&nbsp; 金币数量:
                      <el-tag type="info" style="width: 80px">{{ o['award'] }}</el-tag> &nbsp;&nbsp;&nbsp;
                    </el-col>
                    <el-col :span="6" >
                      &nbsp;&nbsp;&nbsp; 奖品类型:
                      <el-tag type="warning" style="width: 80px"> {{ o['name'] }}</el-tag> &nbsp;&nbsp;&nbsp;
                    </el-col>
                    <el-col :span="6" >
                      &nbsp;&nbsp;&nbsp; 中奖概率:
                      <el-tag type="danger" style="width: 80px"> {{ o['rate'] }}</el-tag> &nbsp;&nbsp;&nbsp;
                    </el-col>
                  </el-row>
                </div>
              </el-card>
            </el-col>
          </el-row>
        </el-main>
        <el-footer>
            <span class="dialog-footer" style="float:right;">
              <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
            </span>
        </el-footer>
      </el-container>
    </el-form>
    </div>
  </el-dialog>
</template>
<script>
  import echarts from 'echarts'
  export default {
    data () {
      return {
        chartPie: null,
        visible: false,
        active: 1,
        activeName: 'first',
        charPieRoulette: {
          title: {
            left: 'center',
            textStyle: {
              color: '#ccc'
            }
          },
          tooltip: {
            trigger: 'item',
            formatter: '{a} <br/>{b} : {c} ({d}%)'
          },
          grid: {
            bottom: 5,
            top: 5,
            left: 5,
            right: 5
          },
          series: [
            {
              name: '奖项详情',
              type: 'pie',
              radius: '35%',
              center: ['50%', '50%'],
              data: []
            }
          ]
        },
        viewForm: {
          id: 0,
          channelId: 0,
          diamondCost: 0,
          goldCost: 0,
          silverCost: 0,
          cost: 0,
          prizeCount: 0,
          prize: [],
          silver: [],
          gold: [],
          diamond: [],
          start: '',
          finish: ''
        },
        options: [{
          label: '1金币',
          value: 1
        },
        {
          label: '2金币',
          value: 2
        },
        {
          label: '红包',
          value: 3
        },
        {
          label: '金色红包',
          value: 4
        },
        {
          label: '钱包',
          value: 5
        },
        {
          label: '钱袋',
          value: 6
        },
        {
          label: '宝箱',
          value: 7
        }]
      }
    },
    activated () {

    },
    mounted () {

    },
    methods: {
      handleClick (tab, event) {
        if (this.activeName === 'first') {
          this.viewForm.prize = this.viewForm.silver
          this.viewForm.cost = this.viewForm.silverCost
          this.viewForm.prizeCount = this.viewForm.silver.length
        } else if (this.activeName === 'second') {
          this.viewForm.prize = this.viewForm.gold
          this.viewForm.cost = this.viewForm.goldCost
          this.viewForm.prizeCount = this.viewForm.gold.length
        } else {
          this.viewForm.prize = this.viewForm.diamond
          this.viewForm.cost = this.viewForm.diamondCost
          this.viewForm.prizeCount = this.viewForm.diamond.length
        }
        this.charPieRoulette.series[0].data = this.viewForm.prize
        this.initChartPie()
      },
      init (id) {
        this.viewForm.channelId = id || 0
        this.visible = true
        this.clearForm()
        this.$nextTick(() => {
          if (this.viewForm.channelId) {
            this.$http({
              url: this.$http.adornUrl(`/cac/luckyroulette/info/${this.viewForm.channelId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.viewForm.silver = data.silverList
                this.viewForm.prize = data.silverList

                this.viewForm.gold = data.goldList
                this.viewForm.diamond = data.diamondList

                this.viewForm.diamondCost = data.luckyroulette.tDiamondcost
                this.viewForm.goldCost = data.luckyroulette.tGoldcost
                this.viewForm.silverCost = data.luckyroulette.tSilvercost

                this.viewForm.start = data.luckyroulette.startTimeStr
                this.viewForm.finish = data.luckyroulette.finishTimeStr

                this.viewForm.cost = data.luckyroulette.tSilvercost
                this.viewForm.prizeCount = data.silverList.length

                this.initChartPie()
                if (this.chartPie) {
                  this.chartPie.resize()
                }
              }
            })
          }
        })
      },
      clearForm () {
        this.chartPie = null
        this.viewForm.diamondCost = 0
        this.viewForm.goldCost = 0

        this.viewForm.silverCost = 0
        this.viewForm.cost = 0
        this.viewForm.prizeCount = 0

        this.viewForm.prize = []
        this.viewForm.silver = []
        this.viewForm.gold = []
        this.viewForm.diamond = []

        this.viewForm.start = ''
        this.viewForm.finish = ''
        this.active = 1
        this.activeName = 'first'
        this.$forceUpdate()
      },
      initChartPie () {
        this.charPieRoulette.series[0].data = []
        if (this.viewForm.prize != null && this.viewForm.prize.length > 0) {
          for (var i = 0; i < this.viewForm.prize.length; i++) {
            var res = this.viewForm.prize[i].res
            var value = this.viewForm.prize[i].rate
            var name = ''
            for (var j = 0; j < this.options.length; j++) {
              if (res === this.options[j].value) {
                name = this.options[j].label
              }
            }
            this.charPieRoulette.series[0].data[i] = {value: value, name: name}
          }
        }
        this.chartPie = echarts.init(document.getElementById('J_chartPieBox'))
        this.chartPie.setOption(this.charPieRoulette)
        window.addEventListener('resize', () => {
          this.chartPie.resize()
        })
      }
    }
  }
</script>
<style>
  .text {
    font-size: 14px;
  }
  .pztext {
    font-size: 12px;
  }
  .item {
    margin-bottom: 18px;
  }
  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }
  .clearfix:after {
    clear: both
  }
  .box-card {
    width: 480px;
  }
</style>
<style lang="scss">
  .mod-demo-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
  }
</style>

