<template>
  <el-dialog
    title="配置修改昵称返利"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title="奖励只用于第一次修改！"
      type="warning"
      :closable="false"
      style="margin-top: -20px; margin-bottom: 10px">
    </el-alert>

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>修改昵称返利</span>
          </div>
          <el-col :span="12">
            <el-form-item label="渠道信息:" prop="channelName" label-width="140px">
              <el-tag type="success" style="width: 200px"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="奖励金额(分):" prop="award" label-width="140px">
              <el-input-number v-model="dataForm.award" size="small" :min="1" :max="9999999999" label="奖励金额" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        btnLoading: false,
        channelName: '',
        dataList: [],
        dataListLoading: false,
        dataListSelections: [],
        dataForm: {
          openType: 1,
          award: 0
        },
        dataRule: {
          award: [
            {required: true, message: '奖励金额不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      clearForm () {
        this.dataForm.openType = 1
        this.dataForm.award = 1
      },
      init (channelName) {
        this.visible = true
        this.btnLoading = false

        this.channelName = channelName
        this.clearForm()
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/editnickaward/doConfig`),
              method: 'post',
              data: this.$http.adornData({
                'openType': this.dataForm.openType,
                'award': this.dataForm.award
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '配置修改昵称返利成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
