<template>
  <el-dialog
    title="配置修改昵称返利"
    width="85%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>修改昵称返利</span>
          </div>
          <el-col :span="12">
            <el-form-item label="渠道信息:" prop="channelName" label-width="140px">
              <el-tag type="success" style="width: 200px"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="12">
            <el-form-item label="奖励金额(分):" prop="award" label-width="140px">
              <el-input-number v-model="dataForm.award" size="small" :min="1" :max="9999999999" label="奖励金额" :disabled="true" style="width: 180px"></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
       <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        visible: false,
        btnLoading: false,
        channelName: '',
        dataList: [],
        dataListLoading: false,
        dataListSelections: [],
        dataForm: {
          channelId: '',
          award: 1
        }
      }
    },
    methods: {
      init (channelId, channelName) {
        this.channelName = channelName
        this.dataForm.channelId = channelId
        this.$nextTick(() => {
          this.visible = true

          if (this.dataForm.channelId) {
            this.$http({
              url: this.$http.adornUrl(`/cac/editnickaward/info/${this.dataForm.channelId}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.channelId = data.nickawardVo.channelId
                this.dataForm.award = data.nickawardVo.award
              }
            })
          }
        })
      }
    }
  }
</script>
