<template>
  <el-dialog
    title="红包配置"
    width="65%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="120px">
      <el-row>
        <el-card>
          <!--<div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置每日奖励</span>
          </div>-->
          <el-col :span="6">
            <el-form-item label="渠道信息:" prop="channelName">
              <el-tag type="success" style="width: 120px"> {{ channelName}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="发放类型:" prop="dayAward">
              <el-select v-model="dataForm.opType" size="small" style="width: 130px" @change="clearConfig()">
                <el-option size="small" v-for="item in opTypeOptions" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="vip等级:" prop="awardDayShareCnt">
              <el-input-number :disabled="false" v-model="dataForm.vipLimit" size="small" :min="0" :max="9"
              ></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="6">
            <el-form-item label="有效时长:" prop="awardDayShareCnt">
              <el-input-number :disabled="false" v-model="dataForm.effectHour" size="small" :min="1" :max="24"
              ></el-input-number>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>设置奖励</span>
            <el-button size="mini" type="warning" style="float: right; margin-right: 35px" @click="addAward()">添加
            </el-button>
          </div>
          <el-col :span="8">
            <el-form-item :label="descLabel" prop="totalDay">
              <!--<el-input-number v-model="dataForm.releaseTime" size="small" :min="0" :max="23"></el-input-number>-->
              <el-time-picker
                v-if="dataForm.opType === 1"
                v-model="dataForm.releaseTime"
                format="HH:mm"
                value-format="HH:mm"
                :picker-options="{
                  selectableRange: '00:00:00 - 23:59:00'
                }" placeholder="任意时间点">
              </el-time-picker>
              <el-input-number v-if="dataForm.opType === 2" v-model="dataForm.releaseTime" size="small" :min="1" :max="9999999999"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="发放数量:" prop="additionAward" style="width: 150px">
              <el-input-number v-model="dataForm.releaseNum" size="small" :min="1" :max="9999999999"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="8">
            <el-form-item label="发放金额:" prop="additionAward" style="width: 150px">
              <el-input-number v-model="dataForm.releaseAmount" size="small" :min="1" :max="9999999999" :step="100"></el-input-number>
            </el-form-item>
          </el-col>
          <el-col :span="24">
            <br/>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-upload"></i><span>已配置奖励列表</span>
            <el-button size="mini" type="danger" style="float: right; margin-right: 35px" @click="clearConfig()">清空
            </el-button>
          </div>
          <el-col :span="24">
            <el-table
              :data="dataList"
              border
              size="small"
              v-loading="dataListLoading"
              max-height="1000px"
              style="width: 100%;height:300px">
              <el-table-column
                prop="releaseTime"
                header-align="center"
                align="center"
                :label="descLabel">
              </el-table-column>
              <el-table-column
                prop="releaseAmount"
                header-align="center"
                align="center"
                label="发放金额">
              </el-table-column>
              <el-table-column
                prop="releaseNum"
                header-align="center"
                align="center"
                label="发放数量">
              </el-table-column>
            </el-table>
          </el-col>
        </el-card>
      </el-row>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data() {
      return {
        visible: false,
        btnLoading: false,
        channelId: '',
        channelName: '',
        dataList: [],
        dataListLoading: false,
        descLabel: '发放时间',
        opTypeOptions: [{
          value: 1,
          label: '固定时间发放'
        }, {
          value: 2,
          label: '推广人数发放'
        }],
        dataForm: {
          opType: 1,
          vipLimit: 1,
          effectHour: 1,
          additionAward: 1,
          releaseTime: '12:00',
          releaseNum: 1,
          releaseAmount: 100
        },
        dataRule: {}
      }
    },
    methods: {
      clearConfig() {
        /* this.$confirm(`确定对进行清空操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.dataList = []
          this.dataForm.totalDay = 1
          this.dataForm.additionAward = 1
        }).catch(() => {
        }) */
        if (this.dataForm.opType === 1) {
          this.dataForm.releaseTime = '12:00'
          this.descLabel = '发放时间'
        } else {
          this.dataForm.releaseTime = '1'
          this.descLabel = '发放人数'
        }

        this.dataList = []
        this.dataForm.totalDay = 1
        this.dataForm.additionAward = 1
        this.dataForm.releaseNum = 1
        this.dataForm.releaseAmont = 100
      },
      clearForm() {
        this.dataList = []
        this.dataForm.opType = 1
        this.dataForm.vipLimit = 1
        this.dataForm.effectHour = 1
        this.dataForm.releaseTime = '12:00'
        this.dataForm.releaseNum = 1
        this.dataForm.releaseAmont = 100
        this.descLabel = '发放时间'
      },
      doChange() {
        if (this.dataForm.maintTime != null && this.dataForm.maintTime.length === 2) {
          this.clearForm()
        }
      },
      addAward() {
        if ((this.dataForm.releaseTime !== null && this.dataForm.releaseTime !== '' && this.dataForm.releaseTime !== undefined) &&
          (this.dataForm.releaseNum !== null && this.dataForm.releaseNum !== '' && this.dataForm.releaseNum !== undefined)) {
          var isHave = false
          if (this.dataList != null && this.dataList.length > 0) {
            for (var i = 0; i < this.dataList.length; i++) {
              if (this.dataList[i]['releaseTime'] === this.dataForm.releaseTime) {
                this.$message.error('已经添加了同样的配置!')
                isHave = true
                break
              }
            }
          }
          if (isHave) {
            return
          }
          let obj = {
            releaseTime: this.dataForm.releaseTime + '',
            releaseNum: this.dataForm.releaseNum,
            releaseAmount: this.dataForm.releaseAmount
          }
          this.dataList.push(obj)
        } else {
          this.$message.error('添加参数不能为空!')
        }
      },
      isConfigFinish() {
        if (this.dataList !== null && this.dataList.length > 0) {
          return true
        } else {
          return false
        }
      },
      init(channelId, opType, channelName) {
        this.btnLoading = false
        this.channelName = channelName
        this.channelId = channelId
        this.clearForm()
        this.$nextTick(() => {
          this.visible = true
          // if (this.channelId) {
          this.$http({
            url: this.$http.adornUrl(`/cac/generalconfig/info`),
            method: 'get',
            params: this.$http.adornParams({
              'opType': opType
            })
          }).then(({data}) => {
            if (data && data.code === 0 && data.cfgInfo) {
              this.dataList = data.cfgInfo.detail.awardsList
              this.dataForm.vipLimit = data.cfgInfo.detail.vipLimit
              this.dataForm.opType = data.cfgInfo.opType
              this.dataForm.effectHour = data.cfgInfo.detail.effectHour
              if (this.dataForm.opType === 1) {
                this.dataForm.releaseTime = '12:00'
                this.descLabel = '发放时间'
              } else {
                this.dataForm.releaseTime = '1'
                this.descLabel = '发放人数'
              }
            }
          })
          // }
        })
      },
      // 表单提交
      dataFormSubmit() {
        if (this.isConfigFinish()) {
          this.$refs['dataForm'].validate((valid) => {
            if (valid) {
              this.btnLoading = true
              this.$http({
                url: this.$http.adornUrl(`/cac/generalconfig/doConfig`),
                method: 'post',
                data: this.$http.adornData({
                  'channelId': this.channelId,
                  'awardList': this.dataList,
                  'opType': this.dataForm.opType,
                  'vipLimit': this.dataForm.vipLimit,
                  'effectHour': this.dataForm.effectHour
                })
              }).then(({data}) => {
                this.btnLoading = false
                if (data && data.code === 0) {
                  this.$message({
                    message: '配置红包成功!',
                    type: 'success',
                    duration: 1500,
                    onClose: () => {
                      this.visible = false
                      this.btnLoading = false
                      this.$emit('refreshDataList')
                    }
                  })
                } else {
                  this.$message.error(data.msg)
                  this.btnLoading = false
                }
              })
            }
          })
        } else {
          this.$message.error('配置信息不能为空!')
        }
      }
    }
  }
</script>
