<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间"
                        style="width: 250px">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间"
                        style="width: 250px">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button type="danger" size="small" @click="redpacketConfig()">配置红包</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="channelId"
        header-align="center"
        align="center"
        label="渠道ID">
      </el-table-column>
      <el-table-column
        prop="channelName"
        header-align="center"
        align="center"
        label="渠道名称">
      </el-table-column>
      <el-table-column
        prop="iconUrl"
        header-align="center"
        align="center"
        label="图标">
        <template slot-scope="scope">
          <img :src="scope.row.iconUrl" min-width="50" height="50"/>
        </template>
      </el-table-column>
      <el-table-column
        prop="cfgTimeStr"
        header-align="center"
        align="center"
        width="180"
        label="配置时间">
      </el-table-column>
      <el-table-column
        prop="opType"
        header-align="center"
        align="center"
        width="180"
        label="发放方式">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.opType === 1" size="small" type="warning">定时发放</el-tag>
          <el-tag v-else-if="scope.row.opType === 2" size="small" type="warning">按推广人数发放</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="100"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="redpacketConfig(scope.row.channelId, scope.row.opType)">
            修改
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>

    <!-- 弹窗配置-->
    <RedpacketConfig ref="redpacketConfig" @refreshDataList="searchChange"></RedpacketConfig>
    <!-- 弹窗查看-->
    <!--<NickAwardView  ref="nickAwardView" @refreshDataList="searchChange"></NickAwardView>-->
    <!-- 修改配置-->
    <!--<NickAwardUpdate  ref="nickAwardUpdate" @refreshDataList="searchChange"></NickAwardUpdate>-->
  </div>
</template>

<script>
  import RedpacketConfig from './redpacket-config'

  export default {
    data() {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        channelName: '',
        channelId: '',
        dataForm: {
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        showConfigDialog: false,
        showViewDialog: false,
        showUpdateDialog: false
      }
    },
    components: {
      RedpacketConfig
    },
    created() {
      this.getDataList()
    },
    methods: {
      closeDialog() {
        this.showConfigDialog = false
        this.showViewDialog = false
        this.showUpdateDialog = false
      },
      // 配置信息
      redpacketConfig(channelId, opType) {
        this.showConfigDialog = true
        this.$nextTick(() => {
          this.$refs.redpacketConfig.init(channelId, opType, this.channelName)
        })
      },
      nickAwardView(channelId, channelName) {
        this.showViewDialog = true
        this.$nextTick(() => {
          this.$refs.nickAwardView.init(channelId, channelName)
        })
      },
      nickAwardUpdate(channelId, channelName) {
        this.showUpdateDialog = true
        this.$nextTick(() => {
          this.$refs.nickAwardUpdate.init(channelId, channelName)
        })
      },
      searchChange() {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm() {
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList() {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/generalconfig/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          if (data.channel != null && data.channel.channelName !== null && data.channel.channelName !== '') {
            this.channelName = data.channel.channelName
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle(val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle(val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle(val) {
        this.dataListSelections = val
      }
    }
  }
</script>
