<template>
  <el-dialog
    title="配置推广绑定域名"
    width="95%"
    :close-on-click-modal="false"
    :visible.sync="visible">

    <el-alert
      title=""
      type="warning"
      :closable="false"
      style="margin-top: -20px; margin-bottom: 10px">
      <h3>点击CELL列表对应的列,进入编辑模式, 输入值最后提交</h3>
      <h3>修改任务奖励、完成目标数量后，  在修改配置前，当天已登录的玩家， 在修改配置后 第二天生效； 在修改配置前，当天未登录的玩家， 当天生效。<br/></h3>
    </el-alert>

    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()"
             label-width="100px">
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>设置任务时间</span>
          </div>
          <el-col :span="6">
            <el-form-item label="时间类型:" prop="activityTimeType">
              <el-select v-model="dataForm.activityTimeType" size="small" style="width: 150px" @change="doChange">
                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="6">
          </el-col>
          <el-col :span="12">
            <el-form-item label="起止时间:" prop="maintTime" v-if="dataForm.activityTimeType == 1">
              <el-date-picker size="small" v-model="dataForm.maintTime" start-placeholder="开始日期" end-placeholder="结束日期"
                              value-format="timestamp" format="yyyy-MM-dd HH:mm:ss" type="datetimerange"
                              :picker-options="pickerOptions" auto-complete="off"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-card>
      </el-row>
      <br/>
      <el-row>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>任务配置</span>
          </div>
          <el-table
            :data="gridData"
            style="width: 100%">
            <el-table-column
              label="任务ID"
              prop="taskId"
              header-align="center"
              align="center"
              min-width="100">
            </el-table-column>
            <el-table-column
              label="参数类型"
              prop="isConver"
              header-align="center"
              align="center"
              min-width="120">
              <template slot-scope="scope">
                <el-tag v-if="scope.row.isConver === 0" size="small" type="danger">其他</el-tag>
                <el-tag v-else-if="scope.row.isConver === 1" size="small" type="success">金币</el-tag>
              </template>
            </el-table-column>
            <el-table-column
              label="归属游戏"
              prop="gameName"
              header-align="center"
              align="center"
              min-width="150">
            </el-table-column>
            <el-table-column
              label="任务名称"
              prop="taskTitle"
              header-align="center"
              align="center"
              min-width="120">
            </el-table-column>
            <el-table-column
              label="是否连胜任务"
              prop="isContinueTask"
              header-align="center"
              align="center"
              min-width="120">
              <template slot-scope="scope">
                <el-tag v-if="scope.row.isContinueTask === 0" size="small" type="danger">否</el-tag>
                <el-tag v-else-if="scope.row.isContinueTask === 1" size="small" type="success">是</el-tag>
              </template>
            </el-table-column>
            <el-table-column
              label="任务描述"
              prop="taskDesc"
              header-align="center"
              align="center"
              min-width="300">
            </el-table-column>
            <el-table-column
              label="任务奖励(分)"
              header-align="center"
              align="center"
              min-width="180">
              <editable-cell :show-input="row.editMode"
                             slot-scope="{row}"
                             editable-component="el-input-number"
                             close-event="change"
                             size="small" :min="0" :max="9999999999"
                             v-model="row.taskReward">
                <el-tag size="small" slot="content">
                  {{row.taskReward == null ? '未配置' : row.taskReward}}
                </el-tag>
              </editable-cell>
            </el-table-column>
            <el-table-column
              label="目标数量"
              header-align="center"
              align="center"
              min-width="180">
                <editable-cell :show-input="row.editMode"
                               slot-scope="{row}"
                               editable-component="el-input-number"
                               close-event="change"
                               size="small" :min="0" :max="9999999999"
                               v-model="row.targetNum">
                  <el-tag size="small" slot="content">
                    {{row.targetNum == null ? '未配置' : row.targetNum}}
                  </el-tag>
                </editable-cell>
            </el-table-column>
            <el-table-column
              label="下注限额"
              header-align="center"
              align="center"
              min-width="180">
                <editable-cell
                  v-if= "row.isContinueTask === 1"
                       :show-input="row.continueTaskCoinLimit"
                       slot-scope="{row}"
                       editable-component="el-input-number"
                       close-event="change"
                       size="small" :min="0" :max="9999999999"
                       v-model="row.continueTaskCoinLimit">
                  <el-tag size="small" slot="content">
                    {{(row.continueTaskCoinLimit === null || row.continueTaskCoinLimit === ''
                      ||  row.continueTaskCoinLimit === 0) ? '未配置' : row.continueTaskCoinLimit}}
                  </el-tag>
                </editable-cell>
            </el-table-column>
            <el-table-column
              label="任务开关"
              header-align="center"
              align="center"
              min-width="180">
              <editable-cell
                :show-input="row.editMode"
                slot-scope="{row}"
                editable-component="el-select"
                close-event="change"
                size="small"
                v-model="row.taskOpenType">
                <el-tag size="small" slot="content">
                  {{row.taskOpenType == null || row.taskOpenType == 0 ? '关': '开'}}
                </el-tag>
                <template slot="edit-component-slot" >
                  <el-option value=0 label="关"></el-option>
                  <el-option value=1 label="开"></el-option>
                </template>
              </editable-cell>
            </el-table-column>
          </el-table>
        </el-card>
      </el-row>
      <br/>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import EditableCell from '@/components/editable-cell'

  export default {
    data () {
      var validateTime = (rule, value, callback) => {
        if (this.dataForm.activityTimeType !== '' || this.dataForm.activityTimeType === 1) {
          if (this.dataForm.maintTime === null || this.dataForm.maintTime.length === 0) {
            callback(new Error('起止时间不能为空'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        options: [
          {
            value: 1,
            label: '指定时间'
          }, {
            value: 0,
            label: '永久有效'
          }
        ],
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        gridData: [],
        visible: false,
        btnLoading: false,
        type: 0,
        dataForm: {
          channelId: '',
          activityOpenType: 1,
          activityTimeType: 1,
          maintTime: [],
          beginTime: '',
          endTime: ''
        },
        dataRule: {
          activityTimeType: [
            {required: true, message: '时间类型不能为空', trigger: 'blur'}
          ],
          maintTime: [
            {validator: validateTime, trigger: 'blur'}
          ]
        }
      }
    },
    components: {
      EditableCell
    },
    methods: {
      doChange () {
        if (this.dataForm.activityTimeType != null && this.dataForm.activityTimeType === 2) {
          this.dataForm.beginTime = ''
          this.dataForm.endTime = ''
        }
        this.dataForm.maintTime = []
      },
      clearForm () {
        this.dataForm.activityOpenType = 1
        this.dataForm.activityTimeType = 0
        this.dataForm.maintTime = []

        this.dataForm.beginTime = ''
        this.dataForm.endTime = ''
        this.gridData = []
      },
      init (channelId) {
        this.clearForm()
        if (channelId !== null && channelId !== '' && channelId !== 'undefined' && channelId !== undefined) {
          this.dataForm.channelId = channelId
        }
        this.btnLoading = false
        this.$nextTick(() => {
          this.visible = true
          this.$http({
            url: this.$http.adornUrl(`/cac/channeltask/info`),
            method: 'get',
            params: this.$http.adornParams()
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.gridData = data.task.taskArr
              if (data.task.taskInfo != null && data.task.taskInfo !== '' && data.task.taskInfo !== 'undefined' && data.task.taskInfo !== undefined) {
                this.dataForm.activityOpenType = data.task.taskInfo.tactivityopentype
                this.dataForm.activityTimeType = data.task.taskInfo.tactivitytimetype

                this.dataForm.maintTime.push(new Date(data.task.taskInfo.tbegintime * 1000))
                this.dataForm.maintTime.push(new Date(data.task.taskInfo.tendtime * 1000))
              }
            }
          })
        })
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            this.dataForm.beginTime = this.dataForm.maintTime[0] instanceof Date ? this.dataForm.maintTime[0].getTime() : this.dataForm.maintTime[0]
            this.dataForm.endTime = this.dataForm.maintTime[1] instanceof Date ? this.dataForm.maintTime[1].getTime() : this.dataForm.maintTime[1]
            this.$http({
              url: this.$http.adornUrl(`/cac/channeltask/doConfig`),
              method: 'post',
              data: this.$http.adornData({
                'activityOpenType': this.dataForm.activityOpenType,
                'activityTimeType': this.dataForm.activityTimeType,
                'beginTime': this.dataForm.beginTime,
                'endTime': this.dataForm.endTime,
                'taskArr': this.gridData
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '配置任务成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.btnLoading = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
