<template>
  <el-dialog
    title="重复IP用户列表"
    width="90%"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <div class="mod-config" style="width: 100%; hight: 500px">
      <el-table
        :data="dataList"
        v-loading="dataListLoading"
        size="mini"
        border
        style="width: 100%;">
        <el-table-column
          prop="tAccountid"
          header-align="center"
          align="center"
          width="150"
          label="会员ID">
        </el-table-column>
        <!--<el-table-column
          prop="tAccountname"
          header-align="center"
          align="center"
          label="用户名称">
        </el-table-column>-->
        <el-table-column
          prop="tNickname"
          header-align="center"
          align="center"
          label="用户昵称">
        </el-table-column>
        <el-table-column
          prop="tPhonenumber"
          header-align="center"
          align="center"
          label="手机号">
        </el-table-column>
        <el-table-column
          prop="promoterId"
          header-align="center"
          align="center"
          label="上级代理ID">
        </el-table-column>
        <el-table-column
          prop="tAccountstate"
          header-align="center"
          align="center"
          label="状态">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.tAccountstate === 0" size="small" type="success">正常</el-tag>
            <el-tag v-else-if="scope.row.tAccountstate === 1" size="small" type="danger">临时冻结</el-tag>
            <el-tag v-else-if="scope.row.tAccountstate === 2" size="small" type="warning">永久冻结</el-tag>
          </template>
        </el-table-column>
        <el-table-column
          prop="tRegtime"
          header-align="center"
          align="center"
          label="注册时间">
        </el-table-column>
        <el-table-column
          prop="tLastlogintime"
          header-align="center"
          align="center"
          label="最后登入">
        </el-table-column>
        <el-table-column
          prop="tRegip"
          header-align="center"
          align="center"
          label="注册IP">
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="sizeChangeHandle"
        @current-change="currentChangeHandle"
        :current-page="pageIndex"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pageSize"
        :total="totalPage"
        layout="total, sizes, prev, pager, next, jumper">
      </el-pagination>
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        dataForm: {
          redIp: '',
          regStartTime: '',
          regEndTime: ''
        }
      }
    },
    methods: {
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl(`/cac/accountinfo/ipDetailList`),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'regStartTime': this.dataForm.regStartTime,
            'regEndTime': this.dataForm.regEndTime,
            'regIp': this.dataForm.redIp
          })
        }).then(({data}) => {
          this.dataListLoading = false
          if (data && data.code === 0) {
            this.dataList = data.ipDetailPage.list
            this.totalPage = data.ipDetailPage.totalCount
          }
        })
      },
      init (redIp, regStartTime, regEndTime) {
        this.dataForm.redIp = ''

        this.dataForm.regStartTime = ''
        this.dataForm.regEndTime = ''
        this.dataList = []
        this.visible = true

        this.$nextTick(() => {
          this.dataForm.regStartTime = regStartTime
          this.dataForm.regEndTime = regEndTime
          this.dataForm.redIp = redIp
          this.getDataList()
        })
      }
    }
  }
</script>
