<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-card>
        <el-form-item label="IP地址:">
          <el-input v-model="dataForm.regIp" size="mini" placeholder="注册IP" clearable></el-input>
        </el-form-item>
        <el-form-item label="注册起止:">
          <el-date-picker v-model="dataForm.regTime" size="mini" type="datetimerange" value-format="timestamp"
                          format="yyyy-MM-dd HH:mm:ss" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button size="mini" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
          <el-button size="mini" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        </el-form-item>
      </el-card>
    </el-form>
    <div style="height: 115px; margin-top: 5px" v-if="this.dataList.length > 0">
      <el-row style="height: 115px">
        <el-col :span="24">
          <el-card style="height: 115px">
            <div slot="header" class="clearfix">
              <i class="el-icon-setting"></i> <span>报表总计:</span>
            </div>
            <el-row>
              <el-col :span="12">
                重复IP用户总量:&nbsp;&nbsp;&nbsp;&nbsp;
                <el-tag type="success" effect="dark"> {{this.statisData.regNum}}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="12">
                重复IP个数:&nbsp;&nbsp;&nbsp;&nbsp;
                <el-tag type="success" effect="dark"> {{this.totalPage}}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <div style="margin-top: 5px">
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="channelId"
        header-align="center"
        align="center"
        label="渠道ID">
      </el-table-column>
      <el-table-column
        prop="channelName"
        header-align="center"
        align="center"
        label="渠道名称">
      </el-table-column>
      <!--
      <el-table-column
        prop="iconUrl"
        header-align="center"
        align="center"
        width="100"
        label="图标">
        <template slot-scope="scope">
          <img :src="scope.row.iconUrl" min-width="50" height="50"/>
        </template>
      </el-table-column>
       -->
      <el-table-column
        prop="regIp"
        header-align="center"
        align="center"
        label="IP地址">
      </el-table-column>
      <el-table-column
        prop="regNum"
        header-align="center"
        align="center"
        label="注册数量">
      </el-table-column>
      <el-table-column
        prop="TerminalType"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="mini" @click="showIpDetails(scope.row.regIp)">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    </div>

    <AccountIpDetails v-if="ipDetailsShow" ref="accountIpDetails" @refreshDataList="searchChange"></AccountIpDetails>
  </div>
</template>

<script>
  import AccountIpDetails from './accountIp-details'
  import echarts from 'echarts'
  export default {
    data () {
      return {
        chartPie: null,
        ipDetailsShow: false,
        statisData: {
          regNum: 0
        },
        dataForm: {
          regTime: [],
          regIp: '',
          regStartTime: '',
          regEndTime: ''
        },
        ipCharPie: {
          title: {
            left: 'center',
            textStyle: {
              color: '#ccc'
            }
          },
          grid: {
            bottom: 5,
            top: 5,
            left: 5,
            right: 5
          },
          series: [
            {
              name: '重复IP分析',
              type: 'pie',
              radius: '40%',
              center: ['50%', '50%'],
              data: []
            }
          ]
        },
        options: [],
        roomOptions: [],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {AccountIpDetails},
    activated () {
      this.getDataList()
      this.statisData.regNum = ''
    },
    mounted () {

    },
    methods: {
      initChartPie () {
        this.chartPie = echarts.init(this.$refs.ipChartPieBox)
        this.chartPie.setOption(this.ipCharPie)
        window.addEventListener('resize', () => {
          this.chartPie.resize()
        })
      },
      clearForm () {
        this.dataForm.regIp = ''
        this.dataForm.regStartTime = ''
        this.dataForm.regEndTime = ''
        this.dataForm.regTime = []
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      showIpDetails (redIp) {
        this.ipDetailsShow = true
        this.$nextTick(() => {
          this.$refs.accountIpDetails.init(redIp, this.dataForm.regStartTime, this.dataForm.regEndTime)
        })
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.regTime != null && this.dataForm.regTime.length === 2) {
          this.dataForm.regStartTime = this.dataForm.regTime[0]
          this.dataForm.regEndTime = this.dataForm.regTime[1]
        } else {
          this.dataForm.regStartTime = ''
          this.dataForm.regEndTime = ''
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl(`/cac/accountinfo/ipList`),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'regStartTime': this.dataForm.regStartTime,
            'regEndTime': this.dataForm.regEndTime,
            'regIp': this.dataForm.regIp
          })
        }).then(({data}) => {
          this.dataListLoading = false
          if (data && data.code === 0) {
            this.dataList = data.iplist.page.list
            this.totalPage = data.iplist.page.totalCount
            this.statisData.regNum = data.iplist.regIp.regNum
          } else {
            this.dataList = []
            this.totalPage = 0
          }
        })
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 3) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 个'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
