<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.userId" placeholder="会员ID" size="small" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-cascader :options="roomOptions" v-model="dataForm.roomArr" clearable size="small" placeholder="游戏房间">
        </el-cascader>
      </el-form-item>
      <el-form-item>
        <el-select v-model="dataForm.businessType" size="small" clearable placeholder="业务类型">
          <el-option
            v-for="item in options"
            :key="item.value"
            :label="item.label"
            :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions" placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      @sort-change='tableSortChange'
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="ID"
        header-align="center"
        align="center"
        width="100"
        label="ID">
      </el-table-column>
      <el-table-column
        prop="UserID"
        header-align="center"
        align="center"
        width="100"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="UserType"
        header-align="center"
        align="center"
        width="100"
        label="类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.UserType === 1" size="small" type="success">机器人</el-tag>
          <el-tag v-else-if="scope.row.UserType === 2" size="small" type="danger">真人</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="BeforeCount"
        header-align="center"
        align="center"
        sortable='custom'
        label="之前金额(分)">
      </el-table-column>
      <el-table-column
        prop="GainCount"
        header-align="center"
        align="center"
        sortable='custom'
        label="更新金额(分)">
      </el-table-column>
      <el-table-column
        prop="AfterCount"
        header-align="center"
        align="center"
        sortable='custom'
        label="之后金额(分)">
      </el-table-column>
      <el-table-column
        prop="comment"
        header-align="center"
        align="center"
        sortable='custom'
        label="账变类型">
      </el-table-column>
      <el-table-column
        prop="gameKindName"
        header-align="center"
        align="center"
        width="120"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="phoneGameName"
        header-align="center"
        align="center"
        width="200"
        label="游戏房间">
      </el-table-column>
      <el-table-column
        prop="RecordTime"
        header-align="center"
        align="center"
        width="150"
        sortable='custom'
        label="记录时间">
      </el-table-column>
      <el-table-column
        prop="TerminalType"
        header-align="center"
        align="center"
        width="120"
        label="操作端">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.TerminalType === 0" size="small" type="success">PC端</el-tag>
          <el-tag v-else-if="scope.row.TerminalType === 1" size="small" type="danger">安卓端</el-tag>
          <el-tag v-else-if="scope.row.TerminalType === 2" size="small" type="warning">苹果端</el-tag>
          <el-tag v-else-if="scope.row.TerminalType === 3" size="small" type="info">H5</el-tag>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          startTime: '',
          gameRoomId: '',
          endTime: '',
          businessType: '',
          roomArr: [],
          order: '',
          sortby: ''
        },
        options: [],
        roomOptions: [],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    created () {
      this.getTreeData()
      this.getOperator()
      this.initDate()
    },
    methods: {
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
        this.dataForm.gameRoomId = ''

        this.dataForm.businessType = ''
        this.dataForm.roomArr = []
        this.dataForm.order = ''
        this.dataForm.sortby = ''
      },
      getOperator () {
        this.$http({
          url: this.$http.adornUrl(`/report/statis/operatorlist`),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.options = data.operatorlist
          }
        })
      },
      initDate () {
        this.cooperationEnd = this.$moment().format('YYYY-MM-DD')
      },
      searchChange () {
        if (this.dataForm.startTime === null || this.dataForm.startTime === '' || this.dataForm.endTime === null || this.dataForm.endTime === '') {
          this.$message.error('请输入起止时间!')
          return
        } else if (this.dataForm.userId === null || this.dataForm.userId === '') {
          this.$message.error('请输入用户ID!')
          return
        }

        this.pageIndex = 1
        this.getDataList()
      },
      getTreeData () {
        this.$http({
          url: this.$http.adornUrl('/cac/usergamedata/getAllRoomTree'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.roomOptions = data.roomList
          }
        })
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      tableSortChange (column) {
        if (column.order === 'descending') {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'desc'
        } else {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'asc'
        }
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataForm.gameRoomId = ''
        if (this.dataForm.roomArr != null && this.dataForm.roomArr.length === 2) {
          this.dataForm.gameRoomId = this.dataForm.roomArr[1]
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/statis/useraccountlist'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime,
            'gameRoomId': this.dataForm.gameRoomId,
            'businessType': this.dataForm.businessType,
            'order': this.dataForm.order,
            'sortby': this.dataForm.sortby
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
