<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-date-picker
          v-model="dataForm.startTime"
          align="right"
          type="date"
          size="small"
          value-format="yyyy-MM-dd"
          format="yyyy-MM-dd"
          placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataForm.endTime"
          align="right"
          type="date"
          size="small"
          value-format="yyyy-MM-dd"
          format="yyyy-MM-dd"
          placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="channelId"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="渠道编码">
      </el-table-column>
      <el-table-column
        prop="statisTime"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="统计日期">
      </el-table-column>
      <el-table-column
        prop="rechargeFee"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="充值金额">
      </el-table-column>
      <el-table-column
        prop="cashFee"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="提现金额">
      </el-table-column>
      <el-table-column
        prop="loss"
        header-align="center"
        align="center"
        width="150"
        :formatter="defaultValue"
        label="当日盈亏">
      </el-table-column>
      <el-table-column
        prop="firstRechargeFee"
        header-align="center"
        align="center"
        width="120"
        label="首充金额">
      </el-table-column>
      <!--
      <el-table-column
        prop="logincount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="登录人数">
      </el-table-column>-->
      <el-table-column
        prop="rechargeUserCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="充值人数">
      </el-table-column>
      <el-table-column
        prop="rechargeCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="充值笔数">
      </el-table-column>
      <el-table-column
        prop="cashUserCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="提现人数">
      </el-table-column>
      <el-table-column
        prop="cashCount"
        header-align="center"
        align="center"
        width="150"
        :formatter="defaultValue"
        label="提现笔数">
      </el-table-column>
      <el-table-column
        prop="regUserCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="注册人数">
      </el-table-column>
      <el-table-column
        prop="newGameUserCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="新增游戏人数">
      </el-table-column>
      <el-table-column
        prop="gameCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="游戏次数">
      </el-table-column>
      <el-table-column
        prop="gameUserCount"
        header-align="center"
        align="center"
        width="120"
        label="游戏人数">
      </el-table-column>
      <el-table-column
        prop="loginCount"
        header-align="center"
        align="center"
        width="120"
        label="登录次数">
      </el-table-column>
      <el-table-column
        prop="loginUserCount"
        header-align="center"
        align="center"
        width="120"
        label="登录人数">
      </el-table-column>
      <el-table-column
        prop="dailyActiveCount"
        header-align="center"
        align="center"
        width="120"
        label="活跃用户">
      </el-table-column>
      <el-table-column
        prop="firstRechargeCount"
        header-align="center"
        align="center"
        width="120"
        label="首充人数">
      </el-table-column>
      <el-table-column
        prop="timeLength"
        header-align="center"
        align="center"
        width="120"
        label="游戏时长(秒)">
      </el-table-column>
      <el-table-column
        prop="rechargeRate"
        header-align="center"
        align="center"
        width="120"
        label="充值率%">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    activated () {
      this.initTimeData()
      this.getDataList()
    },
    methods: {
      initTimeData () {
        this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD')
        this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD')
      },
      defaultValue (row, column) {
        var value = row[column.property]
        console.log(value)
        if (value === undefined || value === 'undefined' || value === '' || value === 'null' || value === null) {
          console.log('return 0')
          return '0'
        }
        console.log('return value')
        return value
      },
      searchChange () {
        if (this.dataForm.startTime === '' || this.dataForm.startTime === null || this.dataForm.endTime === '' || this.dataForm.endTime === null) {
          this.$message.error('查询起止时间不能为空!')
          return
        } else {
          if (this.dataForm.startTime.substr(0, 7) !== this.dataForm.endTime.substr(0, 7)) {
            this.$message.error('起止时间必须在同一月份!')
            return
          }
        }

        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 2 || index === 3 || index === 4 || index === 5 || index === 6) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ''
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/statischannel/dayReport'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
