<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-cascader :options="roomOptions" v-model="dataForm.roomArr" clearable size="small" placeholder="游戏房间">
        </el-cascader>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.statisTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd" format="yyyy-MM-dd" :picker-options="pickerOptions" placeholder="统计时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      @sort-change='tableSortChange'
      show-summary
      :summary-method="getSummaries"
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="GameTypeID"
        header-align="center"
        align="center"
        width="100"
        label="房间编码">
      </el-table-column>
      <el-table-column
        prop="gameKindName"
        header-align="center"
        align="center"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="phoneGameName"
        header-align="center"
        align="center"
        label="房间名称">
      </el-table-column>
      <el-table-column
        prop="Stake"
        header-align="center"
        align="center"
        width="200"
        label="下注总额(分)">
      </el-table-column>
      <el-table-column
        prop="Revenue"
        header-align="center"
        align="center"
        width="200"
        label="税收总额(分)">
      </el-table-column>
      <el-table-column
        prop="EndTime"
        header-align="center"
        align="center"
        width="200"
        label="统计时间">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 23:59:59')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          statisTime: '',
          gameRoomId: '',
          roomArr: []
        },
        options: [],
        roomOptions: [],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    created () {
      this.initTimeData()
      this.getTreeData()
      this.getDataList()
    },
    methods: {
      initTimeData () {
        this.dataForm.statisTime = this.$moment(new Date()).format('YYYY-MM-DD')
        this.cooperationEnd = this.$moment().format('YYYY-MM-DD')
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }

          if (index === 3 || index === 4) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 分'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      clearForm () {
        this.dataForm.statisTime = ''
        this.dataForm.gameRoomId = ''
        this.dataForm.roomArr = []
      },
      searchChange () {
        if (this.dataForm.statisTime === null || this.dataForm.statisTime === '') {
          this.$message.error('请输入统计时间!')
          return
        }

        this.pageIndex = 1
        this.getDataList()
      },
      getTreeData () {
        this.$http({
          url: this.$http.adornUrl('/cac/usergamedata/getAllRoomTree'),
          method: 'post',
          data: this.$http.adornData({})
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.roomOptions = data.roomList
          }
        })
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      tableSortChange (column) {
        if (column.order === 'descending') {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'desc'
        } else {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'asc'
        }
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataForm.gameRoomId = ''
        if (this.dataForm.roomArr != null && this.dataForm.roomArr.length === 2) {
          this.dataForm.gameRoomId = this.dataForm.roomArr[1]
        }

        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/recorduserscorepergame/gameBetStatisList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'statisTime': this.dataForm.statisTime,
            'gameRoomId': this.dataForm.gameRoomId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
