<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.userId" placeholder="会员ID" size="small" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      size="small"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        width="150"
        label="用户ID">
      </el-table-column>
      <!--<el-table-column
        prop="accountName"
        header-align="center"
        align="center"
        width="150"
        label="用户名">
      </el-table-column>-->
      <el-table-column
        prop="nickName"
        header-align="center"
        align="center"
        width="150"
        label="用户昵称">
      </el-table-column>
      <el-table-column
        prop="userType"
        header-align="center"
        align="center"
        width="120"
        label="类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.userType === 1" size="small" type="success">机器人</el-tag>
          <el-tag v-else-if="scope.row.userType === 2" size="small" type="danger">真人</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="loginTime"
        header-align="center"
        align="center"
        width="220"
        :formatter="dateFormat"
        label="登录时间">
      </el-table-column>
      <el-table-column
        prop="loginIP"
        header-align="center"
        align="center"
        width="200"
        label="登陆IP">
      </el-table-column>
      <el-table-column
        prop="networdState"
        header-align="center"
        align="center"
        width="120"
        label="网络标识">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.networdState === 0" size="small" type="success">未知</el-tag>
          <el-tag v-else-if="scope.row.networdState === 1" size="small" type="danger">2G</el-tag>
          <el-tag v-else-if="scope.row.networdState === 2" size="small" type="warning">3G</el-tag>
          <el-tag v-else-if="scope.row.networdState === 2" size="small" type="info">4G</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="wifiName"
        header-align="center"
        align="center"
        width="200"
        label="ssid名称">
      </el-table-column>
      <el-table-column
        prop="version"
        header-align="center"
        align="center"
        width="150"
        label="版本号">
      </el-table-column>
      <el-table-column
        prop="loginMode"
        header-align="center"
        align="center"
        width="120"
        label="登录模式">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.loginMode === 0" size="small" type="success">正常登录</el-tag>
          <el-tag v-else-if="scope.row.loginMode === 1" size="small" type="danger">重连</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="terminalType"
        header-align="center"
        align="center"
        width="120"
        label="机型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.terminalType === 0" size="small" type="success">未知</el-tag>
          <el-tag v-else-if="scope.row.terminalType === 1" size="small" type="danger">Android</el-tag>
          <el-tag v-else-if="scope.row.terminalType === 2" size="small" type="warning">Ios</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="machineType"
        header-align="center"
        align="center"
        width="120"
        label="客户端">
      </el-table-column>
      <el-table-column
        prop="systemType"
        header-align="center"
        align="center"
        width="120"
        label="操作系统">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    created () {
      this.initTimeData()
      this.getDataList()
    },
    methods: {
      initTimeData () {
        this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'
        this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 23:59:59'
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/recordlogin/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
