<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-date-picker
          v-model="dataForm.monthTime"
          clearable
          size="small"
          align="right"
          type="month"
          value-format="yyyy-MM"
          format="yyyy-MM"
          placeholder="选择月份">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      size="small"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="channelId"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="渠道编码">
      </el-table-column>
      <el-table-column
        prop="statisTime"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="统计日期">
      </el-table-column>
      <el-table-column
        prop="rechargeFee"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="充值金额">
      </el-table-column>
      <el-table-column
        prop="loginUserCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="登录人数">
      </el-table-column>
      <el-table-column
        prop="rechargeCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="充值笔数">
      </el-table-column>
      <el-table-column
        prop="cashFee"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="提现金额">
      </el-table-column>
      <el-table-column
        prop="cashCount"
        header-align="center"
        align="center"
        width="150"
        :formatter="defaultValue"
        label="提现笔数">
      </el-table-column>
      <el-table-column
        prop="loss"
        header-align="center"
        align="center"
        width="150"
        :formatter="defaultValue"
        label="月盈亏">
      </el-table-column>
      <el-table-column
        prop="regUserCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="注册人数">
      </el-table-column>
      <el-table-column
        prop="gameCount"
        header-align="center"
        align="center"
        width="120"
        :formatter="defaultValue"
        label="游戏次数">
      </el-table-column>
      <el-table-column
        prop="loginCount"
        header-align="center"
        align="center"
        width="120"
        label="登录次数">
      </el-table-column>
      <el-table-column
        prop="firstRechargeFee"
        header-align="center"
        align="center"
        width="120"
        label="首充金额">
      </el-table-column>
      <el-table-column
        prop="firstRechargeCount"
        header-align="center"
        align="center"
        width="120"
        label="首充人数">
      </el-table-column>
      <el-table-column
        prop="timeLength"
        header-align="center"
        align="center"
        width="120"
        label="游戏时长(秒)">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          monthTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    activated () {

    },
    methods: {
      defaultValue (row, column) {
        var value = row[column.property]
        if (value === undefined || value === '' || value === null) {
          return '0'
        }
        return value
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.monthTime = ''
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.monthTime === '' || this.dataForm.monthTime === null) {
          this.$message.error('请输入查询月份!')
          return
        }
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/statischannel/monthReport'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'monthTime': this.dataForm.monthTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
