<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-alert
        title="充值时间段建议小于7天"
        effect="dark"
        show-icon
        center
        description="统计计算时间可能较长,请耐心等待!"
        type="warning">
      </el-alert>
      <el-card style="margin-top: 5px">
        <el-form-item label="上级ID:">
          <el-input v-model="dataForm.promoterId" size="mini" placeholder="上级ID" clearable></el-input>
        </el-form-item>
        <el-form-item label="充值起止时间:">
          <template>
            <el-date-picker v-model="dataForm.rechargeTime" size="mini" type="daterange" value-format="timestamp"
                            format="yyyy-MM-dd" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
            </el-date-picker>
          </template>
        </el-form-item>
        <el-form-item>
          <el-button size="mini" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
          <el-button size="mini" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        </el-form-item>
      </el-card>
    </el-form>
    <div style="height: 130px; margin-top: 5px"
         v-if="this.statisForm.userNum != null  &&  this.statisForm.userNum != '' && this.statisForm.payFee != null  &&  this.statisForm.payFee != ''">
      <el-row style="height: 120px">
        <el-col :span="24">
          <el-card style="height: 120px">
            <div slot="header" class="clearfix">
              <i class="el-icon-setting"></i> <span>统计信息:</span>
            </div>
            <el-row>
              <el-col :span="8">
                充值总计人数:
                <el-tag type="success" effect="dark"> {{this.statisForm.userNum}}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
              <el-col :span="8">
                充值总计金额:
                <el-tag type="info" effect="dark"> {{this.statisForm.payFee}}</el-tag> &nbsp;&nbsp;&nbsp;
              </el-col>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
    </div>
    <div style="margin-top: 5px">
      <el-row :gutter="20">
        <el-col :span="12">
          <card>
            <el-table
              :data="dataList"
              border
              size="small"
              show-summary
              :summary-method="getSummaries"
              v-loading="dataListLoading"
              height="300"
              style="width: 100%;">
              <el-table-column
                prop="createTime"
                header-align="center"
                align="center"
                label="充值时间">
              </el-table-column>
              <el-table-column
                prop="rechargeNum"
                header-align="center"
                align="center"
                label="充值人数">
              </el-table-column>
              <el-table-column
                prop="payFee"
                header-align="center"
                align="center"
                label="总金额(元)">
              </el-table-column>
            </el-table>
            <!--<el-pagination
              @size-change="sizeChangeHandle"
              @current-change="currentChangeHandle"
              :current-page="pageIndex"
              :page-sizes="[10, 20, 50, 100]"
              :page-size="pageSize"
              :total="totalPage"
              layout="total, sizes, prev, pager, next, jumper">
            </el-pagination>-->
          </card>
        </el-col>
        <el-col :span="12">
          <card>
            <el-table
              :data="rechargeDataList"
              border
              size="small"
              show-summary
              :summary-method="getRechargeSummaries"
              v-loading="rechargeDataListLoading"
              height="300"
              style="width: 100%;">
              <el-table-column
                prop="userId"
                header-align="center"
                align="center"
                label="玩家ID">
              </el-table-column>
              <el-table-column
                prop="promoterId"
                header-align="center"
                align="center"
                label="上级ID">
              </el-table-column>
              <el-table-column
                prop="payFee"
                header-align="center"
                align="center"
                label="充值金额(元)">
              </el-table-column>
              <el-table-column
                prop="regTime"
                header-align="center"
                align="center"
                label="注册时间">
              </el-table-column>
              <el-table-column
                prop="createTime"
                header-align="center"
                align="center"
                label="充值时间">
              </el-table-column>
            </el-table>
            <!--<el-pagination
              @size-change="rechargeSizeChangeHandle"
              @current-change="rechargeCurrentChangeHandle"
              :current-page="rechargePageIndex"
              :page-sizes="[10, 20, 50, 100]"
              :page-size="rechargePageSize"
              :total="rechargeTotalPage"
              layout="total, sizes, prev, pager, next, jumper">
            </el-pagination>-->
          </card>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        dataForm: {
          promoterId: '',
          rechargeTime: [],
          rechargeStartTime: '',
          rechargeEndTime: ''
        },
        statisForm: {
          userNum: '',
          payFee: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        rechargeDataList: [],
        rechargePageIndex: 1,
        rechargePageSize: 10,
        rechargeTotalPage: 0,
        dataListLoading: false,
        rechargeDataListLoading: false,
        dataListSelections: [],
        rechargeDataListSelections: []
      }
    },
    components: {},
    created() {
    },
    mounted() {

    },
    methods: {
      clearForm() {
        this.dataForm.promoterId = ''
        this.dataForm.rechargeTime = []
        this.dataForm.rechargeStartTime = ''
        this.dataForm.rechargeEndTime = ''
      },
      searchChange() {
        this.pageIndex = 1
        this.rechargePageIndex = 1

        if (this.dataForm.rechargeTime != null && this.dataForm.rechargeTime.length === 2) {
          this.dataForm.rechargeStartTime = this.dataForm.rechargeTime[0]
          this.dataForm.rechargeEndTime = this.dataForm.rechargeTime[1]
        } else {
          this.$message.error('请输入查询起止时间!')
          this.dataForm.rechargeStartTime = ''
          this.dataForm.rechargeEndTime = ''
          return
        }

        this.getDataList()
        this.getRechargeDataList()
        this.getAllDataList()
      },
      dateFormat(row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      // 获取数据列表
      getDataList() {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl(`/cac/payorder/statisList`),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'startTime': this.dataForm.rechargeStartTime,
            'endTime': this.dataForm.rechargeEndTime,
            'promoterId': this.dataForm.promoterId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.statispage
            // this.totalPage = data.statispage.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      getAllDataList() {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl(`/cac/payorder/allList`),
          method: 'get',
          params: this.$http.adornParams({
            'startTime': this.dataForm.rechargeStartTime,
            'endTime': this.dataForm.rechargeEndTime,
            'promoterId': this.dataForm.promoterId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.statisForm.userNum = data.resultData.userNum
            this.statisForm.payFee = data.resultData.payFee
          } else {
            this.statisForm.userNum = ''
            this.statisForm.payFee = ''
          }
          this.dataListLoading = false
        })
      },
      getRechargeDataList() {
        this.rechargeDataListLoading = true
        this.$http({
          url: this.$http.adornUrl(`/cac/payorder/userList`),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.rechargePageIndex,
            'limit': this.rechargePageSize,
            'startTime': this.dataForm.rechargeStartTime,
            'endTime': this.dataForm.rechargeEndTime,
            'promoterId': this.dataForm.promoterId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.rechargeDataList = data.userpage
            // .rechargeTotalPage = data.userpage.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.rechargeDataListLoading = false
        })
      },
      getSummaries(param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 1 || index === 2) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ''
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      getRechargeSummaries(param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 2) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ''
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      sizeChangeHandle(val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle(val) {
        this.pageIndex = val
        this.getDataList()
      },
      rechargeSizeChangeHandle(val) {
        this.rechargePageSize = val
        this.rechargePageIndex = 1
        this.getRechargeDataList()
      },
      rechargeCurrentChangeHandle(val) {
        this.rechargePageIndex = val
        this.getRechargeDataList()
      }
    }
  }
</script>
