<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.accountId" placeholder="下级会员ID" size="small" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.promoterId" placeholder="上级会员ID" size="small" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="accountId"
        header-align="center"
        align="center"
        label="下级ID">
      </el-table-column>
      <el-table-column
        prop="accountName"
        header-align="center"
        align="center"
        label="下级名称">
      </el-table-column>
      <el-table-column
        prop="accountNickName"
        header-align="center"
        align="center"
        label="下级昵称">
      </el-table-column>
      <el-table-column
        prop="promoterId"
        header-align="center"
        align="center"
        label="上级ID">
      </el-table-column>
      <el-table-column
        prop="promoterName"
        header-align="center"
        align="center"
        label="上级名称">
      </el-table-column>
      <el-table-column
        prop="promoterNickName"
        header-align="center"
        align="center"
        label="上级昵称">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          accountId: '',
          promoterId: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false
      }
    },
    components: {},
    created () {
      this.getDataList()
    },
    methods: {
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.promoterId = ''
        this.dataForm.accountId = ''
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/relation/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'accountId': this.dataForm.accountId,
            'promoterId': this.dataForm.promoterId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
