<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-alert
        title="注册时间段建议小于7天"
        effect="dark"
        show-icon
        center="true"
        description="统计计算时间可能较长,请耐心等待!"
        type="warning">
      </el-alert>
      <el-card style="margin-top: 5px">
        <el-form-item label="统计间隔天数:">
          <el-input-number v-model="dataForm.countTime" size="mini" :min="1" :max="9999999"
                           label="间隔天数"  @change="computeTime"></el-input-number>
        </el-form-item>
        <el-form-item label="注册起止:">
          <el-date-picker v-model="dataForm.regTime" size="mini" type="daterange" value-format="timestamp" @change="computeTime"
                          format="yyyy-MM-dd" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item label="登录起止:">
          <el-date-picker v-model="dataForm.loginTime" size="mini" type="daterange" value-format="timestamp" disabled
                          format="yyyy-MM-dd" range-separator="至" start-placeholder="开始日期" end-placeholder="结束日期">
          </el-date-picker>
        </el-form-item>
        <el-form-item>
          <el-button size="mini" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
          <el-button size="mini" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        </el-form-item>
      </el-card>
    </el-form>

    <div style="margin-top: 5px">
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="regTime"
        header-align="center"
        align="center"
        label="注册日期">
      </el-table-column>
      <el-table-column
        prop="regNum"
        header-align="center"
        align="center"
        label="注册人数">
      </el-table-column>
      <el-table-column
        prop="loginNum"
        header-align="center"
        align="center"
        label="登录人数">
      </el-table-column>
      <el-table-column
        prop="origin"
        header-align="center"
        align="center"
        label="注册来源">
      </el-table-column>
      <el-table-column
        prop="promoterId"
        header-align="center"
        align="center"
        label="上级代理">
      </el-table-column>
      <el-table-column
        prop="statis"
        header-align="center"
        align="center"
        label="留存率%">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        chartLine: null,
        ipDetailsShow: false,
        statisData: {
          regNum: 0
        },
        dataForm: {
          loginTime: [],
          regTime: [],
          countTime: 1,
          registerStartTime: '',
          registerEndTime: '',
          loginStartTime: '',
          loginEndTime: ''
        },
        ChartLineReport: {
          'title': {
            'text': '百分比统计折线图'
          },
          'tooltip': {
            'trigger': 'axis'
          },
          'legend': {
            'data': []
          },
          'grid': {
            'left': '3%',
            'right': '3%',
            'bottom': '3%',
            'containLabel': true
          },
          'xAxis': {
            'type': 'category',
            'boundaryGap': false,
            'data': []
          },
          'yAxis': {
            'type': 'value'
          },
          'series': []
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    activated () {
    },
    mounted () {

    },
    methods: {
      computeTime () {
        if (this.dataForm.regTime != null && this.dataForm.regTime.length === 2 && this.dataForm.countTime > 0) {
          this.dataForm.loginTime = []
          this.dataForm.registerStartTime = this.dataForm.regTime[0]
          this.dataForm.registerEndTime = this.dataForm.regTime[1]

          var loginStartTime = this.addDate(this.dataForm.regTime[0], this.dataForm.countTime)
          var loginEndTime = this.addDate(this.dataForm.regTime[1], this.dataForm.countTime)

          var loginStartDate = new Date(loginStartTime)
          var loginEndDate = new Date(loginEndTime)

          this.dataForm.loginTime.push(loginStartDate)
          this.dataForm.loginTime.push(loginEndDate)
        }
      },
      addDate (date, days) {
        var deDate = new Date(date)
        deDate.setDate(deDate.getDate() + days)
        var month = deDate.getMonth() + 1
        var day = deDate.getDate()
        return deDate.getFullYear() + '-' + this.getFormatDate(month) + '-' + this.getFormatDate(day)
      },
      getFormatDate (arg) {
        if (arg === undefined || arg === '') {
          return ''
        }
        var re = arg + ''
        if (re.length < 2) {
          re = '0' + re
        }
        return re
      },
      clearForm () {
        this.statisData.regNum = ''
        this.dataForm.countTime = 1
        this.dataForm.registerStartTime = ''
        this.dataForm.registerEndTime = ''
        this.dataForm.loginStartTime = ''
        this.dataForm.loginEndTime = ''
        this.dataForm.regTime = []
        this.dataForm.loginTime = []
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      dateFormat (row, column) {
        var date = row[column.property]
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.regTime != null && this.dataForm.regTime.length === 2) {
          this.dataForm.registerStartTime = this.dataForm.regTime[0]
          this.dataForm.registerEndTime = this.dataForm.regTime[1]
          if (this.dataForm.loginTime != null && this.dataForm.loginTime.length === 2) {
            this.dataForm.loginStartTime = this.dataForm.loginTime[0] instanceof Date ? this.dataForm.loginTime[0].getTime() : this.dataForm.loginTime[0]
            this.dataForm.loginEndTime = this.dataForm.loginTime[1] instanceof Date ? this.dataForm.loginTime[1].getTime() : this.dataForm.loginTime[1]
          } else {
            this.$message.error('请输入登录起止时间!')
            this.dataForm.loginStartTime = ''
            this.dataForm.loginEndTime = ''
            return
          }
        } else {
          this.$message.error('请输入查询起止时间!')
          this.dataForm.registerStartTime = ''
          this.dataForm.registerEndTime = ''
          return
        }
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl(`/report/recordlogin/retainList`),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'registerStartTime': this.dataForm.registerStartTime,
            'registerEndTime': this.dataForm.registerEndTime,
            'loginStartTime': this.dataForm.loginStartTime,
            'loginEndTime': this.dataForm.loginEndTime,
            'countTime': this.dataForm.countTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 1 || index === 2) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 人'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
