<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.userId" placeholder="会员ID" size="small" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-select v-model="dataForm.type" size="small" clearable>
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"/>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-date-picker
          v-model="dataForm.startTime" align="right" type="date" value-format="yyyy-MM-dd" size="small" clearable
          format="yyyy-MM-dd" placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" type="date" value-format="yyyy-MM-dd" size="small"
                        clearable format="yyyy-MM-dd" placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      size="small"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="ID"
        header-align="center"
        align="center"
        label="ID">
      </el-table-column>
      <el-table-column
        prop="UserID"
        header-align="center"
        align="center"
        width="120"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="LastBeforeCount"
        header-align="center"
        align="center"
        label="(今日)之前积分">
      </el-table-column>
      <el-table-column
        prop="LastGainCount"
        header-align="center"
        align="center"
        label="(今日)更新积分">
      </el-table-column>
      <el-table-column
        prop="LastAfterCount"
        header-align="center"
        align="center"
        label="(今日)之后积分">
      </el-table-column>
      <el-table-column
        prop="BeforeCount"
        header-align="center"
        align="center"
        label="(明日)之前积分">
      </el-table-column>
      <el-table-column
        prop="GainCount"
        header-align="center"
        align="center"
        label="(明日)更新积分">
      </el-table-column>
      <el-table-column
        prop="AfterCount"
        header-align="center"
        align="center"
        label="(明日)之后积分">
      </el-table-column>
      <el-table-column
        prop="Type"
        header-align="center"
        align="center"
        width="100"
        label="类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.Type === 1" size="small" type="success">0点清零</el-tag>
          <el-tag v-else-if="scope.row.Type === 2" size="small" type="danger">下注赠送</el-tag>
          <el-tag v-else-if="scope.row.Type === 3" size="small" type="warning">抽奖消耗</el-tag>
          <el-tag v-else-if="scope.row.Type === 4" size="small" type="info">第三方下注</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="RecordTime"
        header-align="center"
        align="center"
        label="记录时间">
      </el-table-column>
      <el-table-column
        prop="gameKindName"
        header-align="center"
        align="center"
        width="120"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="phoneGameName"
        header-align="center"
        align="center"
        width="200"
        label="游戏房间">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          startTime: '',
          endTime: '',
          type: ''
        },
        options: [{
          label: '0点清零',
          value: 1
        },
        {
          label: '下注赠送',
          value: 2
        },
        {
          label: '抽奖消耗',
          value: 3
        }],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    created () {
      this.getDataList()
    },
    methods: {
      defaultValue (row, column) {
        var date = row['recordtime']
        if (date === undefined || date === '' || date === null) {
          return '0'
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
        this.dataForm.type = ''
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/scoreRecord/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'type': this.dataForm.type,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
