<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-select v-model="dataForm.gameId" clearable size="small" placeholder="游戏列表">
          <el-option
            v-for="item in gameOptions" :key="item.gameKindType" :label="item.gameKindName" :value="item.gameKindType">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.userId" placeholder="会员ID" size="small" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime" value-format="yyyy-MM-dd" format="yyyy-MM-dd" :picker-options="pickerOptions" placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime" value-format="yyyy-MM-dd" format="yyyy-MM-dd" :picker-options="pickerOptions" placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <el-table
      @sort-change='tableSortChange'
      :data="dataList"
      size="small"
      border
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="channelId"
        header-align="center"
        align="center"
        label="渠道编码">
      </el-table-column>
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="gameId"
        header-align="center"
        align="center"
        label="游戏ID">
      </el-table-column>
      <el-table-column
        prop="gameKindName"
        header-align="center"
        align="center"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="statisTime"
        header-align="center"
        align="center"
        :formatter="dateFormat"
        label="统计日期">
      </el-table-column>
      <el-table-column
        prop="gameCount"
        header-align="center"
        align="center"
        sortable='custom'
        label="游戏次数">
      </el-table-column>
      <el-table-column
        prop="gameFee"
        header-align="center"
        align="center"
        sortable='custom'
        label="用户盈利(元)">
      </el-table-column>
      <el-table-column
        prop="betFee"
        header-align="center"
        align="center"
        sortable='custom'
        label="下注金额(元)">
      </el-table-column>
      <el-table-column
        prop="revenueFee"
        header-align="center"
        align="center"
        sortable='custom'
        label="税收金额(元)">
      </el-table-column>
      <el-table-column
        prop="gameTimeLength"
        header-align="center"
        align="center"
        sortable='custom'
        label="游戏时长(秒)">
      </el-table-column>
      <el-table-column
        prop="isMatch"
        header-align="center"
        align="center"
        label="是否比赛">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.isMatch === 1" size="small" type="success">否</el-tag>
          <el-tag v-else-if="scope.row.isMatch === 2" size="small" type="danger">是</el-tag>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          startTime: '',
          gameId: '',
          endTime: '',
          order: '',
          sortby: ''
        },
        gameOptions: [],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    created () {
      this.getGameList()
    },
    methods: {
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      dateFormat (row) {
        var date = row['statisTime']
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(date).format('YYYY-MM-DD')
      },
      clearForm () {
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
        this.dataForm.gameId = ''
        this.dataForm.userId = ''
        this.dataForm.order = ''
        this.dataForm.sortby = ''
      },
      tableSortChange (column) {
        if (column.order === 'descending') {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'desc'
        } else {
          this.dataForm.sortby = column.prop
          this.dataForm.order = 'asc'
        }
        this.getDataList()
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 5 || index === 6 || index === 7 || index === 8) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            if (index === 5) {
              sums[index] += ' 次'
            } else {
              sums[index] += ' 元'
            }
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      getGameList () {
        this.$http({
          url: this.$http.adornUrl(`/cac/statisgame/allGame`),
          method: 'get'
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.gameOptions = data.gameList
          }
        })
      },
      // 获取数据列表
      getDataList () {
        if (this.dataForm.startTime === null || this.dataForm.endTime === null || this.dataForm.startTime === '' || this.dataForm.endTime === '') {
          this.$message.error('请输入起止时间!')
          return
        } else {
          if (this.dataForm.startTime.substr(1, 7) !== this.dataForm.endTime.substr(1, 7)) {
            this.$message.error('起止时间必须在同一月份!')
            return
          }
        }
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/statisgame/usergameList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'gameId': this.dataForm.gameId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime,
            'order': this.dataForm.order,
            'sortby': this.dataForm.sortby
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
