<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()" style="margin-top: 10px">
      <el-form-item>
        <el-input v-model="dataForm.userId" placeholder="会员ID" size="small" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="date" :picker-options="pickerOptions" value-format="yyyyMMdd" format="yyyyMMdd" placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="date"  :picker-options="pickerOptions" value-format="yyyyMMdd" format="yyyyMMdd" placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small"  @click="clearQueryForm()" icon="el-icon-delete">清空</el-button>
      </el-form-item>
    </el-form>
    <div style="height: 145px" v-if="this.dataList.length > 0">
      <el-row style="height: 130px">
        <el-card style="height: 130px">
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i> <span>报表总计:</span>
          </div>
          <el-row>
            <el-col :span="3.4">
               在线充值:
              <el-tag type="success" effect="dark"> {{this.statisData.onlineRechargeFee}}</el-tag> &nbsp;&nbsp;&nbsp;
            </el-col>
            <el-col :span="3.4">
              手动充值:
              <el-tag type="info" effect="dark"> {{this.statisData.handRechargeFee}} </el-tag> &nbsp;&nbsp;&nbsp;
            </el-col>
            <el-col :span="3.4">
              充值总金额:
              <el-tag type="warning" effect="dark"> {{this.statisData.rechargeFee}} </el-tag> &nbsp;&nbsp;&nbsp;
            </el-col>
            <el-col :span="3.4">
              提现金额:
              <el-tag type="danger" effect="dark"> {{this.statisData.withdrwFee}} </el-tag> &nbsp;&nbsp;&nbsp;
            </el-col>
            <el-col :span="3.4" v-if="this.statisData.statisFee > 0">
              <font  color="red"> 亏损: </font>
              <el-tag type="info" effect="dark"> {{this.statisData.statisFee}} </el-tag> &nbsp;&nbsp;&nbsp;
            </el-col>
            <el-col :span="3.4" v-else>
              <font  color="green"> 亏损: </font>
              <el-tag type="info" effect="dark"> {{this.statisData.statisFee}} </el-tag> &nbsp;&nbsp;&nbsp;
            </el-col>
          </el-row>
        </el-card>
      </el-row>
    </div>
    <el-table
      :data="dataList"
      show-summary
      sum-text="小计"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="userId"
        header-align="center"
        align="center"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="nickName"
        header-align="center"
        align="center"
        label="用户昵称">
      </el-table-column>
      <el-table-column
        prop="statisTime"
        header-align="center"
        align="center"
        label="统计时间">
      </el-table-column>
      <el-table-column
        label="会员日报表账务统计信息"
        align="center">
        <el-table-column
          align="center"
          prop="onlineRechargeFee"
          label="在线充值(元)">
        </el-table-column>
        <el-table-column
          prop="handRechargeFee"
          header-align="center"
          align="center"
          label="手动充值(元)">
        </el-table-column>
        <el-table-column
          prop="rechargeFee"
          header-align="center"
          width="200"
          align="center"
          label="充值总金额(元)">
        </el-table-column>
        <el-table-column
          prop="withdrwFee"
          header-align="center"
          align="center"
          label="提现金额(元)">
        </el-table-column>
        <el-table-column
          prop="statisFee"
          header-align="center"
          align="center"
          label="日盈亏(元)">
        </el-table-column>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          startTime: '',
          gameRoomId: '',
          endTime: '',
          businessType: '',
          roomArr: []
        },
        statisData: {
          onlineRechargeFee: 0,
          handRechargeFee: 0,
          rechargeFee: 0,
          withdrwFee: 0,
          statisFee: 0
        },
        pickerOptions: {
          disabledDate (time) {
            return time.getTime() > Date.now()
          },
          shortcuts: [{
            text: '今天',
            onClick (picker) {
              picker.$emit('pick', new Date())
            }
          }, {
            text: '昨天',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24)
              picker.$emit('pick', date)
            }
          }, {
            text: '一周前',
            onClick (picker) {
              const date = new Date()
              date.setTime(date.getTime() - 3600 * 1000 * 24 * 7)
              picker.$emit('pick', date)
            }
          }]
        },
        options: [],
        roomOptions: [],
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    activated () {

    },
    methods: {
      defaultValue (row, column) {
        var value = row[column.property]
        if (value === undefined || value === '' || value === null) {
          return '0'
        }
        return value
      },
      searchChange () {
        if (this.dataForm.startTime === '' || this.dataForm.startTime === null || this.dataForm.endTime === '' || this.dataForm.endTime === null) {
          this.$message.error('请输入查询起止时间!')
          return
        } else if (this.dataForm.userId === '' || this.dataForm.userId === null) {
          this.$message.error('请输入查询用户ID!')
          return
        } else {
          if (this.dataForm.startTime.substr(0, 6) !== this.dataForm.endTime.substr(0, 6)) {
            this.$message.error('起止时间必须在同一月份!')
            return
          }
        }
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.statisData.onlineRechargeFee = 0
        this.statisData.handRechargeFee = 0
        this.statisData.rechargeFee = 0
        this.statisData.withdrwFee = 0
        this.statisData.statisFee = 0
      },
      clearQueryForm () {
        this.dataForm.userId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
        this.dataForm.gameRoomId = ''
        this.dataForm.businessType = ''
        this.dataForm.roomArr = []
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/statisaccount/realtimeList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
            if (data.statis !== null) {
              this.statisData.onlineRechargeFee = data.statis.onlineRechargeFee
              this.statisData.handRechargeFee = data.statis.handRechargeFee
              this.statisData.rechargeFee = data.statis.rechargeFee
              this.statisData.withdrwFee = data.statis.withdrwFee
              this.statisData.statisFee = data.statis.statisFee
            }
          } else {
            this.clearForm()
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
