<template>
  <el-dialog
    title="捕鱼牌局详情"
    :close-on-click-modal="false"
    width="80%"
    :visible.sync="visible">
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>牌面信息</span>
          </div>
          <div v-if="boardArr.recordInfo !== undefined && boardArr.recordInfo.length > 0">
            <el-row  style="align:center; text-align:center" >
              <el-col :span="6" v-for="o in boardArr.recordInfo" :key="o">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="o.fishName" class="image" style="width: 166px; height: 80px">
                  <div style="padding: 14px;">
                    <div class="bottom clearfix">
                      <time class="time">{{o.desc}}</time>
                    </div>
                  </div>
                </el-card>
              </el-col>
            </el-row>
          </div>
          <div v-else>
            <el-row style="align:center; text-align:center" >
              <el-col :span="24">
                <el-card :body-style="{ padding: '20px' }">
                    <div class="bottom clearfix">
                      <time class="time">本局没有打死鱼</time>
                    </div>
                </el-card>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          recordInfo: []
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime
          this.boardArr.recordInfo = []
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/byboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'userId': this.dataForm.userId,
              'queryTime': this.dataForm.queryTime
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.recordInfo = data.byboardDetails.recordInfo
            }
          })
        })
      }
    }
  }
</script>
<style>
  .time {
    font-size: 13px;
    color: #999;
  }

  .bottom {
    margin-top: 13px;
    line-height: 12px;
  }

  .button {
    padding: 0;
    float: right;
  }

  .image {
    width: 100%;
  }

  .clearfix:before,
  .clearfix:after {
    display: table;
    content: "";
  }

  .clearfix:after {
    clear: both
  }
</style>
