<template>
  <el-dialog
    title="财神到牌局详情"
    :close-on-click-modal="false"
    width="50%"
    :visible.sync="visible">
    <div style="align:center; text-align:center">
      <div slot="header" class="clearfix">
        <i class="el-icon-edit"></i><span> {{this.dataForm.endIntegralName}}</span>
      </div>
      <el-form :model="dataForm" style="align:center; text-align:center">
        <el-row v-for="i in boardArr" :key="i" style="align:center; text-align:center">
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center">
              <img :src="i.img0" height="70" width="70" v-if="i"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img1" height="70" width="70"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img2" height="70" width="70"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img3" height="70" width="70"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img4" height="70" width="70"/>
            </el-card>
          </el-col>
        </el-row>
      </el-form>
      <span class="dialog-footer" style="float:right;margin-top: 10px; margin-bottom: 20px">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
      </span>
      <br/>
    </div>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: [],
        dataForm: {
          endIntegralName: '',
          RecordID: ''
        }
      }
    },
    methods: {
      init (RecordID, endIntegralName) {
        this.dataForm.endIntegralName = ''
        this.dataForm.RecordID = ''

        this.$nextTick(() => {
          this.dataForm.RecordID = RecordID
          this.dataForm.endIntegralName = endIntegralName
          this.boardArr = []
          this.visible = true
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/boardDetail/${this.dataForm.RecordID}`),
            method: 'get',
            params: this.$http.adornParams()
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr = data.detailList
            }
          })
        })
      }
    }
  }
</script>
