<template>
  <el-dialog
    title="斗地主牌局详情"
    :close-on-click-modal="false"
    width="65%"
    :visible.sync="visible">
      <el-row :gutter="20" style="margin-top: -5px">
        <el-col>
          <el-card>
            <div slot="header" class="clearfix">
              <i class="el-icon-setting"></i><span>手牌信息</span>
            </div>
            <el-row v-for="o in boardArr.boardList" :key="o"  style="align:center; text-align:center">
              <!--循环画出图片-->
              <div v-if="o.imgLastList">
                <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                  底&nbsp;&nbsp;牌:
                </el-col>
                <el-col :span="1.5" v-for="i in o.imgLastList" :key="i">
                  <el-card :body-style="{ padding: '0px' }">
                    <img :src="i" class="image" style="width: 36px; height: 50px">
                  </el-card>
                </el-col>
              </div>
            </el-row>
           <!--二维数组,每条17张牌-->
            <el-row v-for="o in boardArr.boardList" :key="o"  style="align:center; text-align:center">
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{o.chairId}}:
              </el-col>
              <!--循环画出图片-->
              <el-col :span="1.5" v-for="i in o.imgArr" :key="i">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="i" class="image"  style="width: 36px; height: 50px">
                </el-card>
              </el-col>
            </el-row>
          </el-card>
        </el-col>
      </el-row>
    <el-row style="margin-top: 5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-view"></i><span>出牌记录</span>
          </div>
          <div style="width: 100%; height:300px">
            <el-row  v-for="o in boardArr.outCardList" :key="o" style="align:center; text-align:center">
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{o.desc}}:
              </el-col>
              <!--循环画出图片-->
              <div style="width: 100%" v-if="o.boardDesc && o.boardDesc != ''">
                <el-col :span="1.5">
                  <el-card :span="1.5" :body-style="{ padding: '0px' }">
                    <img src="https://youwanimage.oss-cn-shanghai.aliyuncs.com/board_img/ddz/pass.png" class="image"  style="width: 36px; height: 50px">
                  </el-card>
                </el-col>
              </div>
              <div style="width: 100%" v-else>
                <el-col :span="1.5" v-for="i in o.imgArr" :key="i">
                  <el-card :span="1.5" :body-style="{ padding: '0px' }">
                    <img :src="i" class="image"  style="width: 36px; height: 50px">
                  </el-card>
                </el-col>
              </div>
            </el-row>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row style="margin-top: 5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>其他信息</span>
          </div>
          <el-collapse>
            <el-collapse-item title="用户信息" name="1">
              <div> 用户信息：{{ boardArr.userInfoStr }} </div>
            </el-collapse-item>
            <el-collapse-item title="叫分信息" name="2" >
              <div v-for="i in boardArr.boardList" :key="i">{{ i.desc}}</div>
            </el-collapse-item>
            <el-collapse-item title="输赢信息" name="3">
              <div> 输赢信息：{{ boardArr.loseOrWinIntegalStr }} </div>
            </el-collapse-item>
            <el-collapse-item title="结算信息" name="4">
              <div> 结算信息：{{ boardArr.endIntegralStr }} </div>
            </el-collapse-item>
            <el-collapse-item title="其他信息" name="5">
              <div> 逃跑记录：{{ boardArr.runRecordStr }} </div>
              <div> 托管次数：{{ boardArr.hosteCountStr }} </div>
              <div> 托管时长：{{ boardArr.hosteTrustDateStr }} </div>
            </el-collapse-item>
          </el-collapse>
        </el-card>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          boardList: [],
          outCardList: [],
          userInfoStr: '',
          endIntegralStr: '',
          loseOrWinIntegalStr: '',
          runRecordStr: '',
          hosteCountStr: '',
          hosteTrustDateStr: ''
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/ddzboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'queryTime': this.dataForm.queryTime,
              'userId': this.dataForm.userId
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.boardList = data.ddzboardDetails.boardList
              this.boardArr.outCardList = data.ddzboardDetails.outCardList

              this.boardArr.userInfoStr = data.ddzboardDetails.userInfoStr
              this.boardArr.endIntegralStr = data.ddzboardDetails.endIntegralStr
              this.boardArr.loseOrWinIntegalStr = data.ddzboardDetails.loseOrWinIntegalStr

              this.boardArr.runRecordStr = data.ddzboardDetails.runRecordStr
              this.boardArr.hosteCountStr = data.ddzboardDetails.hosteCountStr
              this.boardArr.hosteTrustDateStr = data.ddzboardDetails.hosteTrustDateStr
            }
          })
        })
      }
    }
  }
</script>
