<template>
  <el-dialog
    title="五星宏辉牌局详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>开奖信息</span>
          </div>
          <el-row  style="align:center; text-align:center">
            <div>
              <el-col :span="1.5">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="boardArr.cardRecord" class="image" style="width: 36px; height: 50px">
                </el-card>
              </el-col>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>其他信息</span>
          </div>
          <el-collapse>
            <el-collapse-item title="下注信息" name="1" >
              <div>{{ boardArr.betDetail.bet }} </div>
            </el-collapse-item>
            <el-collapse-item title="得分信息" name="2" >
              <div>{{ boardArr.betDetail.score }} </div>
            </el-collapse-item>
          </el-collapse>
        </el-card>
      </el-col>
    </el-row>

    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          betDetail: [],
          cardRecord: ''
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime

          this.boardArr.betDetail = []
          this.boardArr.cardRecord = ''
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/bhsboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'userId': this.dataForm.userId,
              'queryTime': this.dataForm.queryTime
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.betDetail = data.bhsboardDetails.betDetail
              this.boardArr.cardRecord = data.bhsboardDetails.cardRecord
            }
          })
        })
      }
    }
  }
</script>
