<template>
  <el-dialog
    title="21点牌局详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>庄家手牌信息</span>
          </div>
          <el-row style="align:center; text-align:center">
            <!--循环画出图片-->
            <div  v-if="this.boardArr.cardRecord">
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                庄家牌:&nbsp;&nbsp;
              </el-col>
              <el-col :span="1.5" v-for="o in this.boardArr.cardRecord" :key="o" >
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="o" class="image" style="width: 36px; height: 50px">
                </el-card>
              </el-col>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row style="margin-top: 5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>区域信息</span>
          </div>
          <el-row v-for="o in boardArr.bankCardRecord" :key="o"  style="align:center; text-align:center">
            <!--循环画出图片-->
            <div v-if="o.cardRecord">
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                区域:
              </el-col>
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{ o.area }} &nbsp;
              </el-col>

              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                牌型:
              </el-col>
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{ o.dim }} &nbsp;
              </el-col>

              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                下注量:
              </el-col>
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{ o.bet }} &nbsp;
              </el-col>

              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                盈利:
              </el-col>
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{ o.win }} &nbsp;
              </el-col>

              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                点数:
              </el-col>
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{ o.point }} &nbsp;
              </el-col>

              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                保险费:
              </el-col>
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{ o.insure }} &nbsp;
              </el-col>

              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                手牌:&nbsp;&nbsp;
              </el-col>
              <el-col :span="1.5" v-for="i in o.cardRecord" :key="i">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="i" class="image" style="width: 36px; height: 50px">
                </el-card>
              </el-col>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          cardRecord: [],
          bankCardRecord: []
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/esydboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'queryTime': this.dataForm.queryTime,
              'userId': this.dataForm.userId
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.cardRecord = data.esydboardDetails.cardRecord
              this.boardArr.bankCardRecord = data.esydboardDetails.bankCardRecord
            }
          })
        })
      }
    }
  }
</script>
