<template>
  <el-dialog
    title="牌局详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>开奖信息</span>
          </div>
          <el-row  style="align:center; text-align:center">
            <!--循环画出图片-->
            <div>
              <el-col :span="1.5">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="boardArr.rewardType" class="image" style="width: 50px; height: 50px">
                </el-card>
              </el-col>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-view"></i><span>中奖信息</span>
          </div>
          <el-row  style="align:center; text-align:center">
            <!--循环画出图片-->
            <div>
              <el-col :span="1.5" v-for="o in boardArr.awardBetArea" :key="o">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="o" class="image" style="width: 50px; height: 50px">
                </el-card>
              </el-col>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>下注倍数</span>
          </div>
          <el-row  style="align:center; text-align:center">
            <!--循环画出图片-->
            <div >
              <el-col  :span="4" v-for="p in boardArr.areaTimes" :key="p" >
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="p.type" class="image" style="width: 50px; height: 50px"> : {{ p.award }}
                </el-card>
              </el-col>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>下注信息</span>
          </div>
          <el-row  style="align:center; text-align:center">
            <!--循环画出图片-->
            <div >
              <el-col  :span="4" v-for="q in boardArr.playerBet" :key="q">
                <el-card :body-style="{ padding: '0px' }">
                  <img :src="q.type" class="image" style="width: 50px; height: 50px"> : {{ q.bet }}
                </el-card>
              </el-col>
            </div>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          rewardType: '',
          awardBetArea: [],
          areaTimes: [],
          playerBet: []
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime
          this.boardArr.rewardType = ''
          this.boardArr.awardBetArea = []
          this.boardArr.areaTimes = []
          this.boardArr.playerBet = []
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/fqzsboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'userId': this.dataForm.userId,
              'queryTime': this.dataForm.queryTime
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.rewardType = data.fqzsboardDetails.rewardType
              this.boardArr.awardBetArea = data.fqzsboardDetails.awardBetArea
              this.boardArr.areaTimes = data.fqzsboardDetails.areaTimes
              this.boardArr.playerBet = data.fqzsboardDetails.playerBet
            }
          })
        })
      }
    }
  }
</script>
