<template>
  <el-dialog
    title="牌局详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="120px">
      <el-form-item label="牌面信息:" prop="cardRecordName">
        <el-input v-model="dataForm.cardRecordName" type="textarea"
                  :autosize="{ minRows: 4, maxRows: 6}" disabled="false"></el-input>
      </el-form-item>

      <el-form-item label="下注结算:" prop="betDetailName">
        <el-input v-model="dataForm.betDetailName" type="textarea"
                  :autosize="{ minRows: 4, maxRows: 6}" disabled="false"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          cardRecordName: '',
          betDetailName: ''
        }
      }
    },
    methods: {
      init (cardRecordName, betDetailName) {
        this.dataForm.cardRecordName = ''
        this.dataForm.betDetailName = ''
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          this.dataForm.cardRecordName = cardRecordName
          this.dataForm.betDetailName = betDetailName
        })
      }
    }
  }
</script>
