<template>
  <el-dialog
    title="牌局详情"
    width="75%"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>牌面信息</span>
          </div>
          <el-row v-for="o in boardArr.cardRecord" :key="o"  style="align:center; text-align:center">
            <el-col :span="2" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
              {{o.name}}:
            </el-col>
            <!--循环画出图片-->
            <el-col :span="1.5" v-for="i in o.list" :key="i">
              <el-card :body-style="{ padding: '0px' }">
                <img :src="i" class="image"  style="width: 36px; height: 50px">
              </el-card>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row style="margin-top: 5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>其他信息</span>
          </div>
          <el-collapse>
            <el-collapse-item title="下注详情" name="1">
              <div>{{ boardArr.betDetail }} </div>
            </el-collapse-item>
          </el-collapse>
        </el-card>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          cardRecord: '',
          betDetail: ''
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      dateFormat (row, column) {
        var date = row['UserID']
        if (date !== undefined || date !== '') {
          if (date.length >= 7) {
            return '玩家(' + date + ')'
          } else {
            return '机器人(' + date + ')'
          }
        } else {
          return date
        }
      },
      init (recordId, userId, queryTime) {
        this.dataForm.cardRecord = []
        this.dataForm.betDetail = ''

        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime

          if (this.dataForm.recordId) {
            this.$http({
              url: this.$http.adornUrl(`/report/recordboard/hhboardDetail`),
              method: 'get',
              params: this.$http.adornParams({
                'recordId': this.dataForm.recordId,
                'userId': this.dataForm.userId,
                'queryTime': this.dataForm.queryTime
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.boardArr.betDetail = data.detailList.betDetail
                this.boardArr.cardRecord = data.detailList.cardRecord
              }
            })
          }
        })
      }
    }
  }
</script>
