<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input
          v-model="dataForm.userId" align="right" size="small" clearable placeholder="用户ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-input
          v-model="dataForm.recordId" align="right" size="small" clearable placeholder="牌局ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
      <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
    </el-form>
    <el-table
      :data="dataList"
      border
      show-summary
      :summary-method="getSummaries"
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="RecordID"
        header-align="center"
        align="center"
        width="130"
        label="牌局ID">
      </el-table-column>
      <el-table-column
        prop="UserID"
        header-align="center"
        width="80"
        align="center"

        label="用户ID">+
        prop="Periodical"
        header-align="center"
        width="80"
        align="center"
        label="开奖期数">
      </el-table-column>
      <el-table-column
        prop="TotalAmount"
        header-align="center"
        align="center"
        width="110"
        label="下注总金额(分)">
      </el-table-column>
      <el-table-column
        prop="TotalScore"
        header-align="center"
        align="center"
        width="110"
        label="玩家总金额(分)">
      </el-table-column>
      <el-table-column
        prop="Gain"
        header-align="center"
        align="center"
        width="110"
        label="结算总金额(分)">
      </el-table-column>
      <el-table-column
        prop="CardRecord"
        header-align="center"
        align="center"
        width="80"
        :formatter="cardValue"
        label="牌面值">
      </el-table-column>
      <el-table-column
        prop="betDetailName"
        header-align="center"
        align="center"
        width="200"
        label="下注详情">
      </el-table-column>
      <el-table-column
        prop="killInningIndex"
        header-align="center"
        align="center"
        width="80"
        label="强杀第几局">
      </el-table-column>
      <el-table-column
        prop="isCurInningKill"
        header-align="center"
        align="center"
        width="100"
        label="是否本局强杀">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.isCurInningKill === 1" size="small" type="success">是</el-tag>
          <el-tag v-else-if="scope.row.isCurInningKill === 0" size="small" type="danger">否</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="curActualTotalBet"
        header-align="center"
        align="center"
        width="180"
        label="本局真人玩家龙虎实际总下注">
      </el-table-column>
      <el-table-column
        prop="killMaxTotalBet"
        header-align="center"
        align="center"
        width="180"
        label="强杀真人玩家龙虎最大总下注">
      </el-table-column>
      <el-table-column
        prop="gameKindName"
        header-align="center"
        align="center"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="phoneGameName"
        header-align="center"
        align="center"
        label="游戏房间">
      </el-table-column>
      <el-table-column
        prop="StartTime"
        header-align="center"
        align="center"
        label="开始时间">
      </el-table-column>
      <el-table-column
        prop="EndTime"
        header-align="center"
        align="center"
        label="结束时间">
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          recordId: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    components: {},
    created () {
      this.initTimeData()
      this.getDataList()
    },
    methods: {
      initTimeData () {
        this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'
        this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 23:59:59'
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 3 || index === 4 || index === 5) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 分'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      cardValue (row, column) {
        var value = row[column.property]
        if (value === 1 || value === '1') {
          return '和'
        } else if (value === 2 || value === '2') {
          return '龙'
        } else if (value === 3 || value === '3') {
          return '虎'
        }
        return value
      },
      searchChange () {
        if (this.dataForm.startTime === '' || this.dataForm.startTime === null || this.dataForm.endTime === '' || this.dataForm.endTime === null) {
          this.$message.error('查询起止时间不能为空!')
          return
        }
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.recordId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/recordboard/lhboard'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime,
            'recordId': this.dataForm.recordId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
