<template>
  <el-dialog
    title="牛牛牌局详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>牌面信息</span>
          </div>
          <el-row v-for="o in boardArr.cardRecord" :key="o"  style="align:center; text-align:center">
            <el-col :span="4" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
              {{o.name}}{{o.px}}
            </el-col>
            <!--循环画出图片-->
            <el-col :span="1.5" v-for="i in o.list" :key="i">
              <el-card :body-style="{ padding: '0px' }">
                <img :src="i" class="image"  style="width: 36px; height: 50px">
              </el-card>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row style="margin-top: 5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>其他信息</span>
          </div>
          <el-collapse>
            <el-collapse-item title="结算信息" name="1">
              <div>{{ boardArr.betDetail }} </div>
            </el-collapse-item>
          </el-collapse>
        </el-card>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          betDetail: '',
          cardRecord: []
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime

          this.boardArr.betDetail = ''
          this.boardArr.cardRecord = []
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/nnboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'userId': this.dataForm.userId,
              'queryTime': this.dataForm.queryTime
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.betDetail = data.nnboardDetails.betDetail
              this.boardArr.cardRecord = data.nnboardDetails.cardRecord
            }
          })
        })
      }
    }
  }
</script>
