<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.userId" align="right" size="small"
                  prefix-icon="el-icon-user"
                  clearable placeholder="用户ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.recordId" align="right" size="small"
                  prefix-icon="el-icon-view"
                  clearable placeholder="牌局ID">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.startTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-date-picker v-model="dataForm.endTime" align="right" size="small" clearable type="datetime"
                        value-format="yyyy-MM-dd HH:mm:ss" format="yyyy-MM-dd HH:mm:ss" :picker-options="pickerOptions"
                        placeholder="结束时间">
        </el-date-picker>
      </el-form-item>
      <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
      <el-button size="small"  @click="clearForm()" icon="el-icon-delete">清空</el-button>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      show-summary
      :summary-method="getSummaries"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="RecordID"
        header-align="center"
        align="center"
        width="180"
        label="牌局ID">
      </el-table-column>
      <el-table-column
        prop="UserID"
        header-align="center"
        align="center"
        width="80"
        label="用户ID">
      </el-table-column>
      <el-table-column
        prop="TotalScore"
        header-align="center"
        align="center"
        width="90"
        label="当局金额(分)">
      </el-table-column>
      <el-table-column
        prop="ChairID"
        header-align="center"
        align="center"
        width="80"
        label="椅子号">
      </el-table-column>
      <el-table-column
        prop="HandTotalCount"
        header-align="center"
        align="center"
        width="80"
        label="出牌次数">
      </el-table-column>
      <el-table-column
        prop="HosteTotalCount"
        header-align="center"
        align="center"
        width="100"
        label="托管出牌次数">
      </el-table-column>
      <el-table-column
        prop="IsHostePunish"
        header-align="center"
        align="center"
        width="120"
        label="是否托管惩罚">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.IsHostePunish === 0" size="small" type="success">否</el-tag>
          <el-tag v-else-if="scope.row.IsHostePunish === 1" size="small" type="danger">是</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="SeveralRounds"
        header-align="center"
        align="center"
        width="80"
        label="第几轮">
      </el-table-column>
      <el-table-column
        prop="gameKindName"
        header-align="center"
        align="center"
        label="游戏名称">
      </el-table-column>
      <el-table-column
        prop="phoneGameName"
        header-align="center"
        align="center"
        label="游戏房间">
      </el-table-column>
      <el-table-column
        prop="StartTime"
        header-align="center"
        width="150"
        align="center"
        label="开始时间">
      </el-table-column>
      <el-table-column
        prop="EndTime"
        header-align="center"
        width="150"
        align="center"
        label="结束时间">
      </el-table-column>
      <el-table-column
        fixed="right"
        width="100"
        header-align="center"
        align="center"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="boardDetails(scope.row)">详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗 -->
    <PdkboardDetails v-if="boardDetailsShow" ref="pdkboardDetails" @refreshDataList="searchChange"></PdkboardDetails>
  </div>
</template>

<script>
  import PdkboardDetails from './pdkboard-details'

  export default {
    data () {
      return {
        pickerOptions: {
          disabledDate: time => {
            return (
              time < new Date(this.cooperationBegin + ' 00:00:00') ||
              time > new Date(this.cooperationEnd + ' 00:00:00')
            )
          }
        },
        cooperationBegin: '2019-05-01',
        cooperationEnd: '2037-12-31',
        dataForm: {
          userId: '',
          recordId: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        boardDetailsShow: false
      }
    },
    components: {
      PdkboardDetails
    },
    created () {
      this.initTimeData()
      this.getDataList()
    },
    methods: {
      initTimeData () {
        this.dataForm.startTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 00:00:00'
        this.dataForm.endTime = this.$moment(new Date()).format('YYYY-MM-DD') + ' 23:59:59'
      },
      getSummaries (param) {
        const {columns, data} = param
        const sums = []
        columns.forEach((column, index) => {
          if (index === 0) {
            sums[index] = '小计'
            return
          }
          if (index === 2) {
            const values = data.map(item => Number(item[column.property]))
            sums[index] = values.reduce((prev, curr) => {
              const value = Number(curr)
              if (!isNaN(value)) {
                return prev + curr
              } else {
                return prev
              }
            }, 0)
            sums[index] += ' 分'
          } else {
            sums[index] = 'N/A'
          }
        })
        return sums
      },
      boardDetails (row) {
        this.boardDetailsShow = true
        this.$nextTick(() => {
          this.$refs.pdkboardDetails.init(row.RecordID, row.UserID, row.EndTime)
        })
      },
      searchChange () {
        if (this.dataForm.startTime === '' || this.dataForm.startTime === null || this.dataForm.endTime === '' || this.dataForm.endTime === null) {
          this.$message.error('查询起止时间不能为空!')
          return
        }
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.recordId = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/report/recordboard/pdkboard'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime,
            'recordId': this.dataForm.recordId,
            'userId': this.dataForm.userId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      }
    }
  }
</script>
