<template>
  <el-dialog
    title="水果机牌局详情"
    :close-on-click-modal="false"
    width="50%"
    :visible.sync="visible">
    <div style="align:center; text-align:center">
      <div slot="header" class="clearfix">
        <i class="el-icon-edit"></i><span> {{this.boardArr.endIntegral}}</span>
      </div>
      <el-form :model="dataForm" style="align:center; text-align:center">
        <el-row v-for="i in boardArr.recordInfo" :key="i" style="align:center; text-align:center">
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center">
              <img :src="i.img0" height="70" width="70" v-if="i"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img1" height="70" width="70"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img2" height="70" width="70"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img3" height="70" width="70"/>
            </el-card>
          </el-col>
          <el-col :span="4.8">
            <el-card style="align:center; text-align:center" v-if="i">
              <img :src="i.img4" height="70" width="70"/>
            </el-card>
          </el-col>
        </el-row>
      </el-form>
      <span class="dialog-footer" style="float:right;margin-top: 10px; margin-bottom: 20px">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
      </span>
      <br/>
    </div>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          endIntegral: '',
          recordInfo: []
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.dataForm.endIntegral = ''
        this.dataForm.recordInfo = []
        this.$nextTick(() => {
          this.visible = true
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/sgjboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'userId': this.dataForm.userId,
              'queryTime': this.dataForm.queryTime
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.recordInfo = data.sgjboardDetails.recordInfo
              this.boardArr.endIntegral = data.sgjboardDetails.endIntegral
            }
          })
        })
      }
    }
  }
</script>
