<template>
  <el-dialog
    title="炸金花牌局详情"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-row :gutter="20" style="margin-top: -5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-setting"></i><span>手牌信息</span>
          </div>
          <el-row v-for="o in boardArr.recordInfo" :key="o"  style="align:center; text-align:center">
            <el-col :span="5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
              座位:{{o.chairID}}-牌型:{{o.shape}}-手牌:
            </el-col>
            <!--循环画出图片-->
            <el-col :span="1.5" v-for="i in o.cards" :key="i">
              <el-card :body-style="{ padding: '0px' }">
                <img :src="i" class="image" style="width: 36px; height: 50px">
              </el-card>
            </el-col>
          </el-row>
        </el-card>
      </el-col>
    </el-row>
    <el-row style="margin-top: 5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-view"></i><span>出牌记录</span>
          </div>
          <div style="width: 100%; height:300px">
            <el-row  v-for="o in boardArr.outCard" :key="o" style="align:center; text-align:center">
              <el-col :span="1.5" style="text-align:center;height: 52px;display: flex;justify-content: center;align-items: center;">
                {{o}}
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-col>
    </el-row>
    <el-row style="margin-top: 5px">
      <el-col>
        <el-card>
          <div slot="header" class="clearfix">
            <i class="el-icon-edit"></i><span>其他信息</span>
          </div>
          <el-collapse>
            <el-collapse-item title="玩家信息" name="1">
              <div> 玩家信息：{{ boardArr.userInfo }} </div>
            </el-collapse-item>
            <el-collapse-item title="结算积分" name="3">
              <div> 结算积分：{{ boardArr.endIntegral }} </div>
            </el-collapse-item>
          </el-collapse>
        </el-card>
      </el-col>
    </el-row>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        boardArr: {
          recordInfo: [],
          outCard: [],
          endIntegral: '',
          userInfo: ''
        },
        dataForm: {
          recordId: '',
          userId: '',
          queryTime: ''
        }
      }
    },
    methods: {
      init (recordId, userId, queryTime) {
        this.visible = true
        this.$nextTick(() => {
          this.dataForm.recordId = recordId
          this.dataForm.userId = userId
          this.dataForm.queryTime = queryTime
          this.boardArr.recordInfo = []
          this.boardArr.endIntegral = ''
          this.boardArr.userInfo = ''
          this.$http({
            url: this.$http.adornUrl(`/report/recordboard/zjhboardDetails`),
            method: 'get',
            params: this.$http.adornParams({
              'recordId': this.dataForm.recordId,
              'userId': this.dataForm.userId,
              'queryTime': this.dataForm.queryTime
            })
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.boardArr.recordInfo = data.zjhboardDetails.recordInfo
              this.boardArr.endIntegral = data.zjhboardDetails.endIntegral
              this.boardArr.userInfo = data.zjhboardDetails.userInfo
              this.boardArr.outCard = data.zjhboardDetails.outCard
            }
          })
        })
      }
    }
  }
</script>
