<template>
  <el-dialog :title="!dataForm.tid ? '新增' : '修改'" :close-on-click-modal="false" :visible.sync="visible">
    <div>
      <el-form :model="dataForm" ref="dataForm" :rules="dataRule" label-width="80px">
        <el-row>
          <el-col :span="22">
            <el-form-item label="公告标题" prop="title">
              <el-input type="text" v-model="dataForm.title" placeholder="请输入公告标题"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item label="公告时间" prop="maintTime">
              <el-date-picker size="small" v-model="dataForm.maintTime" start-placeholder="开始日期" end-placeholder="结束日期"
                              value-format="timestamp" format="yyyy-MM-dd HH:mm:ss" type="datetimerange"
                              auto-complete="off"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item label="图片链接" prop="imageUrl">
              <el-input v-model="dataForm.imageUrl" type="text" placeholder="图片链接"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item label="公告内容" prop="content">
              <el-input v-model="dataForm.content" type="textarea" :rows="8" placeholder="请输入公告内容"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
    </div>
    <span slot="footer" class="dialog-footer">
          <el-button size="small" @click="visible = false">取消</el-button>
          <el-button size="small" type="primary" @click="doSubmimt()">确定</el-button>
    </span>
  </el-dialog>
</template>
<script>
  import {isURL} from '@/utils/validate'

  export default {
    data () {
      var validateIsUrl = (rule, value, callback) => {
        if (value !== null && value !== '') {
          if (!isURL(value)) {
            callback(new Error('图片URL格式不正确!'))
          } else {
            callback()
          }
        } else {
          callback()
        }
      }
      var validateIsNotNull = (rule, value, callback) => {
        if ((this.dataForm.content === null || this.dataForm.content === '') && (this.dataForm.imageUrl === null || this.dataForm.imageUrl === '')) {
          callback(new Error('内容和图片必须填写一个!'))
        } else {
          callback()
        }
      }
      return {
        visible: false,
        dataForm: {
          tid: 0,
          start: '',
          finish: '',
          title: '',
          imageUrl: '',
          content: '',
          channelList: '',
          maintTime: []
        },
        content: '',
        dataRule: {
          title: [
            {required: true, message: '公告标题不能为空', trigger: 'blur'}
          ],
          content: [
            {validator: validateIsNotNull, trigger: 'blur'}
          ],
          imageUrl: [
            {validator: validateIsUrl, trigger: 'blur'}
          ],
          maintTime: [
            {required: true, message: '起止时间不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    mounted () {
    },
    methods: {
      init (id) {
        this.dataForm.tid = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.tid) {
            this.$http({
              url: this.$http.adornUrl(`/cac/bulletin/info/${this.dataForm.tid}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.tid = data.bulletin.tid
                this.dataForm.title = data.bulletin.ttitle
                this.dataForm.content = data.content
                this.dataForm.imageUrl = data.bulletin.thyperlink
                this.dataForm.maintTime.push(new Date(data.bulletin.tstart * 1000))
                this.dataForm.maintTime.push(new Date(data.bulletin.tfinish * 1000))
              }
            })
          }
        })
      },
      convertDateFromString (dateString) {
        if (dateString) {
          var arr1 = dateString.split(' ')
          var sdate = arr1[0].split('-')
          var date = new Date(sdate[0], sdate[1] - 1, sdate[2])
          return date
        }
      },
      doSubmimt () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.dataForm.start = this.dataForm.maintTime[0] instanceof Date ? this.dataForm.maintTime[0].getTime() : this.dataForm.maintTime[0]
            this.dataForm.finish = this.dataForm.maintTime[1] instanceof Date ? this.dataForm.maintTime[1].getTime() : this.dataForm.maintTime[1]

            this.$http({
              url: this.$http.adornUrl(`/cac/bulletin/${!this.dataForm.tid ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'tid': this.dataForm.tid,
                'content': this.dataForm.content,
                'title': this.dataForm.title,
                'start': this.dataForm.start,
                'finish': this.dataForm.finish,
                'imageUrl': this.dataForm.imageUrl
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
