<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.title" align="right" clearable placeholder="标题">
        </el-input>
      </el-form-item>
      <el-form-item label="开始时间:">
        <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间"   value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date"></el-date-picker>
      </el-form-item>
      <el-form-item label="结束时间:">
        <el-date-picker size="small" v-model="dataForm.endTime"  placeholder="结束时间"    value-format="yyyy-MM-dd" format="yyyy-MM-dd"  type="date" ></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button size="small" type="danger" @click="addBulletin()">发布公告</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="id"
        header-align="center"
        align="center"
        width="280"
        label="公告ID">
      </el-table-column>
      <!--
      <el-table-column
        prop="t_type"
        header-align="center"
        align="center"
        width="150"
        label="公告类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.t_type === 1" size="small" type="success">公告栏</el-tag>
          <el-tag v-else-if="scope.row.t_type === 2" size="small" type="danger" >跑马灯</el-tag>
        </template>
      </el-table-column>-->
      <el-table-column
        prop="t_title"
        header-align="center"
        align="center"
        width="250"
        label="公告标题">
      </el-table-column>
      <el-table-column
        prop="t_start"
        header-align="center"
        width="250"
        align="center"
        label="开始时间">
      </el-table-column>
      <el-table-column
        prop="t_finish"
        header-align="center"
        align="center"
        width="250"
        label="到期时间">
      </el-table-column>
      <el-table-column
        prop="t_createTime"
        header-align="center"
        align="center"
        width="250"
        label="创建时间">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
         <!--<el-button type="text" size="small" @click="viewBulletin(scope.row.id)">查看</el-button>-->
          <el-button type="text" size="small" @click="addBulletin(scope.row.id)">编辑</el-button>
          <el-button type="text" size="small" @click="deleteHandle(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <BulletinAdd v-if="addBulletinVisible" ref="bulletinAdd" @refreshDataList="getDataList"></BulletinAdd>
  </div>
</template>

<script>
  import BulletinAdd from './bulletin-add'
  import BulletinView from './bulletin-view'

  export default {
    data () {
      return {
        dataForm: {
          title: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addBulletinVisible: false
      }
    },
    components: {
      BulletinAdd,
      BulletinView
    },
    created () {
      this.getDataList()
    },
    methods: {
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.title = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/bulletin/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'title': this.dataForm.title,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 添加公告信息
      addBulletin (id) {
        this.addBulletinVisible = true
        this.$nextTick(() => {
          this.$refs.bulletinAdd.init(id)
        })
      },
      viewBulletin () {

      },
      // 删除
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.id
        })
        this.$confirm(`确定对[id=${ids.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/bulletin/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {
        })
      }
    }
  }
</script>
