<template>
  <el-dialog
    title="公告信息"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <div v-html="htmlData">
      <p>{{htmlTitle}}</p>
      {{htmlData}}
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        htmlData: '',
        htmlTitle: ''
      }
    },
    methods: {
      init () {
        this.visible = true
      }
    }
  }
</script>
