<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item>
        <el-input v-model="dataForm.csName" size="small" align="right" clearable placeholder="客服名称">
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button size="small" type="danger" @click="addBulletin()">新增</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="id"
        header-align="center"
        align="center"
        label="客服ID">
      </el-table-column>
      <el-table-column
        prop="connetType"
        header-align="center"
        align="center"
        width="150"
        label="客服类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.connetType === 1" size="small" type="success">推广客服</el-tag>
          <el-tag v-else-if="scope.row.connetType === 2" size="small" type="danger">游戏客服</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="csName"
        header-align="center"
        align="center"
        label="客服名称">
      </el-table-column>
      <el-table-column
        prop="connetType"
        header-align="center"
        align="center"
        width="150"
        label="联系方式">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.type === 1" size="small" type="success">微信</el-tag>
          <el-tag v-else-if="scope.row.type === 2" size="small" type="danger" >QQ</el-tag>
          <el-tag v-else-if="scope.row.type === 3" size="small" type="warning" >第三方web</el-tag>
          <el-tag v-else-if="scope.row.type === 4" size="small" type="info" >自有</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="accountOrUrl"
        header-align="center"
        width="250"
        align="center"
        label="ACCOUNT或URL">
      </el-table-column>
      <el-table-column
        prop="status"
        header-align="center"
        align="center"
        width="150"
        label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small" type="success">正常</el-tag>
          <el-tag v-else-if="scope.row.status === 0" size="small" type="danger" >失效</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        width="250"
        label="创建时间">
      </el-table-column>
      <el-table-column
        prop="createBy"
        header-align="center"
        align="center"
        label="创建人">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="addBulletin(scope.row.id)">编辑</el-button>
          <el-button type="text" size="small" @click="deleteHandle(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <CsInfoAdd v-if="addCsVisible" ref="csInfoAdd" @refreshDataList="getDataList"></CsInfoAdd>
  </div>
</template>

<script>
  import CsInfoAdd from './csinfo-add'

  export default {
    data () {
      return {
        dataForm: {
          csName: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        addCsVisible: false
      }
    },
    components: {
      CsInfoAdd
    },
    created () {
      this.getDataList()
    },
    methods: {
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.csName = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/csinfo/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'csName': this.dataForm.csName
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 添加客服信息
      addBulletin (id) {
        this.addCsVisible = true
        this.$nextTick(() => {
          this.$refs.csInfoAdd.init(id)
        })
      },
      viewBulletin () {

      },
      // 删除
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.id
        })
        this.$confirm(`确定对[id=${ids.join(',')}]进行[${id ? '删除' : '批量删除'}]操作?`, '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/cac/csinfo/delete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: '操作成功',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {
        })
      }
    }
  }
</script>
