<template>
  <el-dialog :title="!dataForm.tid ? '新增' : '修改'" :close-on-click-modal="false" :visible.sync="visible">
    <div>
      <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
          <el-row>
            <el-col :span="11">
              <el-form-item label="客服名称" prop="csName"  label-width="100px">
                <el-input type="text" v-model="dataForm.csName" placeholder="输入客服名称"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="11">
              <el-form-item label="联系类型" prop="connetType" label-width="100px">
                <el-select v-model="dataForm.connetType">
                  <el-option  v-for="item in connetTypeOptions" :key="item.value"  :label="item.label"  :value="item.value" />
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
        <el-row>
          <el-col :span="22">
            <el-form-item label="账号|URL" prop="accountOrUrl" label-width="100px">
              <el-input type="text" v-model="dataForm.accountOrUrl"  placeholder="输入账号或URL"></el-input>
            </el-form-item>
          </el-col>
        </el-row>
          <el-row>
            <el-col :span="11">
              <el-form-item label="客服类型" prop="csType"  label-width="100px">
                <el-select v-model="dataForm.type">
                  <el-option  v-for="item in typeOptions" :key="item.value"  :label="item.label"  :value="item.value" />
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="11">
            <el-form-item label="状     态" prop="status"  label-width="100px">
              <el-select v-model="dataForm.status">
                <el-option  v-for="item in statusOptions" :key="item.value"  :label="item.label"  :value="item.value" />
              </el-select>
            </el-form-item>
          </el-col>
          </el-row>
        </el-form>
    </div>
    <span slot="footer" class="dialog-footer">
           <el-button size="small" @click="visible = false">取消</el-button>
          <el-button size="small" type="primary" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
 </template>
<script>
  export default {
    data () {
      return {
        visible: false,
        dialogVisible: false,
        connetTypeOptions: [
          {
            value: 1,
            label: '推广客服'
          }, {
            value: 2,
            label: '游戏客服'
          }
        ],
        typeOptions: [{
          value: 1,
          label: '微信'
        }, {
          value: 2,
          label: 'QQ'
        }, {
          value: 3,
          label: '第三方'
        }, {
          value: 4,
          label: '自有'
        }],
        statusOptions: [{
          value: 0,
          label: '失效'
        }, {
          value: 1,
          label: '正常'
        }],
        dataForm: {
          id: 0,
          csName: '',
          connetType: 1,
          type: 1,
          accountOrUrl: '',
          status: 1
        },
        dataRule: {
          accountOrUrl: [
            { required: true, message: '账号或URL不能为空', trigger: 'blur' }
          ],
          status: [
            { required: true, message: '状态不能为空', trigger: 'blur' }
          ],
          csName: [
            { required: true, message: '客服名称不能为空', trigger: 'blur' }
          ],
          connetType: [
            { required: true, message: '联系类型不能为空', trigger: 'blur' }
          ],
          type: [
            { required: true, message: '客服类型不能为空', trigger: 'blur' }
          ]
        }
      }
    },
    mounted () {

    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.visible = true
        this.$nextTick(() => {
          this.$refs['dataForm'].resetFields()
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/csinfo/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.dataForm.id = data.csInfo.id
                this.dataForm.csName = data.csInfo.csName
                this.dataForm.connetType = data.csInfo.connetType
                this.dataForm.type = data.csInfo.type
                this.dataForm.accountOrUrl = data.csInfo.accountOrUrl
                this.dataForm.status = data.csInfo.status
              }
            })
          }
        })
      },
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/cac/csinfo/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id,
                'csName': this.dataForm.csName,
                'connetType': this.dataForm.connetType,
                'type': this.dataForm.type,
                'accountOrUrl': this.dataForm.accountOrUrl,
                'status': this.dataForm.status
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功!',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>
