<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item label="收件人:">
        <el-input v-model="dataForm.userId" align="right" clearable placeholder="收件人">
        </el-input>
      </el-form-item>
      <el-form-item label="邮件标题:">
        <el-input v-model="dataForm.title" align="right" clearable placeholder="标题">
        </el-input>
      </el-form-item>
      <el-form-item label="开始时间:">
        <el-date-picker size="small"  v-model="dataForm.startTime" placeholder="开始时间" value-format="yyyy-MM-dd"
                        format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item label="结束时间:">
        <el-date-picker size="small" v-model="dataForm.endTime" placeholder="结束时间" value-format="yyyy-MM-dd"
                        format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button size="small" type="danger" @click="showSendMailDialog()">发送邮件</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="t_id"
        header-align="center"
        align="center"
        width="80"
        label="邮件ID">
      </el-table-column>
      <el-table-column
        prop="t_accountID"
        header-align="center"
        align="center"
        width="120"
        label="收件人ID">
      </el-table-column>
      <el-table-column
        prop="t_accountName"
        header-align="center"
        align="center"
        width="120"
        label="收件人名称">
      </el-table-column>
      <el-table-column
        prop="t_nickName"
        header-align="center"
        align="center"
        width="120"
        label="收件人昵称">
      </el-table-column>
      <el-table-column
        prop="t_title"
        header-align="center"
        align="center"
        width="250"
        label="邮件标题">
      </el-table-column>
      <el-table-column
        prop="t_sender"
        header-align="center"
        align="center"
        width="150"
        label="发送人">
      </el-table-column>
      <el-table-column
        prop="t_state"
        header-align="center"
        align="center"
        width="150"
        label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.t_state === 1" size="small" type="success">未读</el-tag>
          <el-tag v-else-if="scope.row.t_state === 2" size="small" type="danger">已读</el-tag>
          <el-tag v-else-if="scope.row.t_state === 3" size="small" type="warning">领取</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="t_sendDate"
        header-align="center"
        width="180"
        :formatter="senddateFormat"
        align="center"
        label="发送日期">
      </el-table-column>
      <el-table-column
        prop="t_recvDate"
        header-align="center"
        width="180"
        :formatter="recvDateFormat"
        align="center"
        label="接收日期">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="showViewMailDialog(scope.row.t_id,scope.row.t_accountID)">查看</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗, 新增 / 修改 -->
    <SendEmail v-if="sendEmailVisible" ref="sendEmail" @refreshDataList="searchChange"></SendEmail>

    <!-- 弹窗, 新增 / 修改 -->
    <ViewEmail v-if="viewEmailVisible" ref="viewEmail" @refreshDataList="searchChange"></ViewEmail>
  </div>
</template>

<script>
  import SendEmail from './email-send'
  import ViewEmail from './email-view'

  export default {
    data () {
      return {
        dataForm: {
          userId: '',
          title: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        sendEmailVisible: false,
        viewEmailVisible: false
      }
    },
    components: {
      SendEmail, ViewEmail
    },
    created () {
      this.getDataList()
    },
    methods: {
      senddateFormat (row) {
        var date = row['t_sendDate']
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      recvDateFormat (row) {
        var date = row['t_recvDate']
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.userId = ''
        this.dataForm.title = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/mail/maillist'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'title': this.dataForm.title,
            'userId': this.dataForm.userId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 发送邮件
      showSendMailDialog () {
        this.sendEmailVisible = true
        this.$nextTick(() => {
          this.$refs.sendEmail.init()
        })
      },
      showViewMailDialog (id, userId) {
        this.viewEmailVisible = true
        this.$nextTick(() => {
          this.$refs.viewEmail.init(id, userId)
        })
      }
    }
  }
</script>
