<template>
  <el-dialog title="发送邮件" :close-on-click-modal="false" :visible.sync="visible">
    <el-form :model="dataFrom" ref="dataFrom" :rules="dataRule" label-width="80px">
      <el-row>
        <el-col :span="22">
          <el-form-item label="发送类型" prop="sendType">
            <el-select  v-model="dataFrom.sendType" placeholder="请选择">
              <el-option
                v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="22">
          <el-form-item label="邮件标题" prop="title">
            <el-input type="text" v-model="dataFrom.title" auto-complete="off"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="11">
          <el-form-item label="道具附件" prop="rewardId">
            <el-select v-model="dataFrom.rewardId" placeholder="请选择">
              <el-option
                v-for="item in optionsProp" :key="item.value" :label="item.label" :value="item.value">
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="11">
          <el-form-item label="道具数量" prop="rewardNum">
            <el-input  v-model="dataFrom.rewardNum"  placeholder="请输入道具数量"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="玩家列表" prop="userList" v-if="dataFrom.sendType == 4">
        <el-input  v-model="dataFrom.userList"   type="textarea" :rows="3" placeholder="玩家ID用逗号隔开" ></el-input>
      </el-form-item>

      <el-form-item label="邮件内容" prop="content">
        <el-input  v-model="dataFrom.content"   type="textarea" :rows="5" placeholder="请输入邮件内容"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loading: false,
        btnLoading: false,
        options: [{
          value: 5,
          label: '全服'
        }, {
          value: 4,
          label: '按个人'
        }],
        optionsProp: [{
          value: 10000,
          label: '金币'
        }],
        dataFrom: {
          sendType: 5,
          channelList: '',
          userList: '',
          title: '',
          content: '',
          sender: '',
          sendDate: '',
          rewardId: 10000,
          rewardNum: ''
        },
        dataRule: {
          sendType: [
            {required: true, message: '发送类型不能为空', trigger: 'blur'}
          ],
          title: [
            {required: true, message: '邮件标题不能为空', trigger: 'blur'}
          ],
          content: [
            {required: true, message: '邮件内容不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    mounted () {

    },
    methods: {
      cleanForm () {
        this.dataFrom.sendType = 5
        this.dataFrom.channelList = ''
        this.dataFrom.userList = ''
        this.dataFrom.title = ''
        this.dataFrom.content = ''
        this.dataFrom.sender = ''
        this.dataFrom.sendDate = ''
        this.dataFrom.rewardId = 10000
        this.dataFrom.rewardNum = ''
      },
      init () {
        this.cleanForm()
        this.btnLoading = false
        this.visible = true
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataFrom'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/mail/mailsend`),
              method: 'post',
              data: this.$http.adornData({
                'sendType': this.dataFrom.sendType,
                'userList': this.dataFrom.userList,
                'title': this.dataFrom.title,
                'content': this.dataFrom.content,
                'rewardId': this.dataFrom.rewardId,
                'rewardNum': this.dataFrom.rewardNum
              })
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '操作成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            })
          }
        })
      }
    }
  }
</script>
