<template>
  <el-dialog title="查看邮件" :close-on-click-modal="false" :visible.sync="visible">
    <el-form :model="dataFrom" ref="dataFrom"  label-width="80px">
      <el-form-item label="邮件标题" prop="title">
        <el-input type="text" v-model="dataFrom.title" disabled="false" auto-complete="off"></el-input>
      </el-form-item>

      <el-form-item label="邮件内容" prop="content">
        <el-input  v-model="dataFrom.content"  disabled="false" type="textarea" :rows="5" placeholder="请输入邮件内容"></el-input>
      </el-form-item>

      <el-form-item label="邮件附件" prop="content">
        <el-input type="text" v-model="dataFrom.rewardNum" disabled="false" auto-complete="off"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loading: false,
        options: [{
          value: 1,
          label: '全服'
        }, {
          value: 2,
          label: '全服在线'
        }, {
          value: 4,
          label: '按个人'
        }],
        optionsProp: [{
          value: 10000,
          label: '金币'
        }],
        dataFrom: {
          id: 0,
          sendType: 1,
          channelList: '',
          userList: '',
          title: '',
          content: '',
          sender: '',
          sendDate: '',
          rewardId: 10000,
          userId: 0,
          rewardNum: ''
        }
      }
    },
    mounted () {

    },
    methods: {
      cleanForm () {
        this.dataFrom.id = 0
        this.dataFrom.sendType = 1
        this.dataFrom.channelList = ''
        this.dataFrom.userList = ''
        this.dataFrom.title = ''
        this.dataFrom.content = ''
        this.dataFrom.sender = ''
        this.dataFrom.sendDate = ''
        this.dataFrom.rewardId = 10000
        this.dataFrom.rewardNum = ''
      },
      init (id, userId) {
        this.cleanForm()
        this.dataFrom.id = id
        this.dataFrom.userId = userId
        this.$nextTick(() => {
          if (this.dataFrom.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/mail/mailinfo`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataFrom.id,
                'userId': this.dataFrom.userId
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.visible = true
                this.dataFrom.title = data.usermail.title
                this.dataFrom.content = data.usermail.content
                this.dataFrom.rewardNum = '金币x' + data.usermail.num
              }
            })
          }
        })
      }
    }
  }
</script>
