<template>
  <el-dialog title="发送邮件" :close-on-click-modal="false" :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm" :rules="dataRule" label-width="80px">
      <el-form-item label="玩家ID" prop="accountId">
        <el-input type="text" v-model="dataForm.accountId" auto-complete="off" placeholder="默认0，推送所有玩家"></el-input>
      </el-form-item>
      <el-form-item label="主标题" prop="title">
        <el-input type="text" v-model="dataForm.title" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="副标题" prop="subTitle">
        <el-input type="text" v-model="dataForm.subTitle" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="推送类型" prop="pushType">
        <el-select  v-model="dataForm.pushType" placeholder="请选择">
          <el-option
            v-for="item in pushTypes" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="开始时间:" prop="start" v-if="dataForm.pushType==2">
        <el-date-picker v-model="dataForm.start" placeholder="开始时间" value-format="yyyy-MM-dd HH:mm:ss"
                        format="yyyy-MM-dd HH:mm:ss" type="datetime"></el-date-picker>
      </el-form-item>
      <el-form-item label="结束时间:" prop="finish" v-if="dataForm.pushType==2">
        <el-date-picker v-model="dataForm.finish" placeholder="结束时间" value-format="yyyy-MM-dd HH:mm:ss"
                        format="yyyy-MM-dd HH:mm:ss" type="datetime"></el-date-picker>
      </el-form-item>

      <el-form-item label="推送内容" prop="content">
        <el-input  v-model="dataForm.content"   type="textarea" :rows="5" placeholder="请输入邮件内容"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button size="small" @click="visible = false">取消</el-button>
      <el-button size="small" type="primary" :loading="btnLoading" @click="dataFormSubmit()">确定</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loading: false,
        btnLoading: false,
        pushTypes: [{
          value: 1,
          label: '及时推送'
        }, {
          value: 2,
          label: '定时推送'
        }],
        dataForm: {
          accountId: '',
          pushType: '',
          start: null,
          finish: null,
          title: '',
          subTitle: '',
          content: ''
        },
        dataRule: {
          pushType: [
            {required: true, message: '推送类型不能为空', trigger: 'blur'}
          ],
          title: [
            {required: true, message: '主标题不能为空', trigger: 'blur'}
          ],
          subTitle: [
            {required: true, message: '主标题不能为空', trigger: 'blur'}
          ],
          content: [
            {required: true, message: '消息内容不能为空', trigger: 'blur'}
          ]
        }
      }
    },
    methods: {
      cleanForm () {
        this.dataForm.accountId = ''
        this.dataForm.pushType = ''
        this.dataForm.start = null
        this.dataForm.finish = null
        this.dataForm.title = ''
        this.dataForm.subTitle = ''
        this.dataForm.content = ''
      },
      init () {
        this.cleanForm()
        this.btnLoading = false
        this.visible = true
      },
      // 表单提交
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.btnLoading = true
            this.$http({
              url: this.$http.adornUrl(`/cac/msg/send`),
              method: 'post',
              data: this.$http.adornData(this.dataForm)
            }).then(({data}) => {
              this.btnLoading = false
              if (data && data.code === 0) {
                this.$message({
                  message: '推送成功',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
                this.btnLoading = false
              }
            }).catch(err => {
              this.$message({
                message: '推送失败',
                type: 'error',
                duration: 1500,
                onClose: () => {
                  this.$emit('refreshDataList')
                }
              })
              this.btnLoading = false
              console.log(err.response.data.message)
            })
          }
        })
      }
    }
  }
</script>
