<template>
  <el-dialog title="查看消息" :close-on-click-modal="false" :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm"  label-width="80px">
      <el-form-item label="消息ID" prop="id">
        <el-input type="text" v-model="dataForm.id" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="guId" prop="guId">
        <el-input type="text" v-model="dataForm.guId" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="玩家ID" prop="accountId">
        <el-input type="text" v-model="dataForm.accountId" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="推送类型" prop="pushType">
        <el-input type="text" v-model="dataForm.pushType" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="状态" prop="subTitle">
        <el-input type="text" v-model="dataForm.status" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="开始时间" prop="start">
        <el-input type="text" v-model="dataForm.start" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="结束时间" prop="finish">
        <el-input type="text" v-model="dataForm.finish" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="主标题" prop="title">
        <el-input type="text" v-model="dataForm.title" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="副标题" prop="subTitle">
        <el-input type="text" v-model="dataForm.subTitle" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="消息内容" prop="content">
        <el-input  v-model="dataForm.content"  disabled="disabled" type="textarea" :rows="5" placeholder="请输入消息内容"></el-input>
      </el-form-item>

    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" :plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loading: false,
        dataForm: {
          id: '',
          guId: '',
          accountId: '',
          pushType: '',
          start: '',
          finish: '',
          title: '',
          subTitle: '',
          content: '',
          status: ''
        }
      }
    },
    methods: {
      cleanForm () {
        this.dataForm.id = ''
        this.dataForm.guId = ''
        this.dataForm.accountId = ''
        this.dataForm.pushType = ''
        this.dataForm.start = ''
        this.dataForm.finish = ''
        this.dataForm.title = ''
        this.dataForm.subTitle = ''
        this.dataForm.content = ''
        this.dataForm.status = ''
      },
      init (id) {
        this.cleanForm()
        this.dataForm.id = id
        this.$nextTick(() => {
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/msg/info/` + this.dataForm.id),
              method: 'post'
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.visible = true
                this.dataForm.id = data.result.id
                this.dataForm.guId = data.result.guId
                this.dataForm.accountId = data.result.accountId
                this.dataForm.pushType = data.result.pushType === 1 ? '及时推送' : '定时推送'
                this.dataForm.start = data.result.start
                this.dataForm.finish = data.result.finish
                this.dataForm.title = data.result.title
                this.dataForm.subTitle = data.result.subTitle
                this.dataForm.content = data.result.content
                this.dataForm.status = data.result.status === 1 ? '成功' : '失败'
              }
            })
          }
        })
      }
    }
  }
</script>
