<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item label="玩家ID:">
        <el-input v-model="dataForm.accountId" align="right" clearable placeholder="玩家唯一标识">
        </el-input>
      </el-form-item>
      <el-form-item label="主标题:">
        <el-input v-model="dataForm.title" align="right" clearable placeholder="主标题">
        </el-input>
      </el-form-item>
      <el-form-item label="开始时间:">
        <el-date-picker size="small"  v-model="dataForm.startTime" placeholder="开始时间" value-format="yyyy-MM-dd"
                        format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item label="结束时间:">
        <el-date-picker size="small" v-model="dataForm.endTime" placeholder="结束时间" value-format="yyyy-MM-dd"
                        format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" @click="searchChange()" icon="el-icon-search">查询</el-button>
        <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
        <el-button size="small" type="danger" @click="showSendMsgDialog()">推送消息</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      size="small"
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="id"
        header-align="center"
        align="center"
        width="80"
        label="消息ID" />
      <!--<el-table-column
        prop="guId"
        header-align="center"
        align="center"
        width="120"
        label="guId">
      </el-table-column>-->
      <el-table-column
        prop="accountId"
        header-align="center"
        align="center"
        width="120"
        label="玩家ID">
      </el-table-column>
      <el-table-column
        prop="pushType"
        header-align="center"
        align="center"
        width="150"
        label="推送类型">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.pushType === 1" size="small" type="success">及时推送</el-tag>
          <el-tag v-else-if="scope.row.pushType === 2" size="small" type="danger">定时推送</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="status"
        header-align="center"
        align="center"
        width="150"
        label="状态">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.status === 1" size="small" type="success">成功</el-tag>
          <el-tag v-else-if="scope.row.status === 2" size="small" type="danger">失败</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="start"
        header-align="center"
        align="center"
        width="160"
        label="开始时间">
      </el-table-column>
      <el-table-column
        prop="finish"
        header-align="center"
        width="160"
        align="center"
        label="结束时间">
      </el-table-column>
      <el-table-column
        prop="title"
        header-align="center"
        align="center"
        width="300"
        label="主标题">
      </el-table-column>
      <el-table-column
        prop="subTitle"
        header-align="center"
        align="center"
        width="300"
        label="副标题">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="showViewMsgDialog(scope.row.id)">查看详情</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <!-- 弹窗 推送 -->
    <SendMsg v-if="sendMsgVisible" ref="sendMsg" @refreshDataList="searchChange"></SendMsg>

    <!-- 弹窗 查看 -->
    <ViewMsg v-if="viewMsgVisible" ref="viewMsg" @refreshDataList="searchChange"></ViewMsg>
  </div>
</template>

<script>
  import SendMsg from './msg-send'
  import ViewMsg from './msg-view'

  export default {
    data () {
      return {
        dataForm: {
          accountId: '',
          title: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        sendMsgVisible: false,
        viewMsgVisible: false
      }
    },
    components: {
      SendMsg, ViewMsg
    },
    created () {
      this.getDataList()
    },
    methods: {
      sendDateFormat (row) {
        var date = row['t_sendDate']
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      recvDateFormat (row) {
        var date = row['t_recvDate']
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      clearForm () {
        this.dataForm.accountId = ''
        this.dataForm.title = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/msg/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'title': this.dataForm.title,
            'accountId': this.dataForm.accountId,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 发送邮件
      showSendMsgDialog () {
        this.sendMsgVisible = true
        this.$nextTick(() => {
          this.$refs.sendMsg.init()
        })
      },
      showViewMsgDialog (id) {
        this.viewMsgVisible = true
        this.$nextTick(() => {
          this.$refs.viewMsg.init(id)
        })
      }
    }
  }
</script>
