<template>
  <div class="mod-config">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="searchChange()">
      <el-form-item label="标题:">
        <el-input size="small" v-model="dataForm.title" placeholder="标题" prefix-icon="el-icon-edit" clearable></el-input>
      </el-form-item>
      <el-form-item label="开始时间:">
        <el-date-picker size="small" v-model="dataForm.startTime" placeholder="开始时间" value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-form-item label="结束时间:">
        <el-date-picker size="small" v-model="dataForm.endTime" placeholder="结束时间" value-format="yyyy-MM-dd" format="yyyy-MM-dd" type="date"></el-date-picker>
      </el-form-item>
      <el-button type="primary" size="small" @click="searchChange()">查询</el-button>
      <el-button size="small" @click="clearForm()" icon="el-icon-delete">清空</el-button>
      <el-button type="danger" @click="sendPush" size="small">发送推送</el-button>
    </el-form>
    <el-table
      :data="dataList"
      size="small"
      border
      v-loading="dataListLoading"
      @selection-change="selectionChangeHandle"
      style="width: 100%;">
      <el-table-column
        prop="msgId"
        header-align="center"
        align="center"
        width="180"
        label="消息ID" />
      <el-table-column
        prop="channelId"
        header-align="center"
        align="center"
        width="180"
        label="渠道编码" />
      <el-table-column
        prop="platform"
        header-align="center"
        align="center"
        width="120"
        label="平台">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.platform === 'all'" size="small" type="success">全部平台</el-tag>
          <el-tag v-else-if="scope.row.platform === 'android'" size="small" type="danger">android</el-tag>
          <el-tag v-else-if="scope.row.platform === 'ios'" size="small" type="warning">ios</el-tag>
          <el-tag v-else-if="scope.row.platform === 'winphone'" size="small" type="info">winphone</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="platformName"
        header-align="center"
        align="center"
        width="150"
        label="通道名称">
      </el-table-column>
      <el-table-column
        prop="configName"
        header-align="center"
        align="center"
        width="150"
        label="配置名称">
      </el-table-column>
      <el-table-column
        prop="title"
        header-align="center"
        align="center"
        width="160"
        label="标题">
      </el-table-column>
      <el-table-column
        prop="content"
        header-align="center"
        width="300"
        align="center"
        label="内容体">
      </el-table-column>
      <el-table-column
        prop="pushTimeStr"
        header-align="center"
        align="center"
        width="200"
        label="推送时间">
      </el-table-column>
      <el-table-column
        prop="pushBy"
        header-align="center"
        align="center"
        width="200"
        label="推送操作人">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="200"
        label="操作">
        <template slot-scope="scope">
          <el-button type="text"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewPushRecord(scope.row.id)">查看</el-button>
          <el-button type="text"
                     v-if="scope.row.timeType === 0"
                     icon="el-icon-check"
                     size="small"
                     plain
                     @click="viewPushReport(scope.row.id)">送达信息</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>

    <!-- 发送 -->
    <PushSend  ref="pushSend" @refreshDataList="searchChange"></PushSend>
    <!-- 查看 -->
    <PushView  ref="pushView" @refreshDataList="searchChange"></PushView>
    <!-- 报表 -->
    <PushReport  ref="pushReport" @refreshDataList="searchChange"></PushReport>
  </div>
</template>

<script>
  import PushSend from './push-send'
  import PushView from './push-view'
  import PushReport from './push-report'
  export default {
    data () {
      return {
        dataForm: {
          title: '',
          startTime: '',
          endTime: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        sendMsgVisible: false,
        viewMsgVisible: false
      }
    },
    components: {
      PushSend, PushView, PushReport
    },
    created () {
      this.getDataList()
    },
    methods: {
      sendDateFormat (row) {
        var date = row['t_sendDate']
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      recvDateFormat (row) {
        var date = row['t_recvDate']
        if (date === undefined || date === '') {
          return ''
        }
        return this.$moment(parseInt(date) * 1000).format('YYYY-MM-DD HH:mm:ss')
      },
      searchChange () {
        this.pageIndex = 1
        this.getDataList()
      },
      sendPush () {
        this.$nextTick(() => {
          this.$refs.pushSend.init()
        })
      },
      viewPushRecord (id) {
        this.$nextTick(() => {
          this.$refs.pushView.init(id)
        })
      },
      viewPushReport (id) {
        this.$nextTick(() => {
          this.$refs.pushReport.init(id)
        })
      },
      clearForm () {
        this.dataForm.title = ''
        this.dataForm.startTime = ''
        this.dataForm.endTime = ''
      },
      // 获取数据列表
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/cac/push/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'title': this.dataForm.title,
            'startTime': this.dataForm.startTime,
            'endTime': this.dataForm.endTime
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      // 每页数
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      // 当前页
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      // 多选
      selectionChangeHandle (val) {
        this.dataListSelections = val
      },
      // 发送邮件
      showSendMsgDialog () {
        this.sendMsgVisible = true
        this.$nextTick(() => {
          this.$refs.sendMsg.init()
        })
      },
      showViewMsgDialog (id) {
        this.viewMsgVisible = true
        this.$nextTick(() => {
          this.$refs.viewMsg.init(id)
        })
      }
    }
  }
</script>
