<template>
  <el-dialog title="查看消息" :close-on-click-modal="false" :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm"  label-width="180px">
      <el-form-item label="消息编码" prop="msg_id">
        <el-input type="text" v-model="dataForm.msg_id" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="Android送达" prop="android_received">
        <el-input type="text" v-model="dataForm.android_received" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="Ios推送到APNs" prop="ios_apns_sent">
        <el-input type="text" v-model="dataForm.ios_apns_sent" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="Ios通知送达到设备" prop="ios_apns_received">
        <el-input type="text" v-model="dataForm.ios_apns_received" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="自定义消息送达数" prop="ios_msg_received">
        <el-input type="text" v-model="dataForm.ios_msg_received" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="Winphone通知送达" prop="start">
        <el-input type="text" v-model="dataForm.wp_mpns_sent" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>

    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" :plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loading: false,
        dataForm: {
          id: '',
          msg_id: '',
          android_received: '',
          ios_apns_sent: '',
          ios_apns_received: '',
          ios_msg_received: '',
          wp_mpns_sent: ''
        }
      }
    },
    methods: {
      cleanForm () {
        this.dataForm.id = ''
        this.dataForm.msg_id = ''
        this.dataForm.android_received = ''
        this.dataForm.ios_apns_sent = ''
        this.dataForm.ios_apns_received = ''
        this.dataForm.ios_msg_received = ''
        this.dataForm.wp_mpns_sent = ''
      },
      init (id) {
        this.cleanForm()
        this.dataForm.id = id
        this.$nextTick(() => {
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/push/getReportById/` + this.dataForm.id),
              method: 'get'
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.visible = true
                if (data.pushReport != null && data.pushReport.received_list !== null && data.pushReport.received_list.length > 0) {
                  this.dataForm.msg_id = data.pushReport.received_list[0].msg_id
                  this.dataForm.android_received = data.pushReport.received_list[0].android_received
                  this.dataForm.ios_apns_sent = data.pushReport.received_list[0].ios_apns_sent
                  this.dataForm.ios_apns_received = data.pushReport.received_list[0].ios_apns_received
                  this.dataForm.ios_msg_received = data.pushReport.received_list[0].ios_msg_received
                  this.dataForm.wp_mpns_sent = data.pushReport.received_list[0].wp_mpns_sent
                }
              }
            })
          }
        })
      }
    }
  }
</script>
