<template>
  <el-dialog title="查看消息" :close-on-click-modal="false" :visible.sync="visible">
    <el-form :model="dataForm" ref="dataForm"  label-width="80px">
      <el-form-item label="消息ID" prop="id">
        <el-input type="text" v-model="dataForm.msgId" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="平台" prop="guId">
        <el-input type="text" v-model="dataForm.platform" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="发送时间" prop="timeType">
        <el-input type="text" v-model="dataForm.timeType" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="保留时长" prop="timeLong">
        <el-input type="text" v-model="dataForm.timeLong" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="发送类型" prop="sendType">
        <el-input type="text" v-model="dataForm.sendType" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="指定设备" prop="audience">
        <el-input type="text" v-model="dataForm.audience" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="定时时间" prop="retainTime">
        <el-input type="text" v-model="dataForm.retainTime" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="通道名称" prop="platformName">
        <el-input type="text" v-model="dataForm.platformName" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="推送时间" prop="pushTime">
        <el-input type="text" v-model="dataForm.pushTime" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="操作人" prop="pushBy">
        <el-input type="text" v-model="dataForm.pushBy" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="标题" prop="title">
        <el-input type="text" v-model="dataForm.title" disabled="disabled" auto-complete="off"></el-input>
      </el-form-item>
      <el-form-item label="内容体" prop="content">
        <el-input  v-model="dataForm.content"  disabled="disabled" type="textarea" :rows="5" placeholder="请输入消息内容"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button type="warning" icon="el-icon-circle-close" @click="visible = false" size="mini" :plain="true">关闭</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        loading: false,
        dataForm: {
          msgId: '',
          channelId: '',
          platform: '',
          audience: '',
          title: '',
          content: '',
          configId: '',
          configName: '',
          platformId: '',
          platformName: '',
          sendSys: '',
          timeType: '',
          retainTime: '',
          pushTime: '',
          pushBy: '',
          timeLong: '',
          sendType: ''
        }
      }
    },
    methods: {
      cleanForm () {
        this.dataForm.id = 0
        this.dataForm.msgId = ''
        this.dataForm.channelId = ''
        this.dataForm.audience = ''
        this.dataForm.title = ''
        this.dataForm.content = ''
        this.dataForm.configId = ''
        this.dataForm.configName = ''
        this.dataForm.platformId = ''
        this.dataForm.platformName = ''

        this.dataForm.sendSys = ''
        this.dataForm.timeType = ''
        this.dataForm.retainTime = ''
        this.dataForm.pushTime = ''
        this.dataForm.pushBy = ''
        this.dataForm.timeLong = ''
        this.dataForm.configName = ''
        this.dataForm.sendType = ''
      },
      init (id) {
        this.cleanForm()
        this.dataForm.id = id
        this.$nextTick(() => {
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/cac/push/getById/` + this.dataForm.id),
              method: 'get'
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.visible = true
                this.dataForm.msgId = data.pushRecord.msgId
                this.dataForm.channelId = data.pushRecord.channelId
                if (data.pushRecord.platform === 'all') {
                  this.dataForm.platform = '全部平台'
                } else if (data.pushRecord.platform === 'ios') {
                  this.dataForm.platform = 'ios'
                } else if (data.pushRecord.platform === 'ios') {
                  this.dataForm.platform = 'android'
                } else if (data.pushRecord.platform === 'ios') {
                  this.dataForm.platform = 'winphone'
                }
                this.dataForm.audience = data.pushRecord.audience
                this.dataForm.title = data.pushRecord.title
                this.dataForm.content = data.pushRecord.content
                this.dataForm.configId = data.pushRecord.configId
                this.dataForm.configName = data.pushRecord.configName
                this.dataForm.platformId = data.pushRecord.platformId
                this.dataForm.platformName = data.pushRecord.platformName
                this.dataForm.sendSys = data.pushRecord.sendSys
                this.dataForm.timeType = data.pushRecord.timeType === 0 ? '立即' : '定时'
                this.dataForm.retainTime = data.pushRecord.retainTimeStr
                this.dataForm.pushTime = data.pushRecord.pushTimeStr
                this.dataForm.pushBy = data.pushRecord.pushBy
                this.dataForm.timeLong = data.pushRecord.timeLong
                this.dataForm.sendType = data.pushRecord.sendType === 0 ? '全体' : '别名'
              }
            })
          }
        })
      }
    }
  }
</script>
