<style>
  .tb-edit .el-input {
    display: none
  }

  .tb-edit .el-input-number {
    display: none
  }

  .tb-edit .el-button {
    display: none
  }

  .tb-edit .current-row .el-input {
    display: block
  }

  .tb-edit .current-row .el-input-number {
    display: block
  }

  .tb-edit .current-row .el-button {
    display: inline
  }

  .tb-edit .current-row .el-input + span {
    display: none
  }

  .tb-edit .current-row .el-input-number + span {
    display: none
  }
</style>

<template>

  <div class="mod-config">
    <el-dialog title="聊天室配置" :visible.sync="dialogTableVisible">
      <el-table :data="gridData" v-loading="roomListLoading" highlight-current-row class="tb-edit">
        <el-table-column property="room_id" label="房间号" width="150"></el-table-column>
        <el-table-column label="房间名称" width="200">
          <template slot-scope="scope">
            <el-input v-model="scope.row.name" size="small"></el-input>
            <span>{{scope.row.name}}</span>
          </template>
        </el-table-column>
        <el-table-column label="房间备注" width="200">
          <template slot-scope="scope">
            <el-input v-model="scope.row.note" size="small"></el-input>
            <span>{{scope.row.note}}</span>
          </template>
        </el-table-column>
        <el-table-column label="发言等级">
          <template slot-scope="scope">
            <el-input-number v-model="scope.row.vip" :min="-1" :max="9" size="small"></el-input-number>
            <span>{{scope.row.vip}}</span>
          </template>
        </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="success" icon="el-icon-check" circle size="mini" @click="setRoom(scope.$index, scope.row)"></el-button>
            <el-button type="warning" icon="el-icon-refresh" circle size="mini" @click="getRoomData()"></el-button>
          </template>
        </el-table-column>
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogTableVisible = false" icon="el-icon-close" type="danger" size="small">关闭</el-button>
      </span>
    </el-dialog>
    <el-dialog title="清空聊天记录" :visible.sync="cleanDialogVisible" width="200px">
      <el-form ref="form" :inline="true" :model="cleanForm" label-width="20px">
        <el-form-item>
          <el-input v-model="cleanForm.group_id" size="small" placeholder="群组ID" clearable></el-input>
        </el-form-item>
        <el-form-item>
          <el-input v-model="cleanForm.room_id" size="small" placeholder="聊天室ID" clearable></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cleanDialogVisible = false" icon="el-icon-close" type="info" size="small">取消</el-button>
        <el-button @click="cleanIMRecord()" icon="el-icon-check" type="success" size="small">确定</el-button>
      </span>
    </el-dialog>
    <el-form ref="form" :inline="true" :model="form" label-width="80px">
      <el-form-item>
        <el-input v-model="form.searchText" size="small" placeholder="玩家ID" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button size="small" type="primary" icon="el-icon-search" @click="searchChange()">查询</el-button>
        <el-button type="danger" size="small" @click="openDialog()">聊天室配置</el-button>
        <el-button type="warning" size="small" @click="openCleanDialog()">清空聊天记录</el-button>
      </el-form-item>
    </el-form>
    <el-table border size="small" style="width: 100%;" :data="tableData" v-loading="dataListLoading">
      <el-table-column
        type="index"
        width="100"
        header-align="center"
        label="序号" align="center">
      </el-table-column>
      <el-table-column
        property="userid"
        label="ID"
        header-align="center"
        width="250" align="center">
      </el-table-column>
      <el-table-column
        property="Nickname"
        label="昵称"
        header-align="center"
        width="250"
        align="center">
      </el-table-column>
      <el-table-column
        property="vip"
        header-align="center"
        label="成员等级" width="250" align="center">
      </el-table-column>
      <el-table-column
        property="up_userid"
        header-align="center"
        label="上级ID" width="250" align="center">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        label="超管">
        <template slot-scope="scope">
          <el-switch
            size="mini"
            v-model="scope.row.isCG"
            active-value="1"
            inactive-value="0"
            @change="setFlag($event, scope.row, 1)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        label="禁言">
        <template slot-scope="scope">
          <el-switch
            size="mini"
            v-model="scope.row.isJY"
            active-value="1"
            inactive-value="0"
            @change="setFlag($event, scope.row, 2)">
          </el-switch>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        label="拉黑">
        <template slot-scope="scope">
          <el-switch
            size="mini"
            v-model="scope.row.isBlack"
            active-value="1"
            inactive-value="0"
            @change="setFlag($event, scope.row, 3)">
          </el-switch>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>
<script>
  export default {
    data() {
      return {
        form: {
          searchText: null
        },
        cleanForm: {
          room_id: null,
          group_id: null
        },
        dialogTableVisible: false,
        cleanDialogVisible: false,
        tableData: [],
        gridData: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        roomListLoading: false,
        dataListSelections: [],
        addOrUpdateVisible: false
      }
    },
    computed: {
      channelId: {
        get() {
          return this.$store.state.user.channelId
        }
      }
    },
    methods: {
      searchChange() {
        this.pageIndex = 1
        this.getTableData()
      },
      setRoom(index, row) {
        this.roomListLoading = true
        this.$http({
          url: this.$http.imApiUrl('/SetChannelVip'),
          method: 'post',
          data: this.$http.adornData({
            'channel_id': this.channelId,
            'room_id': row.room_id,
            'vip': row.vip.toString(),
            'name': row.name,
            'note': row.note
          })
        }).then(({data}) => {
          if (data && data.code === '0') {
            this.getRoomData()
          } else {
          }
          this.roomListLoading = false
        })
      },
      // 获取数据列表
      getTableData() {
        this.dataListLoading = true
        this.$http({
          url: this.$http.imApiUrl('/GetUserInfoFromUserid'),
          method: 'post',
          data: this.$http.adornData({
            'channel_id': this.channelId,
            'userid': this.form.searchText,
            'TotalCount': this.pageSize + ''
          })
        }).then(({data}) => {
          if (data && data.code === '0') {
            this.tableData = [data.data]
            this.tableData.forEach(value => {
              value.isCG = value.flags.charAt(0)
              value.isJY = value.flags.charAt(1)
              value.isBlack = value.flags.charAt(2)
              value.up_userid = value.up_userid === '0' ? '无' : value.up_userid
            })
          } else {
            this.tableData = []
          }
          this.dataListLoading = false
        })
      },
      openDialog() {
        this.dialogTableVisible = true
        this.getRoomData()
      },
      openCleanDialog() {
        this.cleanForm.group_id = null
        this.cleanForm.room_id = null
        this.cleanDialogVisible = true
      },
      getRoomData() {
        this.roomListLoading = true
        this.$http({
          url: this.$http.imApiUrl('/GetChannelVip'),
          method: 'post',
          data: this.$http.adornData({
            'channel_id': this.channelId
          })
        }).then(({data}) => {
          if (data && data.code === '0') {
            this.gridData = data.data
          } else {
            this.gridData = []
          }
          this.roomListLoading = false
        })
      },
      setFlag($event, row, pos) {
        this.dataListLoading = true
        this.$http({
          url: this.$http.imApiUrl('/SetUserAuthority'),
          method: 'post',
          data: this.$http.adornData({
            'channel_id': this.channelId,
            'userid': row.userid,
            'flags': this.replacePos(row.flags, pos, $event)
          })
        }).then(({data}) => {
          if (data && data.code === '0') {
            this.getTableData()
          } else {
          }
          this.dataListLoading = false
        })
      },
      setVip($event, row) {
        this.roomListLoading = true
        this.$http({
          url: this.$http.imApiUrl('/SetChannelVip'),
          method: 'post',
          data: this.$http.adornData({
            'channel_id': this.channelId,
            'room_id': row.room_id,
            'vip': $event.toString(),
            'name': row.name,
            'note': row.note
          })
        }).then(({data}) => {
          if (data && data.code === '0') {
            this.getRoomData()
          } else {
          }
          this.roomListLoading = false
        })
      },
      cleanIMRecord() {
        if (this.cleanForm.room_id || this.cleanForm.group_id) {
          this.$http({
            url: this.$http.imApiUrl('/ClearMessage'),
            method: 'post',
            data: this.$http.adornData({
              'room_id': this.cleanForm.room_id,
              'group_id': this.cleanForm.group_id
            })
          }).then(({data}) => {
             if (data && data.code === '0') {
              this.cleanDialogVisible = false
            } else {
            }
            // this.cleanDialogVisible = false
          })
        }
      },
      replacePos(strObj, pos, replacement) {
        var str = strObj.substr(0, pos - 1)
        str += replacement
        str += strObj.substring(pos, strObj.length)
        return str
      }
    }
  }
</script>
